<ng2-toasty [position]="'top-center'"></ng2-toasty>


<!-- <form [formGroup]="customPhrasesForm"> -->
<div style="margin: 0px 206px 0 32px;"> 
     <div class="top-header" style="justify-content: space-between;">
          <h2 class="header-title">{{global.language?.playbooks?.customPhrase?.title}}</h2>      
    </div>
    <div  class="custom-phrases-text">
        <p>{{global.language?.playbooks?.customPhrase?.customDesc}}</p>
    </div>
    <div *ngFor="let add of customModel.customDicObj.customVocabulary; let i=index">
        <div class="topic-edit-ipt" style="display: flex; margin-top: 5px;">
                 
                   <div class="form-group">
                       <label>{{global.language?.playbooks?.customPhrase?.phrase}}</label>               
                    <input type="text"class="form-control custom-phrases-input" [(ngModel)]="add.phrases"  (keypress)="omit_special_char($event)" (keypress)="keyPressSpaceRemove($event)">
                   </div>
                
              
                <div class="form-group"style="padding:  0 8px;">
                    <label>{{global.language?.playbooks?.customPhrase?.sound}}</label>
                    <button type="button" *ngIf="i==0" tooltip="{{global.language?.playbooks?.customPhrase?.tooltipSound}}" placement="right" style="background: transparent;border: 0;outline: 0 !important;">
                        <img src="../assets/img/microinteraction/helptext.svg" style="margin-top: -5px;" >
                        </button>
                    <input type="text"class="form-control custom-phrases-input"  [(ngModel)]="add.soundsLike"(keypress)="keyPressSpaceRemove($event)" (keypress)="omit_special_char($event)" >
               </div>
              
              
                <div class="form-group"> 
                    <label>{{global.language?.playbooks?.customPhrase?.display}}</label>  
                    <button *ngIf="i==0" tooltip="{{global.language?.playbooks?.customPhrase?.tooltipDisplay}}" placement="right" style="background: transparent;border: 0;outline: 0 !important;">
                        <img src="../assets/img/microinteraction/helptext.svg" style="margin-top: -5px;" >
                        </button> 
                    <input type="text"class="form-control custom-phrases-input" [(ngModel)]="add.displayAs" (keypress)="omit_special_char($event)" >
               </div>
               <!-- <div *ngIf="(customPhrasesForm.controls['phrases'].errors.required ||customPhrasesForm.controls['soundlike'].errors.required || customPhrasesForm.controls['display'].errors.required    ) " >
                 please enter the Custom phrases
               </div> -->
            
             
                          <!-- style="outline: none;" -->
                <button type="button" class="btn-delete-icon" (click)="removephrase(i)"> 
                  <img src="../assets/img/microinteraction/delete.svg">
                </button>         
            </div>
                   
    
 </div>
 <span *ngIf="errorValidation.customPhrasesError!=null && isSubmit" class="errormsg-topic"style=" position: relative; top: -14px;">{{global.language?.playbooks?.customPhrase?.customError}}</span>

 <div>
    <button type="button" class="add-btn" style="margin-bottom: 24px;outline: 0px;"(click)="addPhrase()">
    <img src="../assets/img/microinteraction/add_item.svg" style="padding-right: 10px;">
    <span class="btn-txt-add">{{global.language?.playbooks?.customPhrase?.add}}</span>
  </button>
</div> 
<div class="save-cancel">
    <button type="button" class="btn-save" *ngIf = "global.rolePermissions.playbooks.customPhrases.isViewEdit == true" [disabled]="loading" (click)="saveCustomPhrases()">{{global.language?.playbooks?.customPhrase?.saveCancel?.save}}</button>
    <button type="button" class="btn-cancel" (click)="getCustomPhrases()">{{global.language?.playbooks?.customPhrase?.saveCancel?.cancel}}</button>
   </div>
 </div>
<!-- </form> -->