<!-- <p>realtime-queue works!</p> -->
<div style="margin: 32px 20px 4pc 32px;">
    <div class="page-title mb-3">
        <h2>Queue Stats</h2>
    </div>
    
    <!-- <div class="interactions-sort status-card mb-4">
      <div class="status-style status-online-bg">Online</div>
      <div class="status-style status-interacting-bg">Interacting</div>
      <div class="status-style status-break-bg">Break</div>
    </div> -->
    <!-- <div>
        <p-table [value]="queueList" [scrollable]="true" scrollHeight="200px">
            <ng-template pTemplate="header">
                <tr>
                    <th>Queue Name</th>
                    <th>Media Type</th>
                    <th>nOffered</th>
                    <th>tAnswered</th>
                    <th>attributes_Publication</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-queue>
                <tr>
                    <td class="us-name">{{queue.queueName != undefined ? queue.queueName : "N/A"}}</td>
                    <td>{{queue.mediaType != undefined ? queue.mediaType : "N/A"}}</td>
                    <td>{{queue.nOffered != undefined ? queue.nOffered : "N/A"}}</td>
                    <td>{{queue.tAnswered != undefined ? queue.tAnswered : "N/A"}}</td>
                    <td>{{queue.attributes_Publication != undefined ? queue.attributes_Publication : "N/A"}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div> -->
    
    <!-- <div class="interactions-sort status-card mb-4">
        <div class="status-style status-online-bg">Service Level</div>
        <div class="status-style status-interacting-bg">Abandoned Rate</div>
        <div class="status-style status-break-bg">AHT</div>
    </div> -->
   <div> 
         
        <div  class="pr-4 mb-4">
            <p-table #dt1 class="queue-realtime" [columns]="selectedColumns" [value]="queueList" [resizableColumns]="true" sortField="QueueName" [paginator]="true" [rows]="100" 
            styleClass="p-datatable-gridlines" [globalFilterFields]="['QueueName','mediaType']">

                <ng-template pTemplate="caption">
                    <div class="p-d-flex" style="height: 30px;">
                        <span class="col-md-4 pl-0 p-input-icon-left p-ml-auto">
                            <i class="pi pi-search icon-style"></i>
                            <input pInputText class="srch-box form-control" type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search by QueueName/Media type" />
                        </span>
                        <span class="col-md-4 pl-0 pr-0 p-input-icon-left p-ml-auto">
                            <p-multiSelect [options]="queueDDList" [(ngModel)]="selectedQueues"  [ngModelOptions]="{standalone: true}"
                            maxSelectedLabels="0" selectedItemsLabel="{0} Queue selected"  defaultLabel="Filter by Queue Name..." (onChange)="onChangefilter(selectedQueues)"></p-multiSelect>
                        </span>
                        <span class="col-md-4 pr-0 p-input-icon-left p-ml-auto">
                            <p-multiSelect [options]="columnList" [(ngModel)]="selectedColumns"  [ngModelOptions]="{standalone: true}" optionLabel="header"
                            maxSelectedLabels="0" selectedItemsLabel="{0} columns selected"  defaultLabel="Choose columns..." ></p-multiSelect>
                        </span>
                    
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <!-- <tr> 
                        <th pResizableColumn class="table-header-style" style="width: 4%;">S.No</th>
                        <th pSortableColumn="QueueName" pResizableColumn class="table-header-style">Queue Name
                            <i class="pi pi-sort-amount-up" field="QueueName"></i>
                        </th>
                        <th pResizableColumn class="table-header-style">Media Type</th>
                        <th pResizableColumn class="table-header-style">Attribute</th>
                        <th pResizableColumn class="table-header-style">Caller ID</th>
                        <th pResizableColumn class="table-header-style">Calls Waiting</th>
                        <th pResizableColumn class="table-header-style">Max Wait Time</th>
                        <th pResizableColumn class="table-header-style">Calls Offered</th>
                        <th pResizableColumn class="table-header-style">Calls Handled</th>
                        <th pResizableColumn class="table-header-style">Calls Abandoned</th>
                        <th pResizableColumn class="table-header-style">Calls Missed</th>
                        <th pResizableColumn class="table-header-style">Interacting</th>
                        <th pResizableColumn class="table-header-style">Handle Time</th>
                        <th pResizableColumn class="table-header-style">Service Level</th>
                        
                    </tr> -->
                    <tr>
                        <th pResizableColumn class="table-header-style" style="width: 4%;">S.No</th>
                        <th pSortableColumn="QueueName" pResizableColumn class="table-header-style" style="width: 18%;">Queue Name
                            <p-sortIcon field="QueueName"  style="font-size: 10px;"></p-sortIcon>
                            <!-- <p-columnFilter field="QueueName">
                                <ng-template pTemplate="header">
                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                        <span class="p-text-bold">Agent Picker</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="queueDDList" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">
                                                <img [alt]="option.label" src="assets/showcase/images/demo/avatar/{{option.image}}" width="32" style="vertical-align: middle" />
                                                <span class="p-ml-1">{{option.name}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter> -->
                        </th>
                        <th pResizableColumn [pSortableColumn]="col.field" class="table-header-style" *ngFor="let col of columns">
                            {{col.header}} <p-sortIcon [field]="col.field"  style="font-size: 10px;"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-queue let-rowIndex="rowIndex" let-columns="columns" >
                    <!-- <tr class="row-data-user">
                        <td class="table-data-style">{{rowIndex+1}}</td>
                        <td class="us-name table-data-style">{{queue.QueueName != undefined ? queue.QueueName : "N/A"}}</td>
                        <td class="table-data-style">{{queue.mediaType != undefined ? queue.mediaType : "N/A"}}</td>
                        <td class="table-data-style">{{queue.attributes_Publication != undefined ? queue.attributes_Publication : "N/A"}}</td>
                        <td class="table-data-style">{{queue.address != undefined ? queue.address : "N/A"}}</td>
                        <td class="table-data-style">{{queue.tWait_Count != undefined ? queue.tWait_Count : "N/A"}}</td>
                        <td class="table-data-style">{{queue.tWait_Max != undefined ? waitTimeMS : "N/A"}}</td>
                        <td class="table-data-style">{{queue.nOffered != undefined ? queue.nOffered : "N/A"}}</td>
                        <td class="table-data-style">{{queue.tHandle_Count != undefined ? queue.tHandle_Count : "N/A"}}</td>
                        <td class="table-data-style">{{queue.tAbandon_Count != undefined ? queue.tAbandon_Count : "N/A"}}</td>
                        <td class="table-data-style">{{queue.tAlert_Count != undefined ? queue.tAlert_Count : "N/A"}}</td>
                        <td class="table-data-style">{{queue.oInteracting_Count != undefined ? queue.oInteracting_Count : "N/A"}}</td>
                        <td class="table-data-style">{{queue.tHandle_Sum != undefined ? handleTimeMS : "N/A"}}</td>
                        <td class="table-data-style">{{queue.oServiceLevel_target != undefined ? queue.oServiceLevel_target : "N/A"}}</td>
                    </tr> -->
                    <tr>
                        <td class="table-data-style">{{rowIndex+1}}</td>
                        <td class="us-name table-data-style">{{queue.QueueName != undefined ? queue.QueueName : "N/A"}}</td>
                        <td class="table-data-style" *ngFor="let col of columns" [ngClass]="col.class">
                            {{queue[col.field] != undefined ? queue[col.field] : "N/A"}}
                        </td> 
                    </tr>
                </ng-template>

            </p-table>
        </div>
        

   </div>

    
</div>