<div class="wfm" #wfm>
    <p-toast [baseZIndex]="1021"></p-toast>
    <!-- Begin top header -->
    <div class="row top-header" style="margin-bottom: 0px;" (click)="opFilter.hide();">
        <div class="col-md-6">
            <h2 class="title capitalize" *ngIf="forecast">{{forecast.staffingRequestName}}</h2>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" routerLink="/wfm/forecast/list" class="cust-btn-outlined">See All Forecasts</button>
            <button (click)="enableEditMode()" *ngIf="grid_mode && !isGridUIUpdateModeEnabled && forecast.status !== 'published' && forecastData.length && global.rolePermissions.work.forecasting.isViewEdit" type="button" class="cust-btn-outlined">Edit</button>
            <button (click)="updateForecastData()" *ngIf="grid_mode && isEditModeEnabled && global.rolePermissions.work.forecasting.isViewEdit" [disabled]="!editedData.length" class="cust-btn"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            <button (click)="resetForecastData()" *ngIf="grid_mode && isEditModeEnabled && global.rolePermissions.work.forecasting.isViewEdit" type="button" class="cust-btn-outlined">Cancel</button>
            <button (click)="refreshSession()" *ngIf="MSTR_mode" type="button" class="cust-btn" tooltip="Refresh your display and reset your entire selection" placement="bottom"><i class="fa fa-refresh"></i>&nbsp;&nbsp;Refresh Session</button>
            <!-- <div class="btn-group" dropdown placement="bottom right" *ngIf="global.rolePermissions.work.forecasting.isViewEdit == true">
                <button dropdownToggle type="button" pRipple class="cust-btn-sm"><i class="fa fa-file-export"></i>&nbsp;Export</button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="menuitem">
                        <a class="dropdown-item"> <i class="fa fa-file-o"></i>CSV</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item"> <i class="fa fa-file-pdf-o"></i>PDF</a>
                    </li>
                </ul>
            </div>&nbsp; -->
        </div>
    </div>
    <!-- End top header -->

    <!-- Begin body content -->
    <div class="row">
        <div class="col-12">
            <p-tabView class="cust-tabview" (onChange)="onChangeTab($event)">
                <p-tabPanel header="Aggregate"> 
                    <div id="mstr_container">
                        <div id="dossierContainer1" style="width: 100%; height: 650px;"></div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Grid">
                    <div class="cust-table frcst-data-table" style="padding-top: 10px;">
                        <div class="row vertical-align mb-20">
                            <div class="col-md-8 text-right" (click)="opFilter.hide();">
                                <button type="button" (click)="clearFilters(dt)" class="cust-btn-x-sm" style="margin-right:15px;"><i class="fa fa-filter"></i> {{global.language?.wfm?.clearFilters}}</button>
                            </div>
                            <div class="col-md-3" (click)="opFilter.hide();">
                                <p-multiSelect
                                    [options]="cols"
                                    [(ngModel)]="selectedColumns"
                                    optionLabel="header"
                                    (onChange)="onColumnChange($event)"
                                    defaultLabel="Select Key Metrics to Analyze"
                                    selectedItemsLabel="{0} columns selected"
                                    placeholder="Select Key Metrics to Analyze"
                                    styleClass="cust-multiselect-panel"
                                    maxSelectedLabels="2"
                                    appendTo="wfm"
                                ></p-multiSelect>
                            </div>
                            <div>
                                <i (click)="opFilter.toggle($event)" class="pi pi-fw pi-filter" style="font-size: 1.5rem; margin-top: 5px; color: silver; cursor:pointer;"></i>
                                <p-overlayPanel #opFilter appendTo="body" styleClass="cust-overlay-panel filter-op" [dismissable]="false" [showCloseIcon]="false" [style]="{width: 'auto'}">
                                    <div class="row filter-widget">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12 filter-header">
                                                    <h5>Filters</h5>
                                                    <i class="pi pi-fw pi-times-circle close advance-filter-close-btn" (click)="clearFilters(dt);"></i>
                                                </div>
                                            </div>
                                            <hr class="solid" />
                                            <div class="row filter-action">
                                                <div class="col-12 text-center">
                                                    <button type="button" (click)="clearAdvancedFilter(dt);" class="cust-btn-outlined-sm">Clear All</button>
                                                    <button type="button" (click)="applySearch();" class="cust-btn-sm">Search</button>
                                                </div>
                                            </div>
                                            <div class="row filter-content">
                                                <div class="col-12 frcst">
                                                    <div class="cust-accordion" id="filterAccordion">
                                                        <div class="item">
                                                            <div class="item-header" id="headingOne">
                                                                <h2 class="mb-0">
                                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                                        Quantile
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                </h2>
                                                            </div>
                                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#filterAccordion">
                                                                <div class="body">
                                                                    <div class="frcst-type">
                                                                        <div *ngFor="let f of forecastTypes" class="p-field-checkbox">
                                                                            <p-radioButton [inputId]="f.forecast_type" name="forecast_type" [value]="f.forecast_type" [(ngModel)]="selectedForecastType" styleClass="cust-radiobutton"></p-radioButton>
                                                                            <label [for]="f.forecast_type" style="cursor:pointer;">{{f.forecast_type}}</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="item-header" id="headingTwo">
                                                                <h2 class="mb-0">
                                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                        Media Type
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                </h2>
                                                            </div>
                                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#filterAccordion">
                                                                <div class="body">
                                                                    <div *ngFor="let m of mediaTypes" class="p-field-checkbox" class="media-type">
                                                                        <p-radioButton [inputId]="m.value" name="media_type" [value]="m.value" [(ngModel)]="selectedMediaType" styleClass="cust-radiobutton"></p-radioButton>
                                                                        <label [for]="m.value" style="cursor:pointer;">{{m.label}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="item-header" id="headingThree">
                                                                <h2 class="mb-0">
                                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                        Queues
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                </h2>
                                                            </div>
                                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#filterAccordion">
                                                                <div class="body">
                                                                    <div *ngFor="let q of queues" class="p-field-checkbox" class="queue" style="display:flex;">
                                                                        <p-radioButton [inputId]="q.queue_name" name="queue_name" [value]="q.queue_name" [(ngModel)]="selectedQueue" styleClass="cust-radiobutton"></p-radioButton>
                                                                        <label [for]="q.queue_name" style="cursor:pointer;">{{q.queue_name}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <div class="item-header" id="headingFour">
                                                                <h2 class="mb-0">
                                                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                                        Interval
                                                                        <i class="fa fa-angle-down"></i>
                                                                    </button>
                                                                </h2>
                                                            </div>
                                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#filterAccordion">
                                                                <div class="body">
                                                                    <div class="col-12">
                                                                        <img src="../assets/img/microinteraction/calendar.svg" class="cust-calendar-img" style="top: 10px;" />
                                                                        <p-calendar
                                                                            (onSelect)="onChangeFromDate($event)"
                                                                            (onClearClick)="onChangeFromDate('')"
                                                                            [showButtonBar]="true"
                                                                            styleClass="filter-calendar"
                                                                            placeholder="From Date"
                                                                            [readonlyInput]="true"
                                                                            dateFormat="mm/dd/yy"
                                                                            appendTo="body"
                                                                        ></p-calendar>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <img src="../assets/img/microinteraction/calendar.svg" class="cust-calendar-img" style="top: 10px;" />
                                                                        <p-calendar
                                                                            (onSelect)="onChangeToDate($event)"
                                                                            (onClearClick)="onChangeToDate('')"
                                                                            [showButtonBar]="true"
                                                                            styleClass="filter-calendar"
                                                                            placeholder="To Date"
                                                                            [readonlyInput]="true"
                                                                            dateFormat="mm/dd/yy"
                                                                            appendTo="body"
                                                                        ></p-calendar>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-overlayPanel> 
                            </div>
                        </div>
                        <!-- <form #forecastForm="ngForm"> -->
                        <div style="position: absolute; right: 30px; top: 0px;">
                            <button (click)="resetForecastData()" *ngIf="forecastData.length && forecast.status !== 'published'" [disabled]="!isEditModeEnabled || !editedData.length" class="cust-btn-x-sm" style="padding: 3px 10px;"><i class="fa fa-undo"></i>&nbsp;Undo</button>
                        </div>
                        <p-table
                            #dt
                            dataKey="SERIAL_NO"
                            [value]="forecastData"
                            [lazy]="true" (onLazyLoad)="loadForecastData($event)"
                            styleClass="p-datatable-customers"
                            [rowHover]="true"
                            [showCurrentPageReport]="true"
                            [paginator]="false"
                            [filterDelay]="1200"
                            [globalFilterFields]="['staffingRequestName', 'startDate', 'endDate', 'status', 'updatedTimestamp', 'updatedBy']"
                            [(selection)]="selectedForecastData"
                            [loading]="loading"
                            [scrollable]="true" scrollHeight="400px"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="target_timestamp">Interval <p-sortIcon field="target_timestamp"></p-sortIcon></th>
                                    <th *ngIf="col.agentsReq?.length" pSortableColumn="WJXBFS4">Agents Req. <p-sortIcon field="WJXBFS4"></p-sortIcon></th>
                                    <th *ngIf="col.offered?.length" pSortableColumn="WJXBFS1">Offered <p-sortIcon field="WJXBFS1"></p-sortIcon></th>
                                    <th *ngIf="col.aht?.length" pSortableColumn="WJXBFS2">AHT (sec) <p-sortIcon field="WJXBFS2"></p-sortIcon></th>
                                    <th *ngIf="col.noShrinkage?.length" pSortableColumn="WJXBFS5">Agents Required No Shrinkage (%) <p-sortIcon field="WJXBFS5"></p-sortIcon></th>
                                    <th *ngIf="col.serviceLevel?.length" pSortableColumn="WJXBFS7">Service Level (%) <p-sortIcon field="WJXBFS7"></p-sortIcon></th>
                                    <th *ngIf="col.avgSpeedOfAnswer?.length" pSortableColumn="WJXBFS3">Avg Speed of Answer (hh:mm:ss) <p-sortIcon field="WJXBFS3"></p-sortIcon></th>
                                    <th *ngIf="col.occupancy?.length" pSortableColumn="WJXBFS6">Occupancy (%)<p-sortIcon field="WJXBFS6"></p-sortIcon></th>
                                    <th *ngIf="col.mediaType?.length" pSortableColumn="channel">Media Type <p-sortIcon field="channel"></p-sortIcon></th>
                                    <th *ngIf="col.quantile?.length" pSortableColumn="forecast_type">Quantile <p-sortIcon field="forecast_type"></p-sortIcon></th>
                                    <th *ngIf="col.queue?.length" pSortableColumn="queue_name">Queue <p-sortIcon field="queue_name"></p-sortIcon></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="rowData">
                                    <td>
                                        {{rowData.target_timestamp}}
                                    </td>
                                    <td *ngIf="col.agentsReq?.length">
                                        {{rowData.WJXBFS4}}
                                    </td>
                                    <td *ngIf="col.offered?.length">
                                        <div *ngIf="isEditModeEnabled">
                                            <input pInputText type="text" (input)="onChangeInput(rowData, ri)" [(ngModel)]="rowData.WJXBFS1" required pKeyFilter="num" maxlength="6" class="form-control" style="width: 70px;" />
                                            <!-- <small *ngIf="!rowData.WJXBFS1" class="errormsg-topic">Offered is required</small> -->
                                        </div>
                                        <div *ngIf="!isEditModeEnabled">
                                            {{rowData.WJXBFS1}}
                                        </div>
                                    </td>
                                    <td *ngIf="col.aht?.length">
                                        <div *ngIf="isEditModeEnabled">
                                            <input pInputText type="text" (input)="onChangeInput(rowData, ri)" [(ngModel)]="rowData.WJXBFS2" required pKeyFilter="int" maxlength="3" class="form-control" style="width: 70px;" />
                                            <!-- <small *ngIf="!rowData.WJXBFS2" class="errormsg-topic">AHT is required</small> -->
                                        </div>
                                        <div *ngIf="!isEditModeEnabled">
                                            {{rowData.WJXBFS2}}
                                        </div>
                                    </td>
                                    <td *ngIf="col.noShrinkage?.length">
                                        {{rowData.WJXBFS5}}
                                    </td>
                                    <td *ngIf="col.serviceLevel?.length">
                                        {{rowData.WJXBFS7}}
                                    </td>
                                    <td *ngIf="col.avgSpeedOfAnswer?.length">
                                        {{rowData.WJXBFS3}}
                                    </td>
                                    <td *ngIf="col.occupancy?.length">
                                        {{rowData.WJXBFS6}}
                                    </td>
                                    <td *ngIf="col.mediaType?.length">
                                        {{rowData.channel}}
                                    </td>
                                    <td *ngIf="col.quantile?.length">
                                        {{rowData.forecast_type}}
                                    </td>
                                    <td *ngIf="col.queue?.length">
                                        {{rowData.queue_name}}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td *ngIf="!isLoading" colspan="8" style="text-align: center;">No Record(s) found!</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <p-paginator #p (onPageChange)="paginate($event)" [pageLinkSize]="5" [rows]="pageSize" [showCurrentPageReport] = "true" currentPageReportTemplate="Showing {{first}} to {{last}} of {{totalRecords}} entries" [rowsPerPageOptions]="[500,1000,1500,5000]" [totalRecords]="totalRecords" dropdownAppendTo="body"></p-paginator>
                        <!-- </form> -->
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Info">
                    <div style="padding: 1rem 2.5rem;">
                        <div class="row">
                            <div class="col-8">
                                <div class="row" *ngIf="forecast">
                                    <div class="col-md-6">
                                        <div class="view-content">
                                            <div><span class="text-key capitalize">Name: </span><span class="text-val capitalize">{{forecast.staffingRequestName}}</span></div>
                                            <div><span class="text-key">Status: </span><span class="text-val capitalize">{{forecast.status}}</span></div>
                                            <div><span class="text-key">Media Type: </span><span class="text-val capitalize">{{forecast.channel}}</span></div>
                                            <div>
                                                <span class="text-key">Service Quality Objective: </span>
                                                <span class="text-val capitalize" (click)="op.toggle($event)" style="color: #1e50c6; cursor: pointer;" tooltip="Click here to see the service level">
                                                    {{forecast.serviceLevelId ? serviceLevelName : '-'}}
                                                </span>
                                                <p-overlayPanel #op appendTo="body" [style]="{width: '275px'}">
                                                    <div *ngIf="service" style="font-family: sans-serif;">
                                                        <div class="view-content op-view-content">
                                                            <div><span class="text-key">Service Level: </span><span class="text-val">{{service.serviceLevel ? service.serviceLevel + '%' : '-'}}</span></div>
                                                            <div><span class="text-key">Target Answer Time: </span><span class="text-val">{{service.targetAnswerTime}}</span></div>
                                                            <div *ngIf="service.avgSpeedToAnswer != '00:00:00'">
                                                                <span class="text-key">Avg Speed of Answer: </span><span class="text-val">{{service.avgSpeedToAnswer ? service.avgSpeedToAnswer : '-'}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p-overlayPanel>
                                            </div>
                                            <div><span class="text-key">Shrinkage: </span><span class="text-val">{{forecast.shrinkage ? forecast.shrinkage + '%' : '-'}}</span></div>
                                            <div><span class="text-key">Occupancy: </span><span class="text-val">{{forecast.occupancy ? forecast.occupancy + '%' : '-'}}</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="view-content">
                                            <div><span class="text-key capitalize">Start Date: </span><span class="text-val">{{forecast.startDate + ' 12:00:00'}}</span></div>
                                            <div><span class="text-key">End Date: </span><span class="text-val">{{forecast.endDate + ' 23:59:59'}}</span></div>
                                            <div><span class="text-key">Created On: </span><span class="text-val">{{forecast.createdTimestamp}}</span></div>
                                            <div><span class="text-key">Created By: </span><span class="text-val">{{forecast.createdBy}}</span></div>
                                            <div><span class="text-key">Updated On: </span><span class="text-val">{{forecast.updatedTimestamp}}</span></div>
                                            <div><span class="text-key">Updated By: </span><span class="text-val">{{forecast.updatedBy}}</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="forecast" style="padding-bottom: 15px;">
                                    <div class="col-12">
                                        <div style="padding-top: 15px;">
                                            <span class="text-key">Description: </span>
                                            <div class="desc"><span class="capitalize">{{forecast.staffingRequestDescription ? forecast.staffingRequestDescription : '-'}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
            <!-- <div id="mstr_container">
                <div id="dossierContainer1" style="width: 100%; height: 650px;"></div>
            </div> -->
        </div>
    </div>
    <!--/.row-->
    <!-- End body content -->
</div>
