.calendar-follow-up{
    position: absolute;
    z-index: 99;
    margin: 6px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f9f9f9 !important;
    opacity: 0.8 !important;
    cursor: not-allowed !important;
}

.evaluate-sub-title{
    display: flex;
    justify-content: space-between;
}

.player-left{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 #B3B6C7;
    /* width: 520px; */
    /* height: 600px; */
    width: 50%;
    padding: 24px 24px;
}
.player-right{
    /* background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 #B3B6C7; */
    /* width: 520px; */
    /* height: 600px; */
    width: 50%;
    /* height: 600px; */
    
    /* padding: 24px 24px; */
}

/* div#controls {
    color: #333;
    display: table;
    text-align: center;
    width: 100%;
    background-color: #e4e7ea;
}
.plspan {
    margin-right: 50px;
    font-size: 15px;
    vertical-align: middle;
}

#play-btn {
    font-size: 20px;
}

#mute {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

#refresh-btn {
    font-size: 20px;
    margin-left: 10px;
} */

.highlight {
    background-color: #D6E3FD !important;
    border-left: 4px solid #4A82F1;
    color: #000 !important;
    font-weight: 500;
  }
.hover-conversation:hover{
    background-color: #D6E3FD !important;
    border-left: 18px solid #4A82F1 !important;
    cursor: pointer;
}
.hover-conversation:hover .hover-data1{
    left: 0 !important;
    padding-left: 10px;
    cursor: pointer;
}
.hover-conversation:hover .hover-data2{
    right: 63px !important;
    /* cursor: pointer; */
}
.hover-conversation:hover .hover-notes-data1{
    left: 0 !important;
    padding-left: 6px;
    cursor: pointer;
}
.hover-conversation:hover .hover-notes-data2{
    right: 35px !important;
    /* cursor: pointer; */
}
.hover-conversation:hover .hover-data3{
    margin-left: -2px !important;
}
.hover-topic:hover{
    padding: 0px !important;
    background-color: #D6E3FD !important;
    border-left: 18px solid #4A82F1 !important;
    /* cursor: pointer; */
    font-weight: 600;
}
.hover-topic:hover .numberCircle{
    margin-left: 2.3% !important;
}
.hover-topic,.hover-conversation{
    cursor: pointer;
}
.hover-topic:hover .hover-topic-report1, .hover-topic:hover .hover-topic-report2{
    margin-left: -3px !important;
}

.score-card{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 #B3B6C7;
}
.score-card-data{
    font-size: 15px;
    font-weight: 600;
    color: gray;
    display: flex;
    justify-content: space-between;
    padding: 5px 24px;
}

.mod-tag {
    background: #e1fbfa;
    color: #2182a7;
}

.savebtn-disable{
    background-color: #aaadb3;
    cursor: not-allowed;
    border: 0;
}

