<!-- <p>coaching-workspace works!</p> -->
<ng2-toasty [position]="'top-center'"></ng2-toasty>

<!-- <div class="evalution-workspace-title">
    <div class="row">
        <div class="col-lg-10 col-sm-4">
            <div class="page-title">
                <h2>Coaching workspace</h2>
            </div>
        </div>
    </div>
</div> -->
<div class="top-header">
    <div class="col">
        <h2 class="header-title">Coaching workspace</h2>
    </div>
</div>

<div class="interactions-sort mb-3" style="height: 72px;">
    <div class="row" style=" padding: 7px 20px;width: 100%;">
        <div style="padding: 0 16px;">
            <div class="evaluate-sub-title" style="padding-top: 10%;"><h3 style="margin-top: 3px;">Coaching Criteria</h3></div>
        </div>
        <div class="" style="padding: 0 16px;width: 30%;">
            <div class="form-group">
                <label class="interaction-label">Agent</label>
                <p-dropdown class="dropdown-interaction dplable" [options]="agentItem"  [(ngModel)]="agentCategory" [ngModelOptions]="{standalone: true}" filter="true"
                (onChange)="OnchangeAgentEvaluationForm()" placeholder="Pick up an agent">
                </p-dropdown>
            </div>
        </div>

        <div class="" style="padding: 0 16px;width: 30%;">
            <div class="form-group">
                <label class="interaction-label">Evaluation form</label>
                <p-dropdown class="dropdown-interaction dplable" [options]="EvalItemDDL" [(ngModel)]="category" [ngModelOptions]="{standalone: true}" filter="true"
                (onChange)="OnchangeAgentEvaluationForm(); " placeholder="Pick up an evaluation form">
                </p-dropdown>
            </div>
        </div>

        <div class="" style="padding: 20px 16px;width: 20%;">
            <button type="button"  class="btn-sort-interaction"  [ngClass]="categoryDisable == true ? 'savebtn-disable' : 'btn-sort-interaction'" data-toggle="modal" data-target="#myModal" (click)="coachSessionStart(agentCategory, category)" [disabled]="categoryDisable"> <i class="fa fa-share-square-o mr-2" aria-hidden="true" style="font-size: 15px;"></i>Start Coaching Session</button>
        </div>
    </div>
</div>

<div class="interactions-sort mb-3">
    <div class="sort-right" style="width: 100%;height: 470px;overflow: hidden;">
        <div class="evaluate-sub-title w-100 mb-1">
            <h3 style="width: 55%;">Select interactions</h3>
            <!-- <div class="col-sm-3 pl-0 pr-0" style="margin-right: 9px;margin-top: -4px;">
                <img src="../assets/img/refresh.svg" style="position: absolute;
            z-index: 99;
            top: 10px;
            left: 10%;">
                <button type="button" class="btn-sort-interaction" (click)="reloadInteractions()">Reload Conversations</button>
            </div> -->
            <div class="" style="margin-top: -4px;padding: 0 16px;width: 25%;">
                <button type="button" class="btn-sort-interaction" (click)="reloadInteractions()" tooltip="Refresh your display and reset your entire selection" placement="top"><i class="fa fa-refresh mr-3" style="font-size: 15px;" aria-hidden="true"></i> Refresh Session</button>
            </div>
            <div class="" style="margin-right: 9px;margin-top: -4px;width: 20%;">
                <button type="button" class="btn-sort-interaction" (click)="ReloadData()" tooltip="Pull and display the latest data" placement="top"><i class="fa fa-repeat mr-3" style="font-size: 15px;" aria-hidden="true"></i> Refresh Data</button>
            </div>
        </div>
        <div class="table-view">

            <div id="dossierContainer1" style="width: 100%; height: 100%;"></div>

            <div style="text-align: center;height: 100%;align-items: center;display: grid;" *ngIf="isloadSpinner">
                <p-progressSpinner></p-progressSpinner>
            </div>
        </div>
    </div>


</div>

<div class="interactions-sort mb-3" style="height: 84px;">
    <div class="d-flex w-100" style="padding: 6px;">
        <div class="evaluate-sub-title mr-2" style="padding: 0% 10px;align-items: center;">
            <h3>Selected interactions</h3>
        </div>
        <div class="coaching-selected-container" style="width: 80%;overflow-x: hidden;overflow-y: scroll;" *ngIf="interactionListData.length > 0">
            <button class="user-tags mod-tag" *ngFor="let item of interactionListData">  
                {{item.conversationid}}
                <i class="fa fa-times-circle time-size pl-1" aria-hidden="true" (click)="deleteSelectedObj(item)"></i>
            </button>
        </div>
        <div *ngIf="interactionListData.length == 0" style="padding: 0% 25%;width: 80%;align-items: center;display: grid;">No selected interaction!</div>
    </div>
   
</div>

<div class="interaction-players-data mb-3 mt-3">
    <div class="player-left" style="margin-right: 24px;height: 636px;">
        <div class="player-title">Interaction Player :
            <span style="font-weight: bold; font-size:14px"> {{currentContact}}</span>
            <!-- More Selection -->
            <span>
                <div class="dropdown show" style="position: relative" *ngIf="!currentContact?.includes('NON-ACD')">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownPlayerLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" 
                        style="text-decoration: none; position: absolute; right: 0px; top: -30px;">
                       
                        <div class="rounded-img-letter" id="playerSettings" style="color:#333; background-color: transparent;text-align: right; font-size:20px">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPlayerLink" style="width: 180px; padding: 10px; right: 0 !important; box-shadow: 5px 10px 8px #888888;">
                        <h5 style="text-decoration: underline;">Display Settings</h5>
                        <div *ngFor="let category of playerDisplayCategories" class="p-field-checkbox">
                            <p-checkbox name="group2" value="category" [value]="category"  [(ngModel)]="playerSelectedCategories" [inputId]="category.key" (onChange)="checkPlayerValue(category.key ,playerSelectedCategories, $event)" ></p-checkbox>
                            <label [for]="category.key">{{category.name}}</label>
                        </div>    
                    </div>
                </div>
            </span>
            <!-- More Selection -->  
        </div>
            <div style="position: relative;">
                <div class="row" style="text-align: center">
                    <div class="col-md-12">
                        <!-- <div id="audio-spectrum">
                        </div> -->
                        <div *ngIf=" transcriptTab[0]?.from_user_emailid!=undefined" class="noAudioNoNACD">
                            <h4 style="color: #D10606;">No Audio Data Available</h4>
                            <p class="noAudioNoNACD-sub">Audio Data is only
                                associated with voice based conversations selected from the grid</p>
                        </div>
                        <!-- <div id="wave-timeline" *ngIf="transcriptTab[0]?.from_user_emailid==undefined" style="margin-top: 14px;"></div> -->
                        <div id="audio-spectrum" *ngIf="transcriptTab[0]?.from_user_emailid==undefined">
                        </div> 
                    </div>
                </div>
                <div style="background-color: #e4e7ea80;" *ngIf="transcriptTab[0]?.from_user_emailid==undefined">
                    <div id="wave-timeline"></div>
                    <div id="controls" [ngStyle]="{'pointer-events': nonACDAgentDropdown ?  'none': 'auto'}">
                        <span id="refresh-btn" class="plspan"><i class="fa fa-refresh" aria-hidden="true"
                            data-toggle="tooltip" (click)="refreshBtn()" title="Refresh"></i></span>
                        <span id="play-btn" class="plspan" value="play"><i class="fa fa-play" aria-hidden="true"
                                data-toggle="tooltip" (click)="playandpause()" title="Play/Pause"></i></span>
                        <span id="previous-btn" class="plspan"><i class="fa fa-rotate-left" aria-hidden="true"
                                data-toggle="tooltip" (click)="skipBackward()" title="Backward"></i></span>
                        <span id="next-btn" class="plspan"><i class="fa fa-rotate-right" aria-hidden="true"
                                data-toggle="tooltip" (click)="skipForward()" title="Forward"></i></span>
        
                        <!-- <span id="mute" class="plspan" (click)="volumeChange();" style="margin-left: 0px;"><i
                                class="fa fa-fw fa-volume-up" aria-hidden="true" data-toggle="tooltip"
                                title="Mute/Unmute"></i></span> -->
                        <span id="mute" class="plspan" style="margin-left: 0px;">
                            <i class="fa fa-volume-up"  (click)="volumeChange();" aria-hidden="true" data-toggle="tooltip" title="Mute/Unmute"></i>
                            <span class="plspan showSlider">
                                <input id="volumeSlider" class="volume-slider" type="range" name="volume-slider" min="0" max="100" value="50" [disabled]="disableMute" />
                            </span>
                        </span>
                        
                        <span id="waveform-time-indicator">
                            <div class="timecode">
                                <span id="currentTime">00:00:00</span>
                                <span> / </span>
                                <span id="totalDuration">00:00:00</span>
                                
                                <div class="dropup show" style="display:inline-block">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownplaybackRate" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                       
                                        <div id="playerSettings" style="color: #9dafcb;">
                                            <span class="playbackRate">{{ playbackIndex + "x" }}</span>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownplaybackRate">
                                        <span class="playbackRateContainer" style="position:relative"> 
                                            <div class="playbackRateDiv">
                                                <span class="playbackHeader">Playback speed</span>
                                                <div *ngFor="let speed of playbackSpeed; let i = index">
                                                    <a class="btn btn-info play-btnx" [(ngModel)]="playRateSpeedSelected" ngDefaultControl value="speed"
                                                    [ngClass]="{active: selectedIndex == i}"
                                                    (click)="checkPlayerSpeed(speed, i, $event)">{{ speed + "x" }}</a>
                                                </div>  
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                        </span>        
    <!--     
                        <span id="notes" class="notes-style"><i class="fa fa-sticky-note"
                                aria-hidden="true" data-toggle="tooltip" title="Add Notes"></i></span> -->
                    </div>
                </div>
    
                <!-- <div id="note-icon" class="notes-popup card-postion" *ngIf="notesPopup == true">
                    <div class="form-group ">
                        <div><label class="interaction-label">Add notes</label><label style="float: right;
                            margin-bottom: 4px;" (click)="closenotes()"><button type="button" class="close"
                                    style="outline: 0 !important;">&times;</button></label></div>
                        <input type="text" class="form-control ipt-notes-box" [(ngModel)]="notesModel.notes"
                            [ngModelOptions]="{standalone: true}" name="notes" maxlength="128" autocomplete="off">
                        <div class="errormsg-topic" *ngIf="errValNotes==true" style="font-size: 11px;padding: 0;">Please
                            enter the notes</div>
                        <div class="errormsg-topic" *ngIf="conversationID==true" style="font-size: 11px;padding: 0;">Please
                            select interactions for saving notes</div>
                        <div class="errormsg-topic" *ngIf="errTime==true" style="font-size: 11px;padding: 0;">Please select
                            time from media player </div>
                    </div>
    
                    <div>
                        <button type="button" class="save-note-btn">Save</button>
                    </div>
                </div> -->
            </div>

        <p-tabMenu [model]="items1" [activeItem]="activeTab">
        </p-tabMenu>

        <div class="overflow-eval-workspace evalDetailsBottom" [style.height]="isTopics ? '250px' : '300px' " *ngIf="tabMenuName==='Topics'">
            <div *ngIf="getTopicReport?.length>0">
                <div class="row hover-topic" *ngFor="let topic of getTopicReport; let i=index"  style="cursor: pointer;padding: 0 15px;">
                   
                    <div class="" *ngFor="let topicTime of topic.children;let i=index;" style="display: flex;width: 100%;">
                
                        <div class="hover-topic-report1 mb-1 col-md-2" style="width: auto;cursor: pointer;" (click)="trancriptSF(topicTime.element.name)"> [{{topicTime.element.name | timeConvert}}]</div>
                        <div class="hover-topic-report2 mb-1 col-md-10"  *ngIf = "i == 0"  >{{topic.element.name}}</div>
                        
                    </div>
                    <br />
                    <br />
                </div>

            </div>

            <div *ngIf="getTopicReport?.length==0 || currentContact == '' ">
                Topics not found!
            </div>
        </div>

        <div class="overflow-eval-workspace evalDetailsBottom" [style.height]="isTopics ? '250px' : '300px' " *ngIf="tabMenuName==='Transcript'">
            <!-- <p>Transcript Data Process</p> -->
            <div *ngIf="currentContact != '' ">
                <div *ngFor="let tcItem of transcriptTab; let i=index">
                    <div *ngIf="tcItem?.from_user_emailid==undefined" class="row conv hover-conversation">
                        <!--(click)="trancriptSF(tcItem.start_time)"-->
                        <div class="col-md-4 hover-data1" style="left: 12px; " (click)="trancriptSF(tcItem.start_time)">
                            <label *ngIf="tcItem.channel =='Agent' || tcItem.channel =='AGENT'" class="col-form-label">
                                <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg" style="background-color: #30BCED;
                                border-radius: 100%;
                                width: 25px;
                                height: 25px;
                                padding: 3px;
                                cursor: pointer;">
                                <span
                                    style="cursor: pointer;margin-left: 8px;">[{{tcItem.start_time|timeConvert}}]</span></label>
                            <label *ngIf="tcItem.channel =='Customer' || tcItem.channel =='CUSTOMER'" class="col-form-label">
                                <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg" style="  background-color: #98DFAF;
                                border-radius: 100%;
                                width: 25px;
                                height: 25px;
                                padding: 3px;
                                cursor: pointer;">
                                <span
                                    style="cursor: pointer;margin-left: 8px;"><b>[{{tcItem.start_time | timeConvert}}]</b></span></label>
                            <label *ngIf="tcItem.channel =='Workflow' || tcItem.channel =='WORKFLOW'" class="col-form-label">
                                <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg" style="background-color: #3A3E50;
                                border-radius: 100%;
                                width: 25px;
                                height: 25px;
                                padding: 3px;
                                cursor: pointer;">
                                <span
                                    style="cursor: pointer;margin-left: 8px;">[{{tcItem.start_time|timeConvert}}]</span></label>
                        </div>
                        <div class="col-md-8 hover-data2" style="right: 50px;">
                            <label *ngIf="tcItem.channel =='Agent' || tcItem.channel =='AGENT'" class="col-form-label"><span>{{tcItem.text}}</span></label>
                            <label *ngIf="tcItem.channel =='Customer' || tcItem.channel =='CUSTOMER'" class="col-form-label"><span><b>{{tcItem.text}}</b></span></label>
                            <label *ngIf="tcItem.channel =='Workflow' || tcItem.channel =='WORKFLOW'" class="col-form-label"><span>{{tcItem.text}}</span></label>
                        </div>
                    </div>
                </div>
                <div>
                    <div *ngIf="transcriptTab[0]?.from_user_emailid!=undefined" class="row conv hover-conversation">
                        <p-accordion>
                            <p-accordionTab header="&nbsp;({{tcItem.from_username}} - {{tcItem.channel}})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{tcItem.start_time}}" *ngFor="let tcItem of transcriptTab; let i=index">
                                <label class="col-form-label"><b>From :&nbsp;</b><span>{{tcItem.from_user_emailid}}&nbsp;({{tcItem.from_username}})</span></label><br>
                                <label class="col-form-label"><b>To :&nbsp;</b><span>{{tcItem.to_user_emailid}}&nbsp;({{tcItem.to_username}})</span></label><br>
                                <label class="col-form-label"><b>Date Time :&nbsp;</b><span>{{tcItem.start_time}}</span></label><br>
                                <label class="col-form-label"><b>Subject :&nbsp;</b><span>{{tcItem.subject}}</span></label><br>
                                <label class="col-form-label"><b>Text :&nbsp;</b><span>{{tcItem.text}}</span></label><br>

                            </p-accordionTab>
                        </p-accordion>
                    </div>
                </div>
            </div>

            <div *ngIf="currentContact == '' || transcriptTab?.length == 0">
                Transcript not found!
            </div>
        </div>

        <div class="overflow-eval-workspace evalDetailsBottom" [style.height]="isTopics ? '250px' : '300px' " *ngIf="tabMenuName==='Notes'" style="overflow-y: auto;">
            <div *ngIf="allNotes.length>0">
                <div *ngFor="let item of allNotes; let i=index" [ngClass]="{highlight : i == selectedNoteIndex}">
                    <div class="row conv notes-hover hover-conversation" style ="padding-right: 10px">
                        <div class="col-md-3 hover-notes-data1" style="left: 10px;" (click)="trancriptSF(item.time)">
                            <label class="col-form-label">
                                <span style="cursor: pointer;margin-left: 8px;">[{{item.time|timeConvert}}]</span>
                            </label>

                        </div>
                        <div class="col-md-8 hover-notes-data2" style="right: 20px;">
                            <label class="col-form-label"><span>{{item.notes}}</span>
                            </label>

                        </div>
                        <!-- <div class="col-md-1 hover-data3 pl-0">
                            <img src="../../../../assets/img/microinteraction/delete.svg" data-toggle="modal"
                                data-target="#myModal" (click)="deletepopup(item)">
                        </div> -->
                    </div>
                </div>
            </div>


            <div *ngIf="allNotes.length==0 || currentContact == ''">
                Notes not found!
            </div>
        </div>

        <div class="overflow-eval-workspace evalDetailsBottom" [style.height]="isTopics ? '250px' : '300px' " *ngIf="tabMenuName==='Screen' && platformId == 2 && isMediaScreen">
            <div *ngIf="videoUrl.length > 0 ">
            <div class="p-3" *ngFor="let screen of videoUrl" >
              <video width="90%" height="100%" controls controlsList="nodownload">
                <source [src]="screen" type="video/mp4">
              </video>
            </div>
         </div>
         <div  *ngIf="(videoUrl.length == 0 || videoUrl == 'processing') && !isMediaScreenLoader">
            Screen not found!
        </div>
         <div style="text-align: center;height: 100%;align-items: center;display: grid;" *ngIf="isMediaScreenLoader">
            <p-progressSpinner></p-progressSpinner>
        </div>
        </div>
    </div>
    
    <div class="player-right">
        <div class="score-card" style="height: 600px;">
            <div class="evaluation-form">
              <h3>Evaluation form: {{evalRoomName}}</h3>
                <div class="">
                    <div class="row mb-1">
                        <div class="col-sm-10 pt-1" style="font-size: 13px;color: #9e9a9a;">
                            Conversation ID : <span style="cursor: pointer;color: #8AAEF5;font-weight: 500;">{{currentContact}}</span>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-2 pt-1" style="font-size: 13px;color: #9e9a9a;">Agent:</label>
                        <div class="col-sm-6 pl-0" style="font-size: 13px;color: #9e9a9a;">
                            <p-dropdown class="dropdown-interaction coach-agent dplable" [options]="agentDDLform" [(ngModel)]="agentLabelID" [ngModelOptions]="{standalone: true}" [disabled]="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center; font-weight: 500;" *ngIf="questionsList ==  undefined || questionsList ==  null">
                No data available for selected evaluation form
            </div>

            <div class="eval-container-center" style="overflow-y: scroll;overflow-x: hidden;height: 76%;">
                <div class="evaluate-container" *ngFor="let evalItem of questionsList;let j = index;">
                    <div class="evaluate-sub-title">
                        <h4>{{evalItem.Topics.topicName}} 
                            <!-- <span>(Max Score {{evalItem.score}})</span> -->
                        </h4>
    
                    </div>
                    <div class="evaluate-subdiv" *ngFor="let ques of evalItem.Topics.questions let i = index;">
                        <div class="row" *ngIf="ques?.conditionalSkipQuestion==true">
                            <div class="col-sm-7 pr-0">
                                <div class="ques-loop-icon">
                                    <!--data-toggle="tooltip" title={{ques.question}}-->
                                    <div style="display: flex;">
                                        <!-- <span class="ev-wrkspace-forms"> {{i+1}}.</span>  -->
                                        <span class="evaluate-order-list line-clamp" tooltip="{{ques.question}}"
                                            placement="top">{{ques.question}}</span>
                                            <!-- <sup *ngIf="ques.questionMandatory" style="font-size: 7px;color:#afa7a7;"><i class="fa fa-asterisk" aria-hidden="true"></i></sup> -->
                                    </div>
                                    <!-- <div class="ques-ev-forms"> <span class="ev-wrkspace-forms"> {{i+1}}.</span> {{ques.question}}</div>
                                   <div class='tooltips'>
                                    {{ques.question}}
                                   </div> -->
                                    <div style="width: 40px;display: flex;">
                                    <span *ngIf="ques.questionMandatory" style="font-size: 10px;margin-top: 2px;
                                    color:#afa7a7;"><i class="fa fa-asterisk" aria-hidden="true"></i></span> 
                                   
                                    <!-- <span class="info-icon-style" *ngIf="ques.questionDescription != undefined && ques.questionDescription != '' ">
                                        <i class="fa fa-info-circle" aria-hidden="true" tooltip="{{ques.questionDescription}}"
                                        placement="bottom"></i>
                                    </span> -->

                                    <ng-template #popTemplate >
                                        <div style="display: flex;" *ngIf="ques.questionDescription != '' && ques.questionDescription != undefined && ques.questionDescription != null" >
                                        <label id="hyper"  style="font-weight:600;font-size:13px"  class="interaction-label pl-1" >{{ques.questionDescription}}</label>
                                        <i
                                            class="fa fa-clone copy-tick-ico ml-2" aria-hidden="true"
                                            (click)="tickFun(i,j,ques.questionDescription)"></i>
                                        </div>
                                        <div *ngIf="ques.hyperlinkDisplayType != '' && ques.hyperlinkDisplayType != undefined && ques.questionDescription == '' || ques.questionDescription == null || ques.questionDescription == undefined"  style="display: flex;">
                                            <label   class="interaction-label ml-1 pt-1">Link:</label>
                                            <span *ngIf="ques.hyperlinkUrl.split('//').length == 1"><a class="icon-hyper-link" href="https://{{ques.hyperlinkUrl}}" target="_blank" tooltip="https://{{ques.hyperlinkUrl}}" >{{ques.hyperlinkDisplayType}}</a></span>
                                            <span *ngIf="ques.hyperlinkUrl.split('//').length > 1"><a class="icon-hyper-link" href="{{ques.hyperlinkUrl}}" target="_blank" tooltip="{{ques.hyperlinkUrl}}" >{{ques.hyperlinkDisplayType}}</a></span>
                                        </div>
                                </ng-template>
                                <div *ngIf="ques.questionDescription != undefined && ques.questionDescription != '' && ques.questionDescription != null">
                                    <div class="cpy-txt" *ngIf="isCopy && indexTexti == i && indexTextj == j"><i
                                            class="fa fa-check-circle-o copy-tick-ico" aria-hidden="true"
                                            style="color: #0D7744;"></i>&nbsp;Question Description copied !</div>
                                </div>
                                <span   *ngIf="(ques.hyperlinkDisplayType != null && ques.hyperlinkDisplayType != undefined && ques.hyperlinkDisplayType != '') || (ques.questionDescription != null && ques.questionDescription != undefined && ques.questionDescription != '')"  containerClass="popover-custom"  [ngClass]="ques.questionMandatory ? 'ml-2':'ml-3'" [popover]="popTemplate" [outsideClick]="true" placement="top"
                                (click)="validateLink(ques.hyperlinkDisplayType,ques.questionDescription,ques.hyperlinkUrl)">
                                    <i class="fa fa-info-circle cursor-pointer" style="color: #0D4DCE;font-size: 16px;" aria-hidden="true"
                                placement="bottom"></i>
                                </span>
    
                                </div> 
                             </div>
                            </div>
                            
                            <div class="col-sm-5" style="cursor: not-allowed;">
                                <div class="form-group"
                                    *ngIf="ques.questionChoice=='Number' || ques.questionChoice == null && ques.questionChoice !='Comments'"
                                    style="display: flex;flex-direction: column;pointer-events: none;opacity: 0.9;">
                                    <label *ngIf="i==0"
                                        style="margin-top: -15%;">Score</label>
                                    <input type="number" autocomplete="off" class="evaluate-score-box form-control" style="pointer-events: none;"
                                        [(ngModel)]="ques.numberValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="CalculateScore()" (keypress)="keyPress($event)" placeholder="{{ques.questionValue}}" disabled="true">
                                </div>
                                <div class="form-group"
                                    *ngIf="ques.questionChoice !='Number' && ques.questionChoice != null && ques.questionChoice !='Comments'" style="pointer-events: none;opacity: 0.9;">
                                    <!-- <p-dropdown class="dropdwn-category dplable" [options]="ques.questionData"
                                        [(ngModel)]="ques.answerdata" [ngModelOptions]="{standalone: true}" (ngModelChange)="CalculateScore()"
                                        placeholder="Select" [disabled]="disableqa">
                                    </p-dropdown> -->
                                    <p-dropdown class="dropdwn-category dplable" *ngIf="ques?.displaytype?.value!='radio'" [options]="ques.questionData" optionValue="value"
                                    [(ngModel)]="ques.answerdata" [ngModelOptions]="{standalone: true}" (ngModelChange)="CalculateScore(); conditionalSkipQuestionShow(j, i, questionsList); testtt(ques.answerdata)"
                                    placeholder="Select" [disabled]="disableqa">
                                </p-dropdown>

                                <div class="m-0 p-0" *ngIf="ques?.displaytype?.value=='radio'">
                                    <div *ngFor="let val of ques.questionData; let iq=index" class="p-field-checkbox">
                                        <!-- <p-radioButton name="{{i+iq+1}}" *ngIf="ques?.displaytype?.value=='radio'" [value]="val.value"  [(ngModel)]="ques.answerdata" (ngModelChange)="CalculateScore(); conditionalSkipQuestionShow(j, i, questionsList);" [ngModelOptions]="{standalone: true}" [label]="val?.value?.Answer+' ('+val?.value?.Score+')'" inputId="{{i+iq+1}}"> -->
                                            <p-radioButton [value]="val.value.Answer" [(ngModel)]="ques.answerdata" (ngModelChange)="CalculateScore(); conditionalSkipQuestionShow(j, i, questionsList); testtt(ques.answerdata)" [ngModelOptions]="{standalone: true}" [label]="val?.value?.Answer+' ('+val?.value?.Score+')'">
                                        </p-radioButton>
                                    </div>
                                </div>
                                </div>
                                <div class="form-group"
                                    *ngIf="ques.questionChoice =='Comments' && ques.questionChoice !='Number' ">
                                    <textarea name="comments" class="form-control" id="commentid" style="display: flex;width: 100%;border: 1px solid #a6a6a6;pointer-events: none;opacity: 0.9;"
                          [(ngModel)]="ques.answerdata" cols="15" rows="2" (keypress)="textAreaKeys($event)"
                          [ngModelOptions]="{standalone: true}" maxlength="128" (ngModelChange)="CalculateScore(); ReplaceSlashFuctionEvaluationForm(ques.answerdata, i);" placeholder="{{ques.questionValue}}" [disabled]="disableqa"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
  
        <div class="score-card" style="margin: 1% 0;">
          <div class="score-card-data">
              <div>Questions: <span style="color: #8AAEF5;">{{totalQues}}</span> / <span style="color: #0D4DCE;">{{totalCountQues}}</span> </div>
              <div>Notes: <span style="color: #8AAEF5;">{{totalNotes}}</span> / <span style="color: #0D4DCE;">{{totalCountNotes}}</span> </div>
              <div>Score: <span style="color: #0D4DCE;">{{totalScore}}</span> </div>
          </div>
        </div>
  
        <div class="score-card">
          <div class="">
              
          </div>
        </div>
    </div>
    

    
</div>

<!-- POP MODAL FOR COACHING SESSIONS -->
<div class="modal fade" id="myModal" data-backdrop="static">
    <div class="modal-dialog mb-0">
      <div class="modal-content" style="width: 630px;">
        <div class="modal-header">
          <h5 class="modal-title">Coaching session details</h5>
          <button type="button" class="close pr-3" data-dismiss="modal" #closebutton aria-label="Close" style="margin-top: -14px;">
            &times;
          </button>
        </div>
        <form [formGroup]="registerForm">
            <div class="modal-body" style="padding: 6px 1rem;">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="platform-label">Agent</label>
                            <input type="text" class="form-control role-based-box"  [(ngModel)]="coachModel.agent_name" [ngModelOptions]="{standalone: true}"  placeholder="Agent name" autocomplete="off" [disabled]= "true">
                        </div>   
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="platform-label">Select coaching category</label>
                            <p-dropdown class="choose-platform dplable" formControlName="coachCategory" [options]="coachCategoryDDL" [(ngModel)]="coachModel.coach_category" filter="true"
                            placeholder="Select coaching category" [ngClass]="{'is-invalid': (submitted || f.coachCategory.touched) && f.coachCategory.errors }" [disabled]="categoryDisable">
                            </p-dropdown>
                            <div *ngIf="(submitted || f.coachCategory.touched) && f.coachCategory.errors" class="errormsg-topic">
                                <div *ngIf="f.coachCategory.errors.required">Select coach category for session</div>
                            </div>
                        </div>   
                    </div>
                </div>
                
                <div class="row mb-3" *ngIf="tableIntList">
                    <div class="col-sm-12">
                        <label class="platform-label">Selected Evaluations</label>
                        <div class="coaching-selected-container" style="height: 120px; overflow-y: scroll;">
                            <p-table class="coaching-session" [value]="interactionListData" [resizableColumns]="true" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pResizableColumn class="table-header-style thead-blue" >Evaluation ID</th>
                                            <th pResizableColumn class="table-header-style thead-blue" style="width: 22%;">Evaluator</th>
                                            <th pResizableColumn class="table-header-style thead-blue" style="width: 18%;">Date</th>
                                            <th pResizableColumn class="table-header-style thead-blue" style="width: 10%;">Score</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-handle>
                                        <tr class="row-data-user">
                                            <td class="table-data-style">{{handle.evaluation_interactions_id != undefined ? handle.evaluation_interactions_id : 'N/A'}}</td>
                                            <td class="table-data-style">{{handle.evaluator_username != undefined ? handle.evaluator_username : 'N/A'}}</td>
                                            <td class="table-data-style">{{handle.evaluation_time != undefined ? (handle.evaluation_time | date: 'MM/dd/yyyy'): 'N/A'}}</td>
                                            <td class="table-data-style">{{handle.total_score != undefined ? handle.total_score : 'N/A'}}</td>
                                        </tr>
                                    </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div> 

                <div class="row mb-2">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="d-flex justify-content-between"><label class="platform-label">Capture feedback</label><label class="platform-label">1024 characters</label></div>
                            <textarea name="comments" class="form-control" (keypress)="textAreaKeys($event)" [(ngModel)]="coachModel.feedback" (ngModelChange)="ReplaceSlashFuction(coachModel.feedback); coachFeedbackError=false;" [ngModelOptions]="{standalone: true}" id="feedbackcommentid" style="width: 100%;border: 1px solid #a6a6a6;" cols="15" rows="6" 
                            maxlength="1024" placeholder="Capture feedback"
                            [ngClass]="{'is-invalid': (submitted || f.coachFeedback.touched) && f.coachFeedback.errors || coachFeedbackError }"></textarea>
                            <div *ngIf="(submitted || f.coachFeedback.touched) && f.coachFeedback.errors || coachFeedbackError" class="errormsg-topic">
                                <!-- <div *ngIf="f.coachFeedback.errors.required || coachFeedbackError">Please enter the feedback for session</div> -->
                                <div *ngIf="coachFeedbackError">Please enter the feedback for session</div>
                            </div>
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="d-flex justify-content-between"><label class="platform-label">Action item</label><label class="platform-label">1024 characters</label></div>
                            <textarea name="comments" class="form-control" (keypress)="textAreaKeys($event)" [(ngModel)]="coachModel.actionitem" (ngModelChange)="ReplaceSlashFuctionActionitem(coachModel.actionitem)" [ngModelOptions]="{standalone: true}"  id="actioncommentid" style="width: 100%;border: 1px solid #a6a6a6;" cols="15" rows="6" 
                            maxlength="1024" placeholder="Action item"></textarea>
                        </div> 
                    </div>
                </div>
            </div>
   
        <div class="modal-footer" style="padding: 1rem 1rem;">
            <div class="d-flex flex-row justify-content-between w-100">
                <div class="d-flex flex-row justify-content-between">
                    <label class="platform-label mr-3 pt-1">Follow up date</label>
                    <div>
                        <img src="../assets/img/microinteraction/calendar.svg" class="calendar-follow-up">
                        <p-calendar class="interaction-calendar calendar-resize-workspace coach-session-cal" [(ngModel)]="followUPdate" [ngModelOptions]="{standalone: true}" 
                            placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" [minDate]="minDateValue"  [readonlyInput]="true"
                            yearRange="2000:2050"></p-calendar>
                    </div>
                </div>
                <div *ngIf="global.rolePermissions.evaluate.coachingWorkspace.isViewEdit == true">
                    <button type="button"  class="btn-save mr-0" (click)="saveCoachingSession()" >Save</button>
                </div>
            </div>
        </div>
    </form>
      </div>
    </div>
</div>