
<ng2-toasty [position]="'top-center'"></ng2-toasty>

<!-- landing Page (Schedule List)-->
<div style="margin: 0px 32px;" *ngIf="viewDetails == 'deliverySchedule'">
    <div class="top-header" style="display: flex;justify-content: space-between;">
            <h2 class="header-title">Schedule Delivery</h2>
        <div style="display: flex;" *ngIf = "global.rolePermissions.analytics.scheduleDelivery.isViewEdit == true">
            <button type="button" class="btn-creates" (click)="addUser()">Add Delivery</button>
        </div>
    </div>
    <div style="margin: 10px 0px;">
        <p-table [value]="schedules" [resizableColumns]="true" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10">
                  <ng-template pTemplate="header">
                      <tr>
                          <th pResizableColumn class="table-header-style" style="width: 150px;">Export Name</th>
                          <th pResizableColumn class="table-header-style" style="width: 100px;">Frequency </th>
                          <th pResizableColumn class="table-header-style" style="width: 220px;">Location</th>
                          <th pResizableColumn class="table-header-style" style="width: 200px;">Object Handle</th>
                          <th pResizableColumn class="table-header-style" style="width: 150px;">Created At</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-schedule>
                      <tr class="row-data-user">
                          <td class="user-name" (click)="editSchedule(schedule)">{{schedule.scheduleName}}</td>
                          <td>{{schedule.scheduleFrequency}}</td>
                          <td>{{schedule.scheduleExportLocation}}</td>
                          <td>{{schedule.scheduleReportHandle}}</td>
                          <td>{{schedule.createdAt | date:'longDate'}}</td>
                      </tr>
                  </ng-template>
         </p-table>
    </div>
</div>

<!-- (Update & Edit & Add)User data when user edit click -->
<div style="margin: 32px 320px 50px 32px;" *ngIf="viewDetails == 'editScheduleData'">
  <form [formGroup]="createSchedule">
    <div>
            <img src="../../../../assets/img/back.svg">
            <ul class="breadcrumb">
              <li><label class="bread-crumb-label1" (click)="viewDetails = 'deliverySchedule'">Delivery Schedule</label></li>
            </ul>
    </div>
      <div class="edit-header">
          <div class="row" style="justify-content:space-between;margin-bottom: 18px !important;">
            <div class="page-title col-sm-8">
                <div class="row">
                  <h2 style="margin-left: 13px;" class="platform-name-ellipsis">Edit Schedule</h2>
                </div>
            </div>
            <div class="col-sm-4"style="display: flex;justify-content: flex-end;" *ngIf = "global.rolePermissions.analytics.scheduleDelivery.isViewEdit == true">
                <button type="button" class="btn-templates" data-toggle="modal" data-target="#userModal" style="width: 104px;">Delete</button>
            </div>
          </div>
      </div>
    
    <div style="max-width: 50%;">
        <div class="form-group" style="margin: 24px 0;">
            <label class="users-label">Name</label>
            <input type="text" id="deliverynameid" class="form-control platform-ipt-box" formControlName="scheduleName" [(ngModel)]="scheduleModel.scheduleName" (keypress)="omit_special_char($event)" (ngModelChange)="onPaste($event)" 
            [ngClass]="{ 'is-invalid ': (submittedCreateSchedule || validationCreateSchedule.scheduleName.touched) &&  validationCreateSchedule.scheduleName.errors }" placeholder="Name"> 
            <div *ngIf="(submittedCreateSchedule || validationCreateSchedule.scheduleName.touched) &&  validationCreateSchedule.scheduleName.errors" class="is-invalid  ">
                <div class="errormsg-topic is-invalid" *ngIf="((submittedCreateSchedule || validationCreateSchedule.scheduleName.touched) &&  validationCreateSchedule.scheduleName.errors.required)==null?false:true">Please enter schedule Name
                </div>     
            </div>
        </div>
        <div class="form-group" style="margin: 24px 0;">
            <label class="users-label">Frequency</label>
              <button type="button" tooltip="Put in a Cron expression to schedule your delivery. Click on button for more info." placement="right" style="background: transparent;border: 0;margin-top: -4px;">
                <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html" target="_blank"><img src="../assets/img/microinteraction/helptext.svg" > </a>
          </button>
            <input type="text" class="form-control platform-ipt-box disable-email" formControlName="scheduleFrequency"  [(ngModel)]="scheduleModel.scheduleFrequency" 
            [ngClass]="{ 'is-invalid ': (submittedCreateSchedule || validationCreateSchedule.scheduleFrequency.touched) &&  validationCreateSchedule.scheduleFrequency.errors }" placeholder="Frequency">
            <div *ngIf="(submittedCreateSchedule || validationCreateSchedule.scheduleFrequency.touched) &&  validationCreateSchedule.scheduleFrequency.errors" class="errormsg-topic">
                Please enter Frequency 
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 24px;">
            <label class="users-label">Export Location</label>
            <input type="text" class="form-control platform-ipt-box" formControlName="scheduleExportLocation" [(ngModel)]="scheduleModel.scheduleExportLocation" 
            [ngClass]="{ 'is-invalid ': (submittedCreateSchedule || validationCreateSchedule.scheduleExportLocation.touched) &&  validationCreateSchedule.scheduleExportLocation.errors }" placeholder="bucket-name/folder-name/folder1/folder2">
            <div *ngIf="(submittedCreateSchedule || validationCreateSchedule.scheduleExportLocation.touched) &&  validationCreateSchedule.scheduleExportLocation.errors " class="errormsg-topic">
              Please enter export location
            </div>
        </div>
        <div>
            <div  class="card-link" style="margin: 0;" data-toggle="modal" data-target="#myModal11"><p>{{global.language?.settings?.platformSettings?.Amazon?.realAnalytics?.s3Script}}</p></div>
        </div>
        <div class="form-group platform-group" style="margin-bottom:28px">
          <label class="platform-label" style="margin-bottom: 4px;">Object Type</label>
          <p-dropdown class="col-sm-4 pl-0 pr-0 ddl-obj-type dplable" placeholder="Select a Object Type" [options]="objType" [(ngModel)]="scheduleModel.objectType" [ngModelOptions]="{standalone: true}" (onChange)="onchangetype(scheduleModel.objectType)">
          </p-dropdown>
        </div>
        <div>
          <div  class="card-link" style="margin: 0;" (click)="documentDownload()" *ngIf="scheduleModel.objectType == 'document'">
              <p>Configurations to ensure Proper Document Export</p>
          </div>
      </div>
        <div class="form-group" style="margin-bottom: 28px;">
            <label class="platform-label">Object Handle</label>
            <input type="text" class="form-control platform-ipt-box" formControlName="scheduleReportHandle" [(ngModel)]="scheduleModel.scheduleReportHandle" 
            [ngClass]="{ 'is-invalid ': (submittedEditUser || validationCreateSchedule.scheduleReportHandle.touched) &&  validationCreateSchedule.scheduleReportHandle.errors }" placeholder="Object Handle">
            <div *ngIf="(submittedCreateSchedule || validationCreateSchedule.scheduleReportHandle.touched) &&  validationCreateSchedule.scheduleReportHandle.errors" class="errormsg-topic">
              Please enter report handle    
            </div>
        </div>
        <div class="form-group platform-group" style="margin-bottom:32px">
            <label class="users-label" style="margin-bottom: 4px;">Export Format</label>
            <p-dropdown class="user-dropwn-setting dplable" [options]="exportTypes" [(ngModel)]="scheduleModel.scheduleDataFormat" [ngModelOptions]="{standalone: true}" placeholder="Export Format">
           </p-dropdown>
        </div>
        <div class="save-cancel common-bottom">
          <div class="row" style="margin-bottom: inherit;">
            <div class="col-sm-5" *ngIf = "global.rolePermissions.analytics.scheduleDelivery.isViewEdit == true">
                <div class="form-group">
                <button type="button" class="btn-save" (click)="updateSchedule()">Save</button>
                </div>
            </div>
            <div class="col-sm-5">
                 <div class="form-group">
                <button type="button" class="btn-cancel" (click)="createCancel()">Cancel</button>
                </div>
            </div>
      
          </div>
        </div>
    </div>
  </form>
</div>

<!-- Add user when add user button clicks -->
<div style="margin: 32px 280px 50px 32px;"  *ngIf="viewDetails == 'createScheduleData'">
  <div class="edit-header">
    <div class="row" style="justify-content:space-between;margin-bottom: 18px !important;">
      <div class="page-title col-sm-8">
            <h2>Create Scheduled Delivery</h2> 
      </div>
    </div>
  </div>
  <form [formGroup]="createSchedule" >
    <div class="add-user-details">
      <div class="form-group" style="margin-bottom: 28px;margin-top: 24px;">
        <label class="platform-label">Name</label>
        <input type="text" id="deliverynameid" class="form-control platform-ipt-box" formControlName="scheduleName" [(ngModel)]="scheduleModel.scheduleName" (keypress)="omit_special_char($event)" (ngModelChange)="onPaste($event)" 
        [ngClass]="{ 'is-invalid ': (submittedCreateSchedule || validationCreateSchedule.scheduleName.touched) &&  validationCreateSchedule.scheduleName.errors }" placeholder="Name" autocomplete="off">
        <div *ngIf="(submittedCreateSchedule || validationCreateSchedule.scheduleName.touched) &&  validationCreateSchedule.scheduleName.errors" class="is-invalid  ">
          <div class="errormsg-topic is-invalid" *ngIf="((submittedCreateSchedule || validationCreateSchedule.scheduleName.touched) &&  validationCreateSchedule.scheduleName.errors.required)==null?false:true">Please enter schedule Name
          </div>     
        </div>
      </div>
      <div class="form-group" style="margin-bottom: 28px;">
        <label class="platform-label">Frequency</label>

          <button type="button" tooltip="Put in a Cron expression to schedule your delivery. Click on button for more info." placement="right" style="background: transparent;border: 0;margin-top: -4px;">
                <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html" target="_blank"><img src="../assets/img/microinteraction/helptext.svg" > </a>
          </button>
        
        <input type="text" class="form-control platform-ipt-box" formControlName="scheduleFrequency"  [(ngModel)]="scheduleModel.scheduleFrequency" 
              [ngClass]="{ 'is-invalid ': (submittedCreateSchedule || validationCreateSchedule.scheduleFrequency.touched) &&  validationCreateSchedule.scheduleFrequency.errors }" placeholder=" Freqency in cron expression">
          <div *ngIf="(submittedCreateSchedule || validationCreateSchedule.scheduleFrequency.touched) &&  validationCreateSchedule.scheduleFrequency.errors" class="errormsg-topic">
          Please enter Frequency 
          </div>
      </div> 
      <div class="form-group" style="margin-bottom: 28px;">
        <label class="platform-label">Export Location</label>
        <input type="text" class="form-control platform-ipt-box" formControlName="scheduleExportLocation" [(ngModel)]="scheduleModel.scheduleExportLocation" 
              [ngClass]="{ 'is-invalid ': (submittedCreateSchedule || validationCreateSchedule.scheduleExportLocation.touched) &&  validationCreateSchedule.scheduleExportLocation.errors }" placeholder="bucket-name/folder-name/folder1/folder2">
        <div *ngIf="(submittedCreateSchedule || validationCreateSchedule.scheduleExportLocation.touched) &&  validationCreateSchedule.scheduleExportLocation.errors " class="errormsg-topic">
          Please enter export location
        </div>
          
      </div>
      <div>
          <div  class="card-link" style="margin: 0;" data-toggle="modal" data-target="#myModal11">
              <p>S3 script Permissions</p>
          </div>
      </div>
      <div class="form-group platform-group" style="margin-bottom:28px">
        <label class="platform-label" style="margin-bottom: 4px;">Object Type</label>
        <p-dropdown class="col-sm-4 pl-0 pr-0 ddl-obj-type dplable" placeholder="Select a Object Type" [options]="objType" [(ngModel)]="scheduleModel.objectType" [ngModelOptions]="{standalone: true}" (onChange)="onchangetype(scheduleModel.objectType)">
        </p-dropdown>
      </div>
      <div>
          <div  class="card-link" style="margin: 0;" (click)="documentDownload()" *ngIf="scheduleModel.objectType == 'document'">
              <p>Configurations to ensure Proper Document Export</p>
          </div>
      </div>
      <div class="form-group" style="margin-bottom: 28px;">
        <label class="platform-label">Object Handle</label>
        <input type="text" class="form-control platform-ipt-box" formControlName="scheduleReportHandle" [(ngModel)]="scheduleModel.scheduleReportHandle" 
              [ngClass]="{ 'is-invalid ': (submittedCreateSchedule || validationCreateSchedule.scheduleReportHandle.touched) &&  validationCreateSchedule.scheduleReportHandle.errors }" placeholder="Report Handle">
          <div *ngIf="(submittedCreateSchedule || validationCreateSchedule.scheduleReportHandle.touched) &&  validationCreateSchedule.scheduleReportHandle.errors" class="errormsg-topic">
              Please enter object handle    
          </div>
      </div>
      <div class="form-group platform-group" style="margin-bottom:28px">
        <label class="users-label" style="margin-bottom: 4px;">Export Format</label>
        <p-dropdown class="user-dropwn-setting dplable" placeholder="Select a Export Type" [options]="exportTypes" [(ngModel)]="scheduleModel.scheduleDataFormat" [ngModelOptions]="{standalone: true}">
        </p-dropdown>
      </div>
    </div>
    <div class="save-cancel common-bottom" *ngIf = "global.rolePermissions.analytics.scheduleDelivery.isViewEdit == true">
     <div class="row">
       <div class="col-sm-5">
           <div class="form-group">
           <button type="button" class="btn-save"  (click)="saveSchedule()">Save</button>
           </div>
       </div>
       <div class="col-sm-5">
            <div class="form-group">
           <button type="button" class="btn-cancel" (click)="createCancel()">Cancel</button>
           </div>
       </div>
 
     </div>
    </div>
  </form>
</div>

<!-- Delete popup box -->
<div class="modal" id="userModal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content delete-popup">
  
        <!-- Modal Header -->
        <div class="modal-header" style="border-bottom: 0;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="delete-popup-content" style="margin-left: -8%;">
            <img src="../assets/img/glyphs_messaging/glyph_danger.svg" style="margin-top: -10px;
                margin-right: 20px;">
            <h5>Are you sure want to delete this Scheduled Delivery ?</h5>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer " style="border-top: 0px;">
          <div style="margin-left: 8.6%;">
            <button type="button" class="btn-pop-del" data-dismiss="modal" (click)="deleteSchedule()">Delete</button>
            <button type="submit" class="btn-pop-cancel" data-dismiss="modal">Cancel</button>
          </div>
        </div>
  
      </div>
    </div>
</div>


<!-- popup S3 Permission -->
<div class="modal" id="myModal11" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content modal-role-popup">
      
        <!-- Modal Header -->
        <div class="modal-header" style="border-bottom: 0;padding: 0;">
          <h4 class="modal-title title-rolearn">S3 Script</h4>
          <button type="button" class="close" data-dismiss="modal"
          style="margin-right: -40px;margin-top: -46px;">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" style="padding: 0;">
           <div class="s3-desc">
               <p>Set the following Bucket policy at Destiantion Bucket</p>
           </div>
           <div  class="s3-content">     
            <pre style="height: 422px;"><code>  {{roleJson | json}} </code></pre>
           </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer footer-modal-btns" style="padding: 0;">
            <div class="save-cancel" style="margin: 18px 0;">
                <button type="button" data-dismiss="modal" class="btn-delete">{{global.language?.settings?.platformSettings?.Amazon?.realAnalytics?.s3Popup?.close}}</button>
            </div>
        </div>
        
      </div>
    </div>
</div>
