<!-- <ng2-toasty [position]="'top-center'"></ng2-toasty> -->
<!-- <p-toast position="top-center" key="tc" ></p-toast> -->
 
<!-- <p>profile works!</p> -->
<div>
   <!-- <div class="edit-header">
     <div class="row" style="justify-content:space-between;margin-bottom: 18px !important;">
       <div class="page-title col-sm-8">
             <h2>{{global.language?.settings?.profile?.title}}</h2>
       </div>
     </div>
   </div> -->
  
   <p class="source-title" >User Profile</p>
   <form [formGroup]="profileform" >
     <div  *ngIf="!isloadSpinner">
     <div >
     <div class="add-user-details" >
     <div class="form-group" style="margin-bottom: 28px;margin-top: 24px;">
       <label class="platform-label">{{global.language?.settings?.profile?.name}}</label>
       <input type="text" id="profilenameid" class="form-control platform-ipt-box profile-disable" formControlName="userName" [(ngModel)]="profileModel.customerName"  (keypress)="omit_special_char($event)" (ngModelChange)="onPaste($event)" (change)="onChangeEvent()"
       [ngClass]="{ 'is-invalid ': (submittedProfile || validationProfile.userName.touched) &&  validationProfile.userName.errors }" placeholder="{{global.language?.settings?.profile?.name}}" autocomplete="off" [attr.disabled]="isEnableUsername ? true : null">
       <div *ngIf="(submittedProfile || validationProfile.userName.touched) && validationProfile.userName.errors" class="is-invalid  ">
           <div class="errormsg-topic is-invalid" *ngIf="((submittedProfile ||validationProfile.userName.touched) && validationProfile.userName.errors.required)==null?false:true">{{global.language?.settings?.profile?.nameErr}}
           </div>    
       </div>
     </div>
     <div class="form-group" style="margin-bottom: 28px;">
       <label class="platform-label">{{global.language?.settings?.profile?.email}}</label>
       <input type="email" class="form-control platform-ipt-box profile-disable email-dis" [(ngModel)]="profileModel.email" [ngModelOptions]="{standalone: true}" placeholder="{{global.language?.settings?.profile?.email}}" autocomplete="off" [disabled]="true">
     
     </div>
 
     <div class="form-group" style="margin-bottom: 28px;">
       <label class="platform-label">{{global.language?.settings?.profile?.phone}}</label>
       <input type="text" class="form-control platform-ipt-box"  (keypress)="keyPress($event)"  formControlName="phone" maxlength="12" minlength = "12" [(ngModel)]="profileModel.customerPhone" (change)="onChangeEvent()"
       [ngClass]="{ 'is-invalid ': (submittedProfile || validationProfile.phone.touched) &&  validationProfile.phone.errors }" placeholder="{{global.language?.settings?.profile?.phone}}"  autocomplete="off">
       <div *ngIf="(submittedProfile || validationProfile.phone.touched) && validationProfile.phone.errors" class="is-invalid  ">
           <div class="errormsg-topic is-invalid" *ngIf="((submittedProfile ||validationProfile.phone.touched) && validationProfile.phone.errors.required)">{{global.language?.settings?.profile?.phErr}}
           </div>
       </div>
       <div class="errormsg-topic is-invalid" *ngIf="((submittedProfile ||validationProfile.phone.dirty) && validationProfile.phone.invalid)">{{global.language?.settings?.profile?.phValid}}</div> 
     </div>
     <div class="form-group platform-group" style="margin-bottom:28px">
       <label class="users-label" style="margin-bottom: 4px;">{{global.language?.settings?.profile?.role}}</label>
       <!-- <input class="user-dropwn-setting dplable"  [(ngModel)]="profileModel.role" placeholder="Select a role" [ngModelOptions]="{standalone: true}" [disabled]='true'></input> -->
       <input type="text" class="form-control platform-ipt-box profile-disable email-dis" [(ngModel)]="profileModel.role" [ngModelOptions]="{standalone: true}" placeholder="{{global.language?.settings?.profile?.role}}" autocomplete="off" [disabled]="true">
      
     </div>
     <div class="form-group platform-group" style="margin-bottom:28px">
       <label class="users-label" style="margin-bottom: 4px;">Data partitions</label>
       <!-- <p-dropdown class="user-dropwn-setting dplable"  [options]="patitionList" [(ngModel)]="profileModel.datapartition" placeholder="Select a partition filter" [ngModelOptions]="{standalone: true}" [disabled]='true'></p-dropdown> -->
       <input type="text" class="form-control platform-ipt-box profile-disable email-dis" [(ngModel)]="profileModel.datapartition" [ngModelOptions]="{standalone: true}" placeholder="Select a role" autocomplete="off" [disabled]="true">
      
      
     </div>
     <div class="source-title">Language Preferences</div>
     <div class="form-group platform-group" style="margin-bottom: 28px;">
       <label class="platform-label">Interface Language</label>
       <p-dropdown class="choose-platform dplable" [options]="global.getDropdwn" [(ngModel)]="profileModel.uiLanguage" [ngModelOptions]="{standalone: true}"  placeholder="Select language" (onChange)="onChangeEvent()"  [disabled]="loading"></p-dropdown>
   </div>
   <div class="source-title">Timezone Preferences</div>
       <div class="form-group platform-group" style="margin-bottom: 28px;">
         <label class="platform-label">Date Prompt TimeZone</label>
         <div class="d-flex">
          <p-dropdown class="choose-platform dplable" [options]="profileTimeZone" [(ngModel)]="profileModel.CustomerTimeZone" [ngModelOptions]="{standalone: true}" (onChange)="onChangeEvent()" placeholder="Select Time-Zone" [disabled]="loading" ></p-dropdown>
          <span class="info-icon-style p-2 ml-2" >
           <i class="fa fa-info-circle cursor-pointer" style="font-size: 20px;" aria-hidden="true" tooltip="This settings controls the window of time retrieved by analytics leveraging date prompts"
           placement="bottom"></i>
          </span>
         </div>
     </div>
     </div>
     </div>
    
     <div class="save-cancel common-bottom mt-5">
      <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
            <button type="button" class="btn-save" [ngClass]="{'btn-save' : !onChangeText , 'save-disable': onChangeText}"  (click)="updatePoolUser()"  [disabled]="loading || onChangeText">{{global.language?.settings?.profile?.save}}</button>
            </div>
        </div>
        <div class="col-sm-5">
             <div class="form-group">
            <button type="button" class="btn-cancel" [disabled]="cancelLoad" (click)="cancelProfile()">{{global.language?.settings?.profile?.cancel}}</button>
            </div>
        </div>
 
      </div>
     </div>
    </div>
    <div style="padding: 180px;"  *ngIf="isloadSpinner">
      <p-progressSpinner></p-progressSpinner>
    </div>
   </form>
 
  
</div>
 
 
 

