.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff !important;
}
thead tr{
    background-color: rgba(0, 0, 0, 0.05) !important;
}
thead tr th{
    color: #3A3E50 !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    letter-spacing: 0.3px;
}
tbody tr td{
  color: #3A3E50 !important;
  font-size: 14px !important;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.ui-table .ui-table-tbody > tr> td{
    padding: .75rem !important;
}
.table-header-style{
    padding: .4rem !important;
    color: #3a3e50!important;
    font-size: 12px!important;
    letter-spacing: .3px !important;
}

.table-data-style{
    padding: .4rem !important;
    font-size: 12px!important;
    letter-spacing: .3px !important;
}