<div style="margin: 32px 20px 4pc 32px;">
    <div class="page-title mb-3">
        <h2>Queue Status</h2>
    </div>
    
   
   <div> 

        <div  class="pr-4 mb-4">
            <p-table #dt2 class="queue-realtime"  [columns]="selectedColumns" [value]="queueList" [resizableColumns]="true" sortField="QueueName" [paginator]="true" [rows]="100" 
            styleClass="p-datatable-gridlines" [globalFilterFields]="['QueueName','mediaType']">

                <ng-template pTemplate="caption">
                    <div class="p-d-flex" style="height: 30px;">
                        <span class="col-md-4 pl-0 p-input-icon-left p-ml-auto">
                            <i class="pi pi-search icon-style"></i>
                            <input pInputText class="srch-box form-control" type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search by QueueName/Media type" />
                        </span>
                        <span class="col-md-3 pl-0 pr-0 p-input-icon-left p-ml-auto">
                            <p-multiSelect [options]="queueDDList" [(ngModel)]="selectedQueues"  [ngModelOptions]="{standalone: true}"
                            maxSelectedLabels="0" selectedItemsLabel="{0} Queue selected"  defaultLabel="Filter by Queue Name..." (onChange)="onChangefilter(selectedQueues)"></p-multiSelect>
                        </span>
                        <span class="col-md-5 pr-0 p-input-icon-left p-ml-auto">
                            <p-multiSelect [options]="columnList" [(ngModel)]="selectedColumns"  [ngModelOptions]="{standalone: true}" optionLabel="header"
                            maxSelectedLabels="0" selectedItemsLabel="{0} columns selected"  defaultLabel="Choose columns..." ></p-multiSelect>
                        </span>
                    
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                   
                    <tr>
                        <th pResizableColumn class="table-header-style" style="width: 4%;">S.No</th>
                        <th pSortableColumn="QueueName" pResizableColumn class="table-header-style">Queue Name
                            <p-sortIcon field="QueueName"  style="font-size: 10px;"></p-sortIcon>
                            
                        </th>
                        <th pResizableColumn [pSortableColumn]="col.field" class="table-header-style" *ngFor="let col of columns">
                            {{col.header}} <p-sortIcon [field]="col.field"  style="font-size: 10px;"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-queue let-rowIndex="rowIndex" let-columns="columns">
                   
                    <tr>
                        <td class="table-data-style">{{rowIndex+1}}</td>
                        <td class="us-name table-data-style">{{queue.QueueName != undefined ? queue.QueueName : "N/A"}}</td>
                        <td class="table-data-style" *ngFor="let col of columns" [ngClass]="col.class">
                            {{queue[col.field] != undefined ? queue[col.field] : "N/A"}}
                        </td> 
                    </tr>
                </ng-template>

            </p-table>
        </div>

   </div>

    
</div>
