<div class="wfm" #wfm>
    <p-toast [baseZIndex]="999999"></p-toast>
    <!-- Begin top header -->
    <div class="row top-header">
        <div class="col-md-6">
            <h2 class="title" style="font-size:28px;">Workplans <span *ngIf="workgroupName"> for {{workgroupName}}</span></h2>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="cust-btn" routerLink="/wfm/schedule/workplan/create">Create New Workplan</button>
        </div>
    </div>
    <!-- End top header -->

    <!-- Begin content header -->
    <div class="row content-header">
        <div class="col-12">
            <h4>Manage Your Workplans</h4>
            <span>Select, edit, delete your full list of workplans below</span>
            <!-- <span>{{global.language?.wfm?.workplan?.list?.subTitle}}</span> -->
        </div>
    </div>
    <!-- End content header -->

    <div class="row custom-row">
        <div class="col-md-6">
            <button
                type="button"
                class="cust-btn-x-sm cust-btn-danger"
                (click)="manageSelectedWorkplans('delete')"
                [disabled]="!selectedWorkplans || !selectedWorkplans.length"
                *ngIf="global.rolePermissions.work.schedule.isViewEdit == true"
            >
                <i class="fa fa-trash-o"></i> {{global.language?.wfm?.deleteBtn}}
            </button>
        </div>
        <div class="col-md-3 text-right">
            <button type="button" (click)="clearFilters(dt)" class="cust-btn-x-sm"><i class="fa fa-filter"></i> {{global.language?.wfm?.clearFilters}}</button>
        </div>
        <div class="col-md-3">
            <div class="has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" (input)="dt.filterGlobal($event.target.value, 'startsWith')" class="form-control" placeholder="Search for Rules" />
                <span class="text-muted" style="position: absolute;">To search date, the format should be MM/DD/YYYY</span>
            </div>
        </div>
    </div>

    <div style="padding: 32px;">
        <!-- Begin body content -->
        <div class="row">
            <div class="col-lg-12 cust-table">
                <!-- Begin PrimeNG datatable -->
                <p-table
                    #dt
                    dataKey="workplanId"
                    [value]="workplans"
                    [lazy]="true" (onLazyLoad)="loadWorkplans($event)"
                    styleClass="p-datatable-customers"
                    [rowHover]="true"
                    [showCurrentPageReport]="true"
                    [filterDelay]="1200"
                    [globalFilterFields]="['workplan', 'startDate', 'endDate', 'status', 'updatedTimestamp', 'updatedBy']"
                    [(selection)]="selectedWorkplans"
                    [loading]="loading"
                >
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3rem;">
                                <p-tableHeaderCheckbox id="frcst_select_all_chkbox" class="cust-chkbox select-all-chkbox"></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="workplanName" style="width:200px;">Workplan Name<p-sortIcon field="workplanName"> </p-sortIcon></th>
                            <th pSortableColumn="workgroupName" *ngIf="col.workgroups_assigned" style="width:250px;">Workgroups Assigned<p-sortIcon field="workgroupName"> </p-sortIcon></th>
                            <th pSortableColumn="status" *ngIf="col.status">Status<p-sortIcon field="status"></p-sortIcon></th>
                            <th pSortableColumn="updatedTimestamp" *ngIf="col.updatedTimestamp">Updated On <p-sortIcon field="updatedTimestamp"> </p-sortIcon></th>
                            <th pSortableColumn="updatedBy" *ngIf="col.updatedBy">Updated By <p-sortIcon field="updatedBy"> </p-sortIcon></th>
                            <th class="text-center" style="width:3rem;">
                                <i (click)="op.toggle($event)" class="pi pi-ellipsis-h font-1xl"></i>
                                <p-overlayPanel #op appendTo="body" styleClass="cust-overlay-panel" [style]="{width: 'auto'}">
                                    <div>
                                        <ul class="list-group">
                                            <li *ngFor="let col of cols" class="list-group-item" (click)="onChangeColumn(col.field, col.enabled)">
                                                <div class="row">
                                                    <div class="col-9" [ngStyle]="{'color': col.enabled ? '#98DFAF' : '#ffffff' }" style="padding-right:2px;">{{col.header}}</div>
                                                    <div class="col-2" [ngStyle]="{'color': col.enabled ? '#98DFAF' : '#ffffff' }" style="padding-left:12px;"><i *ngIf="col.enabled" class="fa fa-check"></i></div>
                                                </div>
                                            </li>
                                          </ul>
                                    </div>
                                </p-overlayPanel>
                            </th>
                        </tr>
                        <tr>
                            <th style="width:3rem;"></th>
                            <th style="width:200px;">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'workplanName', 'startsWith')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th *ngIf="col.workgroups_assigned" style="width:250px;">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'workgroupName', 'startsWith')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th *ngIf="col.status">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'status', 'contains')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th *ngIf="col.updatedTimestamp">
                                <p-calendar
                                    (onSelect)="onDateSelect($event,'updatedTimestamp')"
                                    (onClearClick)="dt.filter('', 'updatedTimestamp', 'equals')"
                                    [showButtonBar]="true"
                                    styleClass="p-column-filter"
                                    placeholder="Search"
                                    [readonlyInput]="true"
                                    dateFormat="mm/dd/yy"
                                    appendTo="body"
                                    [baseZIndex]="1022"
                                ></p-calendar>
                            </th>
                            <th *ngIf="col.updatedBy">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'updatedBy', 'startsWith')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th style="width:3rem;"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-workplan let-i="rowIndex">
                        <tr [pSelectableRow]="workplan">
                            <td style="width:3rem;">
                                <p-tableCheckbox [value]="workplan" class="cust-chkbox"></p-tableCheckbox>
                            </td>
                            <td style="width:200px;">
                                <a (click)="manageWorkplan(workplan,'edit');" tooltip="Click here to edit your Workplan" class="col-link capitalize">{{workplan.workplanName}}</a>
                            </td>
                            <td *ngIf="col.workgroups_assigned" style="width:250px;" class="capitalize">
                                <div style="max-height:100px; overflow-y:auto;">
                                    {{workplan.workgroupName ? workplan.workgroupName : '--'}}
                                </div>
                            </td>
                            <td *ngIf="col.status" class="capitalize">
                                {{workplan.status}}
                            </td>
                            <td *ngIf="col.updatedTimestamp">
                                {{workplan.updatedTimestamp}}
                            </td>
                            <td *ngIf="col.updatedBy">
                                {{workplan.updatedBy}}
                            </td>
                            <td class="text-center" style="width:3rem;">
                                <i (click)="opOptions.toggle($event)" class="pi pi-ellipsis-h font-1xl"></i>
                                <p-overlayPanel #opOptions appendTo="body" styleClass="cust-overlay-panel" [dismissable]="true" [style]="{width: 'auto'}">
                                    <div>
                                        <ul class="list-group">
                                            <!-- <li class="list-group-item" (click)="manageWorkplan(workplan,'view');" (click)="opOptions.hide();"><i class="icon-eye icons"></i>View</li> -->
                                            <li class="list-group-item" (click)="manageWorkplan(workplan,'edit');" (click)="opOptions.hide();"><i class="fa fa-pencil"></i>Edit</li>
                                            <li class="list-group-item" (click)="manageWorkplan(workplan,'clone');" (click)="opOptions.hide();"><i class="fa fa-clone"></i>Clone</li>
                                            <li class="list-group-item" (click)="manageWorkplan(workplan,'delete')" (click)="opOptions.hide();" style="color: #FC5130 !important"><i class="fa fa-trash-o" style="color: #FC5130 !important"></i>Delete</li>
                                          </ul>
                                    </div>
                                </p-overlayPanel>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td *ngIf="!isLoading" colspan="8" style="text-align: center;">No Record(s) found!</td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- End PrimeNG datatable -->
                <p-paginator #p (onPageChange)="paginate($event)" [pageLinkSize]="5" [rows]="pageSize" [showCurrentPageReport] = "true" currentPageReportTemplate="Showing {{first}} to {{last}} of {{totalRecords}} entries" [rowsPerPageOptions]="[10,25,50,100]" [totalRecords]="totalRecords" dropdownAppendTo="body"></p-paginator>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        <!-- End body content -->
    </div>

    <!-- Begin workplan detail dialog -->
    <p-dialog class="cust-dialog" [(visible)]="display" [modal]="true" styleClass="cust-dialog" [baseZIndex]="10000">
        <p-header>
            {{ isViewDetail ? 'Workplan Details' : (isDeleteConfirm || isDeleteAllConfirm) ? 'Confirm' : ''}}
        </p-header>

        <!-- Begin workplan detail content -->
        <div *ngIf="workplan && isViewDetail">
            <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
                <div class="col-lg-6">
                    <div class="card-body">
                        <div class="view-content">
                            <div><span class="text-key capitalize">Name: </span><span
                                    class="text-val capitalize">{{workplan.workplanName}}</span></div>
                            <div><span class="text-key">Type: </span><span
                                    class="text-val capitalize">{{workplan.ruleType }}</span></div>
                            <div><span class="text-key">Unit: </span><span
                                        class="text-val capitalize">{{workplan.workplanName}}</span></div>
                            <div><span class="text-key">Value: </span><span
                                    class="text-val">{{workplan.ruleValue}}</span></div>
                            <div><span class="text-key">Boundary: </span><span
                                    class="text-val capitalize">{{workplan.ruleBoundary}}</span></div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
        </div>
        <!-- End workplan detail content -->

        <!-- Begin delete confirmation content -->
        <div *ngIf="isDeleteConfirm || isDeleteAllConfirm">
            <!-- Begin body content -->
            <div class="row">
                <div class="col-12">
                    <div class="dialog-body-content confirm-text" *ngIf="isDeleteConfirm">
                        Do you really want to delete the record: {{workplanName}}?
                    </div>
                    <div class="dialog-body-content confirm-text" *ngIf="isDeleteAllConfirm">
                        Do you really want to delete {{selectedWorkplans.length > 1 ? 'these ' + selectedWorkplans.length + ' records?' : 'this record?'}}
                    </div>
                </div>
            </div>
            <!-- End body content -->

            <!-- Begin action footer content -->
            <div class="row">
                <div class="col-12">
                    <div class="dialog-action-footer">
                        <button type="button" (click)="closeDialog()" pRipple class="cust-btn-outlined" style="width: 200px;">Cancel</button>
                        <button type="submit" (click)="deleteRecord()" *ngIf="isDeleteConfirm" pRipple class="cust-btn" style="width: 200px;">Delete</button>
                        <button type="submit" (click)="deleteAllRecords()" *ngIf="isDeleteAllConfirm" pRipple class="cust-btn" style="width: 200px;">Delete</button>
                    </div>
                </div>
            </div>

            <!-- End action footer content -->
        </div>
        <!-- End delete confirmation content -->
    </p-dialog>
    <!-- End workplan detail dialog -->
</div>
