<!-- <p>my-evaluations works!</p> -->
<ng2-toasty [position]="'top-center'"></ng2-toasty>
<div class="top-header">
  <div class="col">
      <h2 class="header-title">My Evaluations</h2>
  </div>
</div>
<div>
    <!-- <iframe width="100%" id="myEvaluations" height="800px" frameBorder="0" [src]="myEvaluations | safe"></iframe> -->
    <div id="myEvaluations" style="width: 100%; height: 600px;"> </div>
</div>

<div class="p-4" *ngIf="myEvaluationAcceptDispute.allowAgentFeedback && (myEvaluationAcceptDispute.accept || myEvaluationAcceptDispute.dispute)">
    <div class="row">
        <div class="col-sm-6">
        </div>

        <div class="col-sm-6 p-4" style="border: 1px solid lightgray; border-radius:4px">
            <div class="row">
                <div class="col-sm-12">
                    <h5>Agent feedback on selected Evaluation</h5>
                </div>

                <div class="coaching-selected-container col-sm-12" style="width: 80%;overflow-x: hidden;overflow-y: scroll;" *ngIf="selectedEvaluations.length > 0">
                    <button class="user-tags mod-tag" *ngFor="let item of selectedEvaluations" style="background: #e1fbfa; color: #2182a7;">  
                        {{item.v}}
                        <!-- <i class="fa fa-times-circle time-size pl-1" aria-hidden="true" (click)="deleteSelectedObj(item)"></i> -->
                    </button>
                </div>

                <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <label class="platform-label" style="margin-top: 20px;">Comments</label>
                            </div>
                            <div class="col-sm-10 pl-0">
                                <textarea maxlength="2048"name="comments" class="form-control" id="commentid" [(ngModel)]="AgentAcceptDisputeComments" [ngModelOptions]="{standalone: true}" style="display: flex;width: 100%;border: 1px solid #a6a6a6;"
                                cols="15" rows="2" placeholder="Insert comments here"></textarea>

                                <!-- <textarea maxlength="2048" name="comments" class="form-control" id="commentid" style="display: flex;width: 100%;border: 1px solid #a6a6a6;" (keypress)="textAreaKeys($event)" 
                                [(ngModel)]="ques.answerdata" (ngModelChange)="CalculateScore(); ReplaceSlashFuctionEvaluationForm(ques.answerdata, j, i); conditionalSkipQuestionShow(j, i, questionsList, 0);"
                                [ngModelOptions]="{standalone: true}" cols="15" rows="2" placeholder="{{ques.questionValue}}"></textarea> -->


                            </div>
                        </div>
                </div>
                <div class="col-sm-12 p-2">
                    <!-- <button type="submit" data-toggle="tooltip" title='Dispute' class="btn btn-warning mr-1 mb-1" style="float: right;"  [disabled]="myEvaluationAcceptDispute?.dispute==true">Dispute</button> -->
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-warning mr-1 mb-1" *ngIf="myEvaluationAcceptDispute.dispute" [disabled]="selectedEvaluations?.length==0" (click)="AgentAcceptDisputeStatus='Dispute'" style="float: right;">Dispute</button>
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-primary mr-1 mb-1" *ngIf="myEvaluationAcceptDispute.accept" [disabled]="selectedEvaluations?.length==0" (click)="AgentAcceptDisputeStatus='Accept'" style="float: right;">Accept</button>
                    <!-- <button data-toggle="modal" data-target="#myModal" class="btn btn-save mr-1" *ngIf="myEvaluationAcceptDispute.accept" [disabled]="selectedEvaluations?.length==0" (click)="AgentAcceptDisputeStatus='Accept'" style="float: right;">Accept</button> -->
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content delete-popup">
  
        <!-- Modal Header -->
        <div class="modal-header" style="border-bottom: 0;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="delete-popup-content">
            <img src="../assets/img/glyphs_messaging/glyph_danger.svg" style="margin-top: -10px;
                margin-right: 20px;">
            <h5>Are your sure you want to {{AgentAcceptDisputeStatus}} this evaluation(s)</h5>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer " style="border-top: 0px; justify-content: flex-end;">
          <!-- <div style="margin-left: 8.6%;"> -->
            <!-- <button type="button" class="btn-pop-del" data-dismiss="modal"
              (click)="deletePlaybook()">{{global.language?.playbooks?.myPlaybooks?.EditPlaybook?.popupForm?.deletebtn}}</button> -->
            <button type="submit" class="btn-save float-right" style="float: right;" data-dismiss="modal"  (click)="evaluationAcceptDispute()">Confirm</button>
          <!-- </div> -->
        </div>
  
      </div>
    </div>
  </div>
