#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .upload-id{
     cursor: pointer;
 }

 .lang-label{
     width: 590px;
 }
 .bold-head-txt{
    color: #3A3E50;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 19px;
 }
 