
ul.ui-tabview-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all.ng-star-inserted{
  display: flex;
}
.example-list {
  /* width: 500px;
  max-width: 100%; */
  border: solid 1px #ccc;
  /* min-height: 60px;
  display: block;
  background: white; */
  border-radius: 4px;
  /* overflow: hidden; */
  margin-bottom: 20px;
}

.example-box {
  padding: 6px 0px;
  border-bottom: solid 1px #ccc;
  /* color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; */
  /* cursor: move; */
  background: #f1f1f1;
  margin: 0;
  /* font-size: 14px; */
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-cursor{
  cursor: move
}
.example-handle {
  /* position: absolute;
  top: 10px;
  right: 10px; */
  color: #2a6df5;
  cursor: move;
  width: 24px;
  margin-right: 2px;
  border-right: 1px solid #B3B6C7;
  /* height: 24px; */
}

.question-handle{
  color: #54565a;
  cursor: move;
  margin-top: 15px;
}

.eval-tag{
  background: #f4ecfb;
  color: #6B22AA;
}
.mod-tag{
  background: #e1fbfa;
  color: #2182a7;
}
.coach-tag{
  background: #d6e1fb;
  color: #2a37d2;
}
.time-size{
  font-size: 14px;
}
.time-size:hover{
  color: #131313;
}

.f-15{
  font-size: 15px;
}

.notes-popup{
  border: 1px solid #bbb1b1a6;
  height: auto;
  width: 24%;
  background: #fff;
  box-shadow: 1px 1px 4px 0 rgb(117 121 140 / 50%);
  z-index: 99;
}
.pop-category-postion{
  position: absolute;
  top: 534px;
  left: 292px;
  padding: 4px 16px 9px;
}

.save-note-btn{
  height: 22px;
  padding: 0 7px;
  font-size: 13px;
  float: right;
  background-color: #0D4DCE;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 20px;
  border: 1px solid #0D4DCE;
  outline: 0 !important;
}

.save-note-btn-disable{
  background-color: #aaadb3;
    cursor: not-allowed;
    height: 22px;
    padding: 0 7px;
    font-size: 13px;
    float: right;
    color: #fff;
    border-radius: 4px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    border: 1px solid #aaadb3;
    outline: 0 !important;
}
.ipt-notes-box{
  height: 28px;
  font-size: 12px;
  letter-spacing: 0.5px;
  border: 1px solid #B3B6C7;
}

.category-list{
  height: 70px;
  overflow-y: scroll;
} 

.category-list::-webkit-scrollbar {
  width: 6px;
}
.category-list::-webkit-scrollbar-track {
    background: #fff; 
}
.category-list::-webkit-scrollbar-thumb {
    background: #B3B6C7; 
    border-radius: 15px;
    height: 50px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.height-25 {
  height: 26px;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
}



.ui-dropdown {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  /* min-width: 10em; */
}

p-dropdown > div {
  /* .p-dropdown-div { */
  width: 100%;
  /* overflow: hidden; */
   text-overflow: ellipsis;
}
.btn-save {
  background-color: #0D4DCE;
  color: #fff;
  border-radius: 4px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 20px;
  border: 1px solid #0D4DCE;
  margin-right: 16px;
  outline: 0 !important;
  padding: 0 10px;
  cursor: pointer;
}

.custom{
  max-height: 140px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.label-section{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 220px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.label-section::-webkit-scrollbar {
  width: 5px;
  
}
.label-section::-webkit-scrollbar-track {
  background: #fff; 
}
.label-section::-webkit-scrollbar-thumb {
  background: #B3B6C7; 
  border-radius: 20px;
  height: 40px;
}

.ptoast-style .ui-toast-top-center{
  top: 15% !important; 
  width: 25% !important;
}

.insert-btn{
  height: 22px;
  padding: 0 7px;
  font-size: 13px;
  float: right;
  background-color: #32ccdf;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 20px;
  border: 1px solid #32ccdf;
  outline: 0 !important;
}

.insert-btn:hover{
  background-color: #fff;
  color: black;
  border: 1px solid #32ccdf;
  outline: 0 !important;
}

