<ng2-toasty [position]="'top-center'"></ng2-toasty>


<!-- <p>topic-detection works!</p> -->
<div class="topic-detection" style="margin: 0px 40px 40px 32px;">
    <!-- <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-10 col-sm-4">
            <div class="page-title">
                <h2>{{global.language?.settings?.topicDetection?.title}}</h2>
            </div>
        </div>
    </div> -->
    <div class="top-header" style="justify-content: space-between;">
        <h2 class="header-title">{{global.language?.settings?.topicDetection?.title}}</h2>
    </div>

    <div class="topic-detection-fill">
        <div class="left-detect">
            <div class="evaluate-sub-title">
                <h3>{{global.language?.settings?.topicDetection?.sort}}</h3>
            </div>
            <div class="ipts-detection">
               <div class="row">
                   <div class="col-sm-6">
                        <div class="form-group">
                    <label class="interaction-label">{{global.language?.settings?.topicDetection?.from}}</label>
                    <div>
                        <img src="../assets/img/microinteraction/calendar.svg" class="calendar-img" style="top: 32px;">
                        <p-calendar class="interaction-calendar detect-calendar"  [(ngModel)]="tDetectModel.fromDate" [ngModelOptions]="{standalone: true}" placeholder="MM/DD/YYYY"
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
                    </div>
                        </div>
                   </div>
                   <div class="col-sm-6" style="padding-left: 0;">
                        <div class="form-group">
                    <label></label>
                    <div>
                        <p-dropdown class="hours-drodwn dplable" [options]="hoursDDL"  [(ngModel)]="tDetectModel.fromHour" [ngModelOptions]="{standalone: true}" placeholder="Select a Hour" >
                        </p-dropdown>
                    </div>
                        </div>
                    </div>
               </div>

               <div class="row">
                <div class="col-sm-6">
                     <div class="form-group">
                 <label class="interaction-label">{{global.language?.settings?.topicDetection?.to}}</label>
                 <div>
                     <img src="../assets/img/microinteraction/calendar.svg" class="calendar-img" style="top: 32px;">
                     <p-calendar class="interaction-calendar detect-calendar" [(ngModel)]="tDetectModel.toDate" [ngModelOptions]="{standalone: true}"  placeholder="MM/DD/YYYY"
                         [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050" ></p-calendar>
                 </div>
                     </div>
                </div>
                <div class="col-sm-6" style="padding-left: 0;">
                     <div class="form-group">
                 <label></label>
                 <div>
                     <p-dropdown class="hours-drodwn dplable" [options]="hoursDDL" [(ngModel)]="tDetectModel.toHour" [ngModelOptions]="{standalone: true}" placeholder="Select a Hour" appendTo="body">
                     </p-dropdown>
                 </div>
                     </div>
                 </div>
               </div>

               <div class="form-group" style="margin-bottom: 26px;">
                <label class="interaction-label">{{global.language?.settings?.topicDetection?.jobType}}</label>
                <div>
                    <p-dropdown class="job-type-drodwn dplable" [options]="jobTypDDL" [(ngModel)]="tDetectModel.jobType" [ngModelOptions]="{standalone: true}" placeholder="Select a job type">
                    </p-dropdown>
                </div>
               </div>

               <div *ngIf="global.rolePermissions.settings.topicDetection.isViewEdit == true">
                <button type="button" class="btn-sort-interaction" style="height: 36px;font-size: 14px;" [disabled]="loading" (click)="createJobs()">{{global.language?.settings?.topicDetection?.create}}</button>
               </div>
            </div>
        </div>

        <div class="right-detect">  
            <!-- <br>
            <br> -->
            <p-table #dt [columns]="cols" class="detection-table" [value]="jobList" [resizableColumns]="true"[paginator]="true" [rows]="5">
                
                <ng-template pTemplate="header" let-columns>
                    <tr style="text-align: center;" class="topic-detect-header">
                        <th *ngFor="let col of columns" [style.width]="col.width" pResizableColumn [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" style="font-size: 10px;"></p-sortIcon>
                        </th>
                        <!-- <th pResizableColumn >
                            {{global.language?.settings?.topicDetection?.table?.id}}
                            <p-sortIcon  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" style="font-size: 10px;"></p-sortIcon>
                        </th>
                        <th  pResizableColumn >
                            {{global.language?.settings?.topicDetection?.table?.jobstart}}
                            <p-sortIcon ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" style="font-size: 10px;"></p-sortIcon>
                        </th>
                        <th  pResizableColumn >
                            {{global.language?.settings?.topicDetection?.table?.version}}
                            <p-sortIcon  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" style="font-size: 10px;"></p-sortIcon>
                        </th>
                        <th  pResizableColumn >
                            {{global.language?.settings?.topicDetection?.table?.jobType}}
                            <p-sortIcon  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" style="font-size: 10px;"></p-sortIcon>
                        </th>
                        <th  pResizableColumn >
                            {{global.language?.settings?.topicDetection?.table?.start}}
                            <p-sortIcon  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" style="font-size: 10px;"></p-sortIcon>
                        </th>
                        <th  pResizableColumn >
                            {{global.language?.settings?.topicDetection?.table?.end}}
                            <p-sortIcon  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" style="font-size: 10px;"></p-sortIcon>
                        </th>
                        <th  pResizableColumn >
                            {{global.language?.settings?.topicDetection?.table?.status}}
                            <p-sortIcon  ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order" style="font-size: 10px;"></p-sortIcon>
                        </th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr style="text-align: center;" class="topic-detect-datas"> 
                        <td *ngFor="let col of columns" class="ui-resizable-column" [ngClass]="rowData[col.field] == 'Complete'  ? 'complete' : rowData[col.field] == 'Failed'?'failed':null">
                            {{col.type ? col.type.transform(rowData[col.field]) : rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>