<ng2-toasty [position]="'top-center'"></ng2-toasty>


<div class="login-page">
  <div class="left-side-component" *ngIf="newPwd == 'codePage' ">
    <div style="margin-bottom:64px">
      <img src="../assets/img/logo_login_register.png" style="width: 170px;">
    </div>
    <div class="login-title">
      <h4>Reset your password</h4>
    </div>
    <div class="login-forms">
      <form [formGroup]="emailForm">
        <div class="form-group" style="margin-bottom: 24px;">
          <label class="black-txt">Email</label>
          <input type="email" class="login-ipt form-control" placeholder="Email" autocomplete="off"
            [(ngModel)]="forgotModel.email" formControlName="email" required
            [ngClass]="{ 'is-invalid':(!emailForm.controls['email'].valid &&emailForm.controls['email'].touched )||(emailForm.controls['email'].errors?.required && issubmit )}">
              <div *ngIf="(!emailForm.controls['email'].valid &&emailForm.controls['email'].touched )||(emailForm.controls['email'].errors?.required &&( issubmit || emailForm.controls['email'].touched) ) "
              class="errormsg-topic">
              <div *ngIf="emailForm.controls['email'].errors?.required && ( issubmit || emailForm.controls['email'].touched)">Please enter a email</div>
              <div *ngIf="(emailForm.controls['email'].errors?.email && emailForm.controls['email'].touched) ">
                Please enter a valid email
              </div>
              </div> 
        </div>
        <div class="login-btn">
          <button type="button" class="btn-login" [disabled]="loading" style=" width: 119px;" (click)="sendCode(forgotModel)">Request
            reset </button>
        </div>
      </form>
      <div class="reset-footer-text">
        <a routerLink="/login">
          <img src="../assets/img/microinteraction/back.svg" style="margin-right: 8px;">
          Back to Log in
        </a>
      </div>
    </div>
  </div>

  <div class="left-side-component" *ngIf="newPwd == 'newPasswordPage' ">
    <div style="margin-bottom:64px">
      <img src="../assets/img/logo_login_register.png" style="width: 170px;">
    </div>
    <div class="login-title">
      <h4>Reset your password</h4>
    </div>
    <div class="login-forms">
      <form [formGroup]="verifyForm">
        <div class="form-group" style="margin-bottom: 24px;">
          <label class="black-txt">Verification code</label>
          <input type="text" class="login-ipt form-control" placeholder="Verification code" formControlName="code"
            [(ngModel)]="forgotModel.verificationCode"  (keypress)="keyPress($event)" autocomplete="off"
            [ngClass]="{ 'is-invalid':(!verifyForm.controls['code'].valid && ( issubmitNew || verifyForm.controls['code'].touched ))|| (verifyForm.controls['code'].errors?.required && issubmit )}">
            <div *ngIf="(!verifyForm.controls['code'].valid && verifyForm.controls['code'].touched )||(verifyForm.controls['code'].errors?.required &&( issubmitNew || verifyForm.controls['code'].touched) ) "
              class="errormsg-topic">
              <div *ngIf="verifyForm.controls['code'].errors?.required && ( issubmitNew || verifyForm.controls['code'].touched)">Please enter a verification code</div>
              <div *ngIf="(verifyForm.controls['code'].errors?.minlength && verifyForm.controls['code'].touched) ">
                Verification code  must be at least 6 characters
              </div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 24px;">
          <label class="black-txt">New password</label>
          <input type="password" class="login-ipt form-control" formControlName="newpassword"
          [(ngModel)]="forgotModel.newPassword" placeholder="Password" autocomplete="off"
          [ngClass]="{ 'is-invalid':(!verifyForm.controls['newpassword'].valid && ( issubmitNew || verifyForm.controls['newpassword'].touched ))|| (verifyForm.controls['newpassword'].errors?.required && issubmit )}">
          <div *ngIf="(!verifyForm.controls['newpassword'].valid && (verifyForm.controls['newpassword'].touched || issubmitNew) )||(verifyForm.controls['newpassword'].errors?.required &&( issubmitNew || verifyForm.controls['newpassword'].touched) ) "
            class="errormsg-topic">
            <div *ngIf="verifyForm.controls['newpassword'].errors?.required && ( issubmitNew || verifyForm.controls['newpassword'].touched)">Please enter a New password</div>
            <div *ngIf="(verifyForm.controls['newpassword'].errors?.minlength && (verifyForm.controls['newpassword'].touched || issubmitNew)) ">
              New password must be at least 8 characters
            </div>
          </div>
        </div>
        <div class="login-btn">
          <button type="button" class="btn-login" style="width: 146px;"[disabled]="loadingNew" (click)="changePassword(forgotModel)">Change password </button>
        </div>
      </form>

    </div>
    <!-- <div class="login-btn">
      <button type="button" class="btn-login" style="width: 146px;" (click)="newPwd = 'codePage'">back</button>
    </div> -->
  </div>

  <div class="right-side-component">
    <img src="../assets/img/login_register_assets/login_register_assets/img_login4.png" style="height: 100%;
        width: 100%;">
  </div>
</div>