<!-- <p>moments works!</p> -->
<ng2-toasty [position]="'top-center'"></ng2-toasty>

<div style="margin: 0px 180px 0 32px;" *ngIf="pageView == 'list'">

    <div class="top-header" style="justify-content: space-between;">
        <h2 class="header-title">Moments (Beta)</h2>
            <div style="display: flex;">
                <div class="ipt-theme">
                    <i class="fa fa-search" aria-hidden="true" style="
                position: relative;
                left: 5px;
                opacity: 0.6;
                top: 29px;
               "></i>
                    <input type="text"  [(ngModel)]="searchMomentName" (ngModelChange)="searchMoment()" class="inp-searchs form-control" placeholder="Find a moment">
                </div>
                
                <div class="" *ngIf="global.rolePermissions.playbooks.moments.isViewEdit == true">
                    <button type="button" class="create-theme" (click)="createEditView('create','')">Create a Moment</button>
                </div>
            </div>
    </div>

    <!-- Card section -->
    <section style="margin: 10px 0;" *ngIf="getList.length > 0">
        <div class="row">
            <div class="col-sm-6 col-lg-4 topic-cards" *ngFor="let item of getList">
                <div class="card ">
                    <div>
                      <div class="card-body ">
                        <div class="row">
                            <div class="card-title col-sm-6 module line-clamp" (click)="createEditView('edit',item)">{{item.momentName}}</div>
                            <div class="col-sm-5" style="text-align: right;padding: 0;">
                                <span class="on-off-toggle" style="top: -5px;">{{item.momentActive==true ? 'On': 'Off'}}</span>
                                <p-inputSwitch [(ngModel)]="item.momentActive" (onChange)="toggleActiveMoment(item)"></p-inputSwitch>
                            </div>
                        </div>

                        <div class="card-desc module line-clamp-desc">{{item.momentDescription}}</div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="mt-3" *ngIf="getList.length == 0">No moments found!</div>
</div>

<form [formGroup]="momentForm">
    <div style="margin: 32px 220px 0px 32px;" *ngIf="pageView == 'createEdit'">
        <div class="edit-header">
            <div>
                <img src="../../../../assets/img/back.svg">
                <ul class="breadcrumb" >
                  <li><label class="bread-crumb-label1" (click)="breadCrumbBack()">All moments</label></li>
                </ul>
            </div>
            <div class="row" style="margin-bottom: 2%">
                <div class="col-sm-8">
                    <div class="page-title">
                        <h2  *ngIf="createEditValue == 'create'">Create a Moment</h2>
                        <h2  *ngIf="createEditValue == 'edit'">{{momentModel.momentName}}</h2>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2" style="text-align:right ;padding-right: 0;" *ngIf="createEditValue == 'edit' && global.rolePermissions.playbooks.moments.isViewEdit == true">
                    <button type="button"  class="btn-delete form-control" style="float:right" data-toggle="modal" data-target="#myModal">Delete Moment</button>
                </div>
            </div>
        </div>
        <div class="topic-edit-ipt common-bottom">
            <div class="row">
                <div class="col-sm-6 name-description">
                    <div class="form-group">
                        <label class="label-name" style="margin-bottom: 4px;">Moment Name</label>
                        <input type="text" id="momentnameid" maxlength="44" class="topic-ipt form-control"  formControlName="momentName" [(ngModel)]="momentModel.momentName" autocomplete="off" placeholder="Moment name" (keypress)="omit_special_char($event)" (ngModelChange)="onPaste($event)"
                        [ngClass]="{'is-invalid': (submitted || f.momentName.touched) && f.momentName.errors }" >
                        <div *ngIf="(submitted || f.momentName.touched) && f.momentName.errors" class="errormsg-topic">
                            <div *ngIf="f.momentName.errors.required">Please enter moment name</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 name-description">
                    <div class="form-group">
                        <label class="label-name" style="margin-bottom: 4px;">Moment Description</label>
                        <input type="text" maxlength="70" class="topic-ipt form-control" [(ngModel)]="momentModel.momentDescription" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Moment description">

                    </div>
                </div>

            </div>
            
        </div>
        <div class="topic-edit-tag common-bottom">
            <!-- <div style="display: flex;margin-bottom: 12px;">
                <h6 style="margin: 0;padding-right: 12px;" class="topic-subtitle">Tags</h6>
            </div> -->
            <div class="row">
                <div class="col-md-5">
                    <div style="display: flex;margin-bottom: 12px;">
                        <h6 style="margin: 0;padding-right: 12px;" class="topic-subtitle">Tags</h6>
                    </div>
                    <div class="form-group">

                        <input #text2 (keyup.enter)="addTextTags(text2.value); text2.value='' " (blur)="addTextTags(text2.value); text2.value='' " class="topic-ipt form-control" placeholder="Type a tag name and hit enter">

                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 pr-0">
                    
                    <!-- <div class="row" style="padding-left:15px;">
                        <p-checkbox class="check-box-active box-genesys" label="Detection time" [(ngModel)]="momentModel.detectionTime"  [ngModelOptions]="{standalone: true}" binary="false"></p-checkbox>
                    </div>  -->
                    <!-- <div class="errormsg-topic" *ngIf="isDetectionErr == true">Please enable the detection time for moment</div> -->
                </div>
                <div class="col-md-4 pr-0">
                    <div style="display: flex;margin-bottom: 12px;">
                        <h6 style="margin: 0;" class="topic-subtitle">Detection time</h6>
                    </div>
                    <div class="d-flex mb-3">
                        <p-radioButton name="group21" value="absolute" [(ngModel)]="momentModel.detectionTime_Type" [ngModelOptions]="{standalone: true}"
                          label="Absolute" inputId="preopt1">
                        </p-radioButton>
                        <p-radioButton name="group22" value="relative" [(ngModel)]="momentModel.detectionTime_Type" [ngModelOptions]="{standalone: true}"
                        label="Relative" inputId="preopt2">
                        </p-radioButton>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 overflow-eval-workspace border-0" style="height: 110px;">
                    <!-- <div class="col-md-12"> -->
                        <button *ngFor="let text2 of momentModel.momentTags" class="tag-value">  
                        {{text2}}
                        <img src="../assets/img/microinteraction/delete_tag.svg" (click)="deleteTags(text2)" onclick="this.parentElement.style.display='none';">
                        </button>
                    <!-- </div> -->
                </div> 

                <div class="col-md-4">
                     <div *ngIf="momentModel.detectionTime_Type == 'relative'">
                       <div class="row mb-3">
                          <label class="col-sm-4">Start Time :</label>
                          <input class="col-sm-3 form-control"  style="padding: 0px 0px 0px 10px;height: 32px;
                          border: 1px solid #B3B6C7;"  type="number" [(ngModel)]="momentModel.relative_startTime" [ngModelOptions]="{standalone: true}" min="0"  max="99" (keypress)="keyPressFalse($event)">
                          <label class="pl-2 pt-1 mb-0" style="color: #729be9;font-weight: 700;">%</label>
                       </div>
                       <div class="row">
                        <label class="col-sm-4">End Time :</label>
                        <input class="col-sm-3 form-control"  style="padding: 0px 0px 0px 10px;height: 32px;
                        border: 1px solid #B3B6C7;"  type="number" [(ngModel)]="momentModel.relative_endTime" [ngModelOptions]="{standalone: true}" min="0"  max="100" (keypress)="keyPressFalse($event)">
                        <label class="pl-2 pt-1 mb-0" style="color: #729be9;font-weight: 700;">%</label>
                        </div>
                    </div>
                    <div *ngIf="momentModel.detectionTime_Type == 'absolute'">
                        <div class="row">
                            <label class="col-sm-4"></label>
                            <label class="col-sm-3 text-center" style="color: #729be9;font-weight: 500;">Minutes</label>
                            <label class="col-sm-3 text-center" style="color: #729be9;font-weight: 500;">Seconds</label>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4">Start Time :</label>
                            <input class="col-sm-3 form-control"  style="padding: 0px 0px 0px 10px;height: 32px;
                            border: 1px solid #B3B6C7;"  type="number" [(ngModel)]="momentModel.absolute_startTimeMinutes" [ngModelOptions]="{standalone: true}" min="0" (keypress)="keyPressFalse($event)">
                            &nbsp;:&nbsp;
                            <input class="col-sm-3 form-control" style="padding: 0px 0px 0px 10px;height: 32px;
                            border: 1px solid #B3B6C7;" type="number" [(ngModel)]="momentModel.absolute_startTimeSeconds" [ngModelOptions]="{standalone: true}" min="0" max="59" (keypress)="keyPressFalse($event)">
                        </div>
                        <div class="row">
                            <label class="col-sm-4">End Time :</label>
                            <input class="col-sm-3 form-control"  style="padding: 0px 0px 0px 10px;height: 32px;
                            border: 1px solid #B3B6C7;"  type="number" [(ngModel)]="momentModel.absolute_endTimeMinutes" [ngModelOptions]="{standalone: true}" min="0" (keypress)="keyPressFalse($event)">
                            &nbsp;:&nbsp;
                            <input class="col-sm-3 form-control" style="padding: 0px 0px 0px 10px;height: 32px;
                            border: 1px solid #B3B6C7;" type="number" [(ngModel)]="momentModel.absolute_endTimeSeconds" [ngModelOptions]="{standalone: true}" min="0" max="59" (keypress)="keyPressFalse($event)">
                         </div>
                    </div>
                    <div class="errormsg-topic" *ngIf="timeErr != ''">{{timeErr}}</div>
                </div>
            </div>

           
        </div>

        <div class="row mb-3">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="label-name" style="margin-bottom: 4px;">Moment Type</label>
                    <p-dropdown class="edit-topic-channel" [options]="momentList" [(ngModel)]="momentModel.momentCategory_Type"  [ngModelOptions]="{standalone: true}"  placeholder="Select a Category"></p-dropdown>
                </div>
            </div>

            <div class="row" *ngIf="momentModel.momentCategory_Type == 'OverTalk' || momentModel.momentCategory_Type == 'Silence'">
                <div class=" col-sm-8 form-group">
                    <label class="label-name" style="margin-bottom: 4px;">Threshold</label>
                    <input type="number" class="topic-ipt form-control"  [(ngModel)]="momentModel.moment_Threshold" [ngModelOptions]="{standalone: true}" autocomplete="off" min="0" (keypress)="keyPressFalse($event)" placeholder="" >
                </div>
                <div style="display: grid;align-items: center;color: #729be9;font-weight: 500;">Seconds</div>
            </div>
            <div class="col-sm-3" *ngIf="momentModel.momentCategory_Type == 'Sentiment'">
                <div class="form-group">
                    <label class="label-name" style="margin-bottom: 4px;">Sentiment Type</label>
                    <p-dropdown class="edit-topic-channel" [options]="sentimentList" [(ngModel)]="momentModel.moment_SentimentType"  [ngModelOptions]="{standalone: true}" placeholder="Select a Category"></p-dropdown>
                </div>
            </div>
            <div class="col-sm-3" *ngIf="momentModel.momentCategory_Type == 'OverTalk' || momentModel.momentCategory_Type == 'Sentiment'">
                <div class="form-group">
                    <label class="label-name" style="margin-bottom: 4px;">Channel</label>
                    <p-dropdown class="edit-topic-channel" [options]="channelList" [(ngModel)]="momentModel.momentChannel" [ngModelOptions]="{standalone: true}" placeholder="Select a Category"></p-dropdown>
                </div>
            </div>
        </div>

        <div class="save-cancel common-bottom mt-5">
            <div class="row">
                <div class="col-sm-5" *ngIf="global.rolePermissions.playbooks.moments.isViewEdit == true">
                    <div class="form-group" *ngIf="createEditValue == 'create'">
                        <button type="submit" class="btn-save" (click)="saveMoment()">Save</button>
                    </div>
                    <div class="form-group" *ngIf="createEditValue == 'edit'">
                        <button type="submit" class="btn-save" (click)="updateMoment()">Save</button>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <button type="reset" class="btn-cancel" (click)="Cancel()">Cancel</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>


<!-- Delete Confirm box -->
<div class="modal" id="myModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content delete-popup">

            <!-- Modal Header -->
            <div class="modal-header" style="border-bottom: 0;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="delete-popup-content">
                    <img src="../assets/img/glyphs_messaging/glyph_danger.svg" style="margin-top: -10px;
              margin-right: 20px;">
                    <h5>Are you sure you want to delete this Moment ?</h5>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer " style="border-top: 0px;">
                <div style="margin-left: 11.6%;">
                    <button type="button" class="btn-pop-del" data-dismiss="modal" (click)="deleteMoment()">Delete Moment</button>
                    <button type="submit" class="btn-pop-cancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
</div>