<!-- <p>command-center works!</p> -->
<!-- <div style="margin: 18px;">
    <div class="p-d-flex">
        <div style="width: 68%;">
            <div class="left-card mb-3">
                <div class="card-title title-bg mb-0">Find your reports or services</div>
                <div class="form-group" style="padding: 0px 20px;position: relative;top: 20%;">
                    <div class="platform-label">You can enter names, keywords or acronyms</div>
                   
                   <p-autoComplete class="command-searchs" placeholder="Search by names/keywords/acronyms"></p-autoComplete>
                </div>
            </div>
            <div class="left-card">
                <div class="card-title title-bg">Popular categories</div>
                <div class="p-d-flex" style="padding: 0 20px;position: relative;top: 20%;"> 
                    <div class="categories-list">
                        <i class="fa fa-shopping-bag category-icon" aria-hidden="true"></i>
                        <h4 [routerLink]="['/evaluations/my-evaluation']">My Evaluations</h4>
                    </div>
                    <div class="categories-list">
                        <i class="fa fa-bar-chart category-icon" aria-hidden="true"></i>
                        <h4 [routerLink]="['/analytics/custom-reports']">My Reports</h4>
                    </div>
                    <div class="categories-list">
                        <i class="fa fa-shield category-icon" aria-hidden="true"></i>
                        <h4><a href="https://successkpi.com/compliance-and-security/" target="_blank">Security</a></h4>
                    </div>
                    <div class="categories-list">
                        <i class="fa fa-weixin category-icon" aria-hidden="true"></i>
                        <h4><a href="https://successkpi.com/webinars/" target="_blank">SKPI Webinars</a></h4>
                    </div>
                    <div class="categories-list">
                        <i class="fa fa-pencil-square-o category-icon" aria-hidden="true"></i>
                        <h4><a href="https://content.successkpis.com/assets/Content/Product+Release+Notes.pdf" target="_blank">Release Notes</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 30%;">
            <div class="left-card mb-3">
                <div class="card-title title-bg mb-0">Top 5 Applications</div>

                <div class="command-list">
                    <ul >
                       <li *ngFor="let item of topApp">{{item}}</li>
                    </ul>
                </div>
            </div>
            <div class="left-card">
                <div class="card-title title-bg mb-0">Top 5 Reports</div>

                <div class="command-list">
                    <ul >
                       <li *ngFor="let item of topApp">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
       
    </div>
</div> -->
<!-- <i class="fa fa-search" aria-hidden="true" style="color: #144df1;position: relative;left: -40%;opacity: 0.6;top: 32px;"></i> -->
<!-- <input type="text" class="inp-searchs form-control" placeholder="Search"> -->
<ng2-toasty [position]="'top-center'"></ng2-toasty> 
<div class="top-header">
    <div class="col">
        <h2 class="header-title">Command Center</h2>
    </div>
</div>
<div style="margin-left: 18px;" *ngIf="IsActive == 'mainPage'"> 
    <div class="left-card" style="height: 220px;">
        <div class="card-title title-bg">Popular categories</div>
        <div class="p-d-flex" style="padding: 0 60px;position: relative;top: 12%;"> 
            <div class="categories-list" [routerLink]="['/evaluations/evaluation-workspace-nacd']">
                <img class="category-img" src="../../../../assets/img/popular_Categories/My Evaluations_2.svg">
                <img class="category-img" src="../../../../assets/img/popular_Categories/My Evaluations_3.svg">
                <h4 >Evaluations</h4>
            </div>
            <div class="categories-list"  [routerLink]="['/analytics/my-reports']">
                <img class="category-img" src="../../../../assets/img/popular_Categories/My Reports _2.svg">
                <img class="category-img" src="../../../../assets/img/popular_Categories/My Reports _3.svg">
                <h4>My Reports</h4>
            </div>
            <div class="categories-list">
                
                <h4><a href="https://successkpi.com/compliance-and-security/" target="_blank">
                    <img class="category-img" src="../../../../assets/img/popular_Categories/Security_2.svg" style=" margin: 0%">
                    <img class="category-img" src="../../../../assets/img/popular_Categories/Security_3.svg" style=" margin: 0%">
                    Security</a></h4>
            </div>
            <div class="categories-list">
                <h4><a href="https://successkpi.com/webinars/" target="_blank">
                    <img class="category-img" src="../../../../assets/img/popular_Categories/SKPI Webinars_2.svg">
                    <img class="category-img" src="../../../../assets/img/popular_Categories/SKPI Webinars_3.svg">
                    SKPI Webinars</a></h4>
            </div>
            <div class="categories-list">
                <h4><a href="https://content.successkpis.com/assets/Content/Product+Release+Notes.pdf" target="_blank">
                    <img class="category-img" src="../../../../assets/img/popular_Categories/Release Note_2.svg">
                    <img class="category-img" src="../../../../assets/img/popular_Categories/Release Note_3.svg">
                    Release Notes</a></h4>
            </div>
        </div>
    </div>
    
    <div class="mt-4" style="display: flex;justify-content: space-evenly;">
        <div class="left-card" style="width: 45%;">
            <div class="card-title title-bg mb-0">Top 5 Applications</div>

            <div class="command-list">
                <ul>
                   <li *ngFor="let item of topAppsArr" routerLink={{item.appURL}} [ngClass]="getEvent(item.appName)">
                       <span *ngIf="item.appName != '' " routerLink={{item.appURL}}>{{item.appName}} : : {{item.appObj}}</span>
                       <span *ngIf="item.appName == '' ">No data</span>
                   </li>
                </ul>
            </div>

            <div *ngIf="emptyLabel || topAppsArr.length == 0" class="text-center">No Data!!!</div>
        </div>
        <div class="left-card" style="width:45%">
            <div class="card-title title-bg mb-0">Top 5 Reports</div>

            <div class="command-list">
                <ul class="report">
                   <li *ngFor="let item of topReportsArr" (click)="showIframe(item.reportID)" [ngClass]="getEvent(item.reportID)"> 
                    <span *ngIf="item.reportName != '' ||  item.reportName != null">{{item.reportName}}</span>
                    <span *ngIf="item.reportName == '' ||  item.reportName == null">No data</span>
                   </li>
                </ul>
            </div>
            <div *ngIf="emptyLabel || topReportsArr.length == 0" class="text-center">No Data!!!</div>
        </div>
    </div>
</div>

<iframe width="100%"  *ngIf="IsActive == 'reportPage'" height="800px" frameBorder="0" [src]="IframeURL | safe" ></iframe>