<ng2-toasty [position]="'top-center'"></ng2-toasty>

<div class="register-page">

    <div class="left-side-register">
        <div style="margin-bottom:64px">
          <img src="../assets/img/logo_login_register.png" style="width: 170px;">
        </div>
        <div class="login-footer-text" style="margin: 24px 0;">
            <p>Already have an account? <span><a routerLink="/login" >Log in. </a></span></p>
        </div>
        <div class="login-title">
            <h4>Create an account:</h4>
        </div>
        <div class="login-info">
          All information below is required to create an account.
        </div>
        <form [formGroup]="registerForm">
          <div class="login-forms">
            <div class="form-group" style="margin-bottom: 24px;">
               <label class="black-txt">Your full name</label>
               <input type="text" class="login-ipt form-control" formControlName="customername" [(ngModel)]="registerModel.CustomerName"
                [ngClass]="{'is-invalid': (isSubmit || registerForm.controls['customername'].touched) && registerForm.controls['customername'].errors}" placeholder="Full name" autocomplete="off">
                <div *ngIf="(!registerForm.controls['customername'].valid && registerForm.controls['customername'].touched)
                ||(registerForm.controls['customername'].errors?.required && isSubmit)" class="errormsg-topic">
                 Please enter a customer name</div>
            </div>
            <div class="form-group" style="margin-bottom: 24px;">
              <label class="black-txt">Company name</label>
              <input type="text" class="login-ipt form-control" formControlName="companyname" [(ngModel)]="registerModel.CompanyName"   [ngClass]="{'is-invalid': (isSubmit || registerForm.controls['companyname'].touched) && registerForm.controls['companyname'].errors}" placeholder="Company name" autocomplete="off">
              <div *ngIf="(!registerForm.controls['companyname'].valid && registerForm.controls['companyname'].touched)
              ||(registerForm.controls['companyname'].errors?.required && isSubmit)"class="errormsg-topic">
                Please enter a company name</div>
            </div>
            
            <div class="form-group" style="margin-bottom: 24px;">
                <label class="black-txt" tooltip="Phone number format 15551234567" placement="top" >Work phone number</label>
                <input type="text" class="login-ipt form-control" (keypress)="keyPress($event)" formControlName="phone" [(ngModel)]="registerModel.phoneNumber" 
                [ngClass]="{'is-invalid': (isSubmit || registerForm.controls['phone'].touched) && registerForm.controls['phone'].errors}" placeholder="Phone number" autocomplete="off">
                <div *ngIf="(!registerForm.controls['phone'].valid && registerForm.controls['phone'].touched)
                ||(registerForm.controls['phone'].errors?.required && isSubmit)"class="errormsg-topic">
                  Please enter a phone number</div>
             </div>
            </div>
            <div class="form-group" style="margin-bottom: 24px;">
                <label class="black-txt">Company address</label>
                <input type="text" class="login-ipt form-control" formControlName="address" [(ngModel)]="registerModel.CustomerAddress" 
                [ngClass]="{'is-invalid': (isSubmit || registerForm.controls['address'].touched) && registerForm.controls['address'].errors}"placeholder="Company address" autocomplete="off">
                <div *ngIf="(!registerForm.controls['address'].valid && registerForm.controls['address'].touched)
               ||(registerForm.controls['address'].errors?.required && isSubmit)"class="errormsg-topic">
                 Please enter a company address</div>
            
            </div>
            <div class="form-group" style="margin-bottom: 24px;">
                <label class="black-txt">Platform integration</label>
                <p-dropdown class ="dropdown-register" [ngClass]="{'is-invalid': (isSubmit || registerForm.controls['platform'].touched) && registerForm.controls['platform'].errors}" optionLabel="Value" [options]="platformList"  formControlName="platform"  [(ngModel)]="registerModel.platformObj"     placeholder="Please select"  ></p-dropdown>
                <div *ngIf="(!registerForm.controls['platform'].valid && registerForm.controls['platform'].touched)
               ||(registerForm.controls['platform'].errors?.required && isSubmit)"class="errormsg-topic">
                 Please select a platform</div>
              </div>
            <div class="form-group" style="margin-bottom: 24px;">
                <label class="black-txt">Region</label>
                <p-dropdown class ="dropdown-register" [options]="regionList" optionLabel="Value"  [(ngModel)]="registerModel.regionObj" formControlName="region"  [ngClass]="{'is-invalid': (isSubmit || registerForm.controls['region'].touched) && registerForm.controls['region'].errors}" placeholder="Please select"  ></p-dropdown>
                <div *ngIf="(!registerForm.controls['region'].valid && registerForm.controls['region'].touched)
               ||(registerForm.controls['region'].errors?.required && isSubmit)"class="errormsg-topic">
                 Please select a region</div>
            </div>
            <div class="form-group" style="margin-bottom: 24px;">
                <label class="black-txt">Industry</label>
                <p-dropdown class ="dropdown-register" [options]="industryList" optionLabel="Value"  [(ngModel)]="registerModel.industryObj" formControlName="industry"  [ngClass]="{'is-invalid': (isSubmit || registerForm.controls['industry'].touched) && registerForm.controls['industry'].errors}"placeholder="Please select"  ></p-dropdown>
                <div *ngIf="(!registerForm.controls['industry'].valid && registerForm.controls['industry'].touched)
                ||(registerForm.controls['industry'].errors?.required && isSubmit)"class="errormsg-topic">
                  Please select a industry</div>
            </div>
            <div>
              <div class="register-login-details">
                Log in details
              </div>
              <div class="form-group" style="margin-bottom: 24px;">
                  <label class="black-txt" tooltip="abcd@abcd.com" placement="top">Email address</label>
                  <input type="email" class="login-ipt form-control" formControlName="email" [(ngModel)]="registerModel.Username"  
                  [ngClass]="{'is-invalid': (isSubmit || registerForm.controls['email'].touched) && registerForm.controls['email'].errors}" placeholder="Email" autocomplete="off">
                  <div *ngIf="(registerForm.controls['email'].errors?.required && (isSubmit ||  registerForm.controls['email'].touched)) || registerForm.controls['email'].errors?.email  && registerForm.controls['email'].touched">
                  <div *ngIf="(registerForm.controls['email'].errors?.required && (isSubmit ||  registerForm.controls['email'].touched) )"class="errormsg-topic">
                      Please enter a email</div>
                  <div *ngIf="registerForm.controls['email'].errors?.email  && registerForm.controls['email'].touched" class="errormsg-topic">Please enter a valid email </div>
                  </div>
                </div>
              <div class="form-group" style="margin-bottom: 24px;">
                  <label class="black-txt" tooltip="Atleast 6 characters be a password" placement="top">Password</label>
                  <input type="password" class="login-ipt form-control" formControlName="password" [(ngModel)]="registerModel.Password" 
                  [ngClass]="{ 'is-invalid':(!registerForm.controls['password'].valid && ( isSubmit || registerForm.controls['password'].touched ))|| (registerForm.controls['password'].errors?.required && isSubmit )}">
                  <div *ngIf="(!registerForm.controls['password'].valid &&( registerForm.controls['password'].touched || isSubmit) )||(registerForm.controls['password'].errors?.required &&( isSubmit || registerForm.controls['password'].touched) ) "
                  class="errormsg-topic">
                  <div *ngIf="registerForm.controls['password'].errors?.required && ( isSubmit || registerForm.controls['password'].touched)">Please enter a password</div>
                  <div *ngIf="(registerForm.controls['password'].errors?.minlength && (registerForm.controls['password'].touched || isSubmit)) ">
                    Password must be at least 8 characters
                  </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
              <p class="terms-reg">By creating an account, you indicate that you have read and agree with
                <span><a href="{{termsandCondition}}" target="_blank">SuccessKPI’s Customer Terms and Conditions.</a></span>
              </p>
            </div>
            <div class="login-btn">
              <button type="button" [disabled]="loading" class="btn-reg" style=" width: 168px;" (click)="register(registerModel)">Create account</button>
            </div>
          <!-- </div> -->
        </form>
    </div>
    

    <div class="right-side-register">
      <div class="right-side-title">
        Core platform modules
      </div>
      <div class="sub-title">
        <h4>Four products in one integrated framework</h4>
      </div>
      <div class="cards">
       <div class="row">
          <div class="col-sm-6" style="margin-bottom: 60px;">
           <div class="single-card">
          
            <div class="card-reg-title">
              <img src="../assets/img/login_register_assets/login_register_assets/icons_registerscreen/icon_circle_convoanalytics.svg" style="margin-right: 14px;">
              <div>Conversational analytics</div>
            </div>
            <div class="card-content-center">
              <h4>Metrics, BI, Dashboards</h4>
            </div>
            <div class="card-content-footer">
              <h4>Get a 360 degree view across all channels and data sources</h4>
            </div>
          </div>
          </div>

          <div class="col-sm-6" style="margin-bottom: 60px;">
              <div class="single-card">
             
               <div class="card-reg-title">
                 <img src="../assets/img/login_register_assets/login_register_assets/icons_registerscreen/icon_speechtextanalytics.svg" style="margin-right: 14px;">
                 <div>Speech & text analytics</div>
               </div>
               <div class="card-content-center">
                 <h4>Transcribe, know sentiment</h4>
               </div>
               <div class="card-content-footer">
                 <h4>Get deep understanding of what agents and customers say and feel</h4>
               </div>
             </div>
          </div>

          <div class="col-sm-6" style="margin-bottom: 60px;">
              <div class="single-card">
             
               <div class="card-reg-title">
                 <img src="../assets/img/login_register_assets/login_register_assets/icons_registerscreen/icon_coach_empower.svg" style="margin-right: 14px;">
                 <div>Coach and empower agents</div>
               </div>
               <div class="card-content-center">
                 <h4>Forms, scoring, coaching</h4>
               </div>
               <div class="card-content-footer">
                 <h4>Take agent performance to new levels with automated scoring</h4>
               </div>
             </div>
          </div>

          <div class="col-sm-6" style="margin-bottom: 60px;">
              <div class="single-card">
             
               <div class="card-reg-title">
                 <img src="../assets/img/login_register_assets/login_register_assets/icons_registerscreen/icon_playbookbuilder.svg" style="margin-right: 14px;">
                 <div>Playbook Builder &trade;</div>
               </div>
               <div class="card-content-center">
                 <h4>Topics, themes, actions</h4>
               </div>
               <div class="card-content-footer">
                 <h4>Improve business outcomes from what happens in real-time</h4>
               </div>
             </div>
          </div>
       </div>
      </div>
    </div>
</div>


<!-- Reg..Content -->
<!-- <div>
  <div class="right-side-title">
    New product releases
</div>
<div class="sub-title">
  <h4>SuccessKPI now slices and dices</h4>
  <ul>
    <li>Value to customer because yeah</li>
    <li>Bigger, more amazing value because yeah</li>

  </ul>
  <p>Arcu non odio euismod lacinia at quis. Pellentesque nec nam aliquam sem et tortor consequat idmollis.</p>
</div>
<div class="sub-title">
    <h4>Really cookin with gas now </h4>
    <ul>
      <li>Supercharged value for customers</li>

    </ul>
    <p>Lorem mollis aliquam ut porttitor leo a. Sagittis vitae et leo duis ut diam quam. Erat imperdiet sed euismod nisi porta lorem.</p>
</div>
<div class="sub-title">
    <h4>New product feature yada </h4>
    <ul>
        <li>Value to customer because yeah</li>
        <li>Bigger, more amazing value because yeah</li>
    </ul>
    <p>Eu ultrices vitae auctor eu augue ut. Id eu nisl nunc mi ipsum faucibus. </p>
</div>
</div> -->