<!-- <p>interaction-details works!</p> -->
<ng2-toasty [position]="'top-center'"></ng2-toasty>

<div style="margin: 32px 16px 16px 32px;">
    <div class="page-title" style="margin-bottom: 24px;">
        <h2>Interaction details</h2>
    </div>

   <div class="first-card">
        <table class="table">
        <thead>
          <tr class ="fst-card-table">
            <th scope="col">Contact handled</th>
            <th scope="col">Interaction start time</th>
            <th scope="col" style="width: 35%;">Conversation ID</th>
            <th scope="col">Number dialled</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <tr *ngIf="report_data?.ReportData?.result?.data?.root != null">{{report_data?.ReportData?.result?.data?.root?.children[0]?.children[0]?.element?.name}}</tr>
                <tr *ngIf="report_data?.ReportData?.result?.data?.root == null">N/A</tr>
              </td>
              <td>
                <tr *ngIf="report_data?.ReportData?.result?.data?.root != null">{{report_data?.ReportData?.result?.data?.root?.children[0]?.children[0]?.children[0]?.children[0]?.element?.name}}</tr>
                <tr *ngIf="report_data?.ReportData?.result?.data?.root == null">N/A</tr>
              </td>
              <td>
                <tr *ngIf="report_data?.ReportData?.result?.data?.root != null">{{report_data?.ReportData?.result?.data?.root?.children[0]?.element?.name}}</tr>
                <tr *ngIf="report_data?.ReportData?.result?.data?.root == null">N/A</tr>
              </td>
              <td>
                <tr *ngIf="report_data?.ReportData?.result?.data?.root != null">{{report_data?.ReportData?.result?.data?.root?.children[0]?.children[0]?.children[0]?.element?.name}}</tr>
                <tr *ngIf="report_data?.ReportData?.result?.data?.root == null">N/A</tr>
              </td>
            </tr>
            <!-- <tr  *ngIf="report_data?.ReportData?.result?.data?.root == null">
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr> -->
        </tbody>
        </table>
   </div>

   <div class="second-card">
       <div class="row">
           <div class="col-lg-4">
              <div style="display: flex;">
                  <div class="col-sm-6">
                     <div class="sec-card-title">Channel</div>
                  </div>
                  <div class="col-sm-6">
                    <div class="sec-card-title">Sentiment</div>
                  </div>
              </div>
              <div class="channel-sentiment-type">
                <table class="table">
                    <thead>
                      <tr class ="sec-card-left">
                        <td style="width: 55%;">Agent</td>
                        <td class="pb-0" *ngIf="sentiment_data?.ReportData?.result?.data?.root != null && agentSentiment != null">  
                          <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                          class="agent-img-player sent-positive" *ngIf="agentSentiment== 'positive'" />
                          <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                          class="agent-img-player sent-negative" *ngIf="agentSentiment== 'negative'" />
                          <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                          class="agent-img-player sent-neutral" *ngIf="agentSentiment == 'neutral'" />
                          &nbsp;<span style="text-transform: capitalize;font-weight: 400;">[{{agentSentiment}}]</span>
                        </td>
                        <td class="pb-0" *ngIf="sentiment_data?.ReportData?.result?.data?.root == null || agentSentiment == null">  
                          N/A
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>Customer</td>
                          <td class="pb-0" *ngIf="sentiment_data?.ReportData?.result?.data?.root != null && customerSentiment != null">  
                            <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                            class="agent-img-player sent-positive" *ngIf="customerSentiment== 'positive'" />
                            <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                            class="agent-img-player sent-negative" *ngIf="customerSentiment== 'negative'" />
                            <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                            class="agent-img-player sent-neutral" *ngIf="customerSentiment == 'neutral'" />
                            &nbsp;<span style="text-transform: capitalize;font-weight: 400;">[{{customerSentiment}}]</span>
                          </td>
                          <td class="pb-0" *ngIf="sentiment_data?.ReportData?.result?.data?.root == null || customerSentiment == null">  
                            N/A
                          </td>
                        </tr>
                    </tbody>
                </table>
              </div>
           
           </div>
           <div class="col-lg-8">
               <div class="row">
                <div class="sec-card-title">Handling details</div>
               </div>
               <div class="row">
                <table class="table mr-3">
                    <thead>
                      <tr class ="fst-card-table">
                        <th scope="col">Status</th>
                        <th scope="col">Wait time</th>
                        <th scope="col">Talk time</th>
                        <th scope="col">Hold time</th>
                        <th scope="col">ACW time</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="report_data?.ReportData?.result?.data?.root != null">
                          <td>Answered</td>
                          <td>{{report_data?.ReportData?.result?.data.root?.children[0]?.children[0]?.children[0]?.children[0]?.children[0]?.metrics["Wait Time"]?.fv}}</td>
                          <td>{{report_data?.ReportData?.result.data?.root?.children[0]?.children[0]?.children[0]?.children[0]?.children[0]?.metrics["Talk Time"]?.fv}}</td>
                          <td>{{report_data?.ReportData?.result?.data?.root?.children[0]?.children[0]?.children[0]?.children[0]?.children[0]?.metrics["Hold Time"]?.fv}}</td>
                          <td>{{report_data?.ReportData?.result.data?.root?.children[0]?.children[0]?.children[0]?.children[0]?.children[0]?.metrics["ACW Time"]?.fv}}</td>
                        </tr>
                        <tr  *ngIf="report_data?.ReportData?.result?.data?.root == null">
                          <td>N/A</td>
                          <td>N/A</td>
                          <td>N/A</td>
                          <td>N/A</td>
                          <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
               </div>
               
           </div>
       </div>
   </div>

   <div class="third-cards">

    <div class="interaction-player-left" style="margin-right: 24px;height: 600px;">
        <div class="player-title">Interaction player :
          <span style="font-weight: bold; font-size:14px"> {{report_data?.ReportData?.result?.data?.root?.children[0]?.element?.name}}</span>
          <!-- More Selection  *ngIf="!isAudioSpinner && !nonACDAgentDropdown" -->
          <span>
            <div class="dropdown show" style="position: relative">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownPlayerLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" 
                    style="text-decoration: none; position: absolute; right: 0px; top: -30px;">
                   
                    <div class="rounded-img-letter" id="playerSettings" style="color:#333; background-color: transparent;text-align: right; font-size:20px">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownPlayerLink" style="width: 180px; padding: 10px; right: 0 !important; box-shadow: 5px 10px 8px #888888;">
                    <h5 style="text-decoration: underline;">Display Settings</h5>
                    <div *ngFor="let category of playerDisplayCategories" class="p-field-checkbox">
                        <!-- <p-checkbox name="group2" value="category" [value]="category"  [(ngModel)]="playerSelectedCategories" [inputId]="category.key" (onChange)="checkPlayerValue(category.key ,playerSelectedCategories, $event)" ></p-checkbox> -->
                        <input type="checkbox" value="category" [value]="category"  [(ngModel)]="category.checked" id="displayOptions" (change)="checkPlayerValue(category.key ,playerSelectedCategories, $event)" [checked]="isAvailable" />
                        <label [for]="category.key" style="position: relative;top: -2px;">{{category.name}}</label>
                    </div>    
                </div>
            </div>
        </span>
        <!-- More Selection -->
        </div>
        <div>
            <div class="row" style="text-align: center">
                <div class="col-md-12">
                    <!-- <div id="audio-spectrum">
                    </div> -->
                    <div *ngIf=" transcriptTab[0]?.from_user_emailid!=undefined" class="noAudioNoNACD">
                      <h4 style="color: #D10606;">No Audio Data Available</h4>
                      <p class="noAudioNoNACD-sub">Audio Data is only
                          associated with voice based conversations selected from the grid</p>
                  </div>
                  <!-- <div id="wave-timeline" *ngIf="transcriptTab[0]?.from_user_emailid==undefined" style="margin-top: 14px;"></div> -->
                  <div id="audio-spectrum" *ngIf="transcriptTab[0]?.from_user_emailid==undefined" (click)="getTimeMediaPlayer()">
                  </div> 
                </div>
            </div>
            <div style="background-color: #e4e7ea80;" *ngIf="transcriptTab[0]?.from_user_emailid==undefined">
            <div id="wave-timeline"></div>
              <div id="controls">
                <span id="refresh-btn" class="plspan"><i class="fa fa-refresh" aria-hidden="true"
                  data-toggle="tooltip" (click)="refreshBtn()" title="Refresh"></i></span>
                <span id="play-btn" class="plspan" value="play"><i class="fa fa-play" aria-hidden="true"
                        data-toggle="tooltip" (click)="playandpause()" title="Play/Pause"></i></span>
                <span id="previous-btn" class="plspan"><i class="fa fa-rotate-left" aria-hidden="true"
                        data-toggle="tooltip" (click)="skipBackward()" title="Backward"></i></span>
                <span id="next-btn" class="plspan"><i class="fa fa-rotate-right" aria-hidden="true"
                        data-toggle="tooltip" (click)="skipForward()" title="Forward"></i></span>

                  <span id="mute" class="plspan" style="margin-left: 0px;">
                      <i class="fa fa-volume-up"  (click)="volumeChange();" aria-hidden="true" data-toggle="tooltip" title="Mute/Unmute"></i>
                      <span class="plspan showSlider">
                          <input id="volumeSlider" class="volume-slider" type="range" name="volume-slider" min="0" max="100" value="50" [disabled]="disableMute" />
                      </span>
                  </span>
                  
                  <span id="waveform-time-indicator">
                      <div class="timecode">
                          <span id="currentTime">00:00:00</span>
                          <span> / </span>
                          <span id="totalDuration">00:00:00</span>
                          
                          <div class="dropup show" style="display:inline-block">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownplaybackRate" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                               
                                <div id="playerSettings" style="color: #9dafcb;">
                                    <span class="playbackRate">{{ playbackIndex + "x" }}</span>
                                </div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownplaybackRate">
                                <span class="playbackRateContainer" style="position:relative"> 
                                    <div class="playbackRateDiv">
                                        <span class="playbackHeader">Playback speed</span>
                                        <div *ngFor="let speed of playbackSpeed; let i = index">
                                            <a class="btn btn-info play-btnx" [(ngModel)]="playRateSpeedSelected" ngDefaultControl value="speed"
                                            [ngClass]="{active: selectedIndex == i}"
                                            (click)="checkPlayerSpeed(speed, i, $event)">{{ speed + "x" }}</a>
                                        </div>  
                                    </div>
                                </span>
                            </div>
                        </div> 
                          
                      </div>
                  </span> 
              </div>
            </div>  
        </div>
        

        <br>
        <!-- <p-tabMenu [model]="items1" [activeItem]="items1[0]">
        </p-tabMenu> -->

        <!-- <div class="overflow-eval-workspace" *ngIf="tabMenuName==='Topics'">
            <br />
            <div >
                <div class="row hover-topic" style="cursor: pointer;padding: 0 15px;">
                   
                     Topics
                    <br />
                    <br />
                </div>

            </div>

        
        </div> -->

        <div>

            <div class="player-title mb-2">Transcript</div>

            <div class="overflow-eval-workspace evalDetailsBottom" [style.height]="isTopics ? '240px' : '300px' ">

              <div *ngIf="transcriptTab != null">
                <div *ngFor="let tcItem of transcriptTab; let i=index" class="hover-bg-transcript">
                  <div *ngIf="tcItem?.from_user_emailid==undefined" class="row conv hover-conversation">
                      <!--(click)="trancriptSF(tcItem.start_time)"-->
                      <div class="col-md-4 hover-data1" style="left: 12px; " (click)="trancriptSF(tcItem.start_time)">
                          <label *ngIf="tcItem.channel =='Agent' || tcItem.channel =='AGENT'" class="col-form-label">
                              <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                                  style="background-color: #30BCED;
                                  border-radius: 100%;
                                  width: 25px;
                                  height: 25px;
                                  padding: 3px;">
                              <span style="cursor: pointer;margin-left: 8px;">[{{tcItem.start_time | timeConvert}}]</span></label>
                          <label *ngIf="tcItem.channel =='Customer' || tcItem.channel =='CUSTOMER'" class="col-form-label">
                              <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                                  style="  background-color: #98DFAF;
                                  border-radius: 100%;
                                  width: 25px;
                                  height: 25px;
                                  padding: 3px;">
                              <span style="cursor: pointer;margin-left: 8px;"><b>[{{tcItem.start_time | timeConvert}}]</b></span></label>
                          <label *ngIf="tcItem.channel =='Workflow' || tcItem.channel =='WORKFLOW'" class="col-form-label">
                            <img src="../../../../assets/img/Evaluation Workspace/icon_user_transcripts.svg"
                                style="background-color: #3A3E50;
                                border-radius: 100%;
                                width: 25px;
                                height: 25px;
                                padding: 3px;">
                            <span style="cursor: pointer;margin-left: 8px;">[{{tcItem.start_time | timeConvert}}]</span></label>
                      </div>
                      <div class="col-md-8 hover-data2" style="right: 50px;">
                          <label *ngIf="tcItem.channel =='Agent' || tcItem.channel =='AGENT'" class="col-form-label" ><span>{{tcItem.text}}</span></label>
                          <label *ngIf="tcItem.channel =='Customer' || tcItem.channel =='CUSTOMER'" class="col-form-label" ><span><b>{{tcItem.text}}</b></span></label>
                          <label *ngIf="tcItem.channel =='Workflow' || tcItem.channel =='WORKFLOW'" class="col-form-label" ><span>{{tcItem.text}}</span></label>
                        </div>
                  </div>
                 </div>

                 <div>
                  <div *ngIf="transcriptTab[0]?.from_user_emailid!=undefined" class="row conv hover-conversation">
                      <p-accordion>
                          <p-accordionTab header="&nbsp;({{tcItem.from_username}} - {{tcItem.channel}})&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{tcItem.start_time}}" *ngFor="let tcItem of transcriptTab; let i=index">
                              <label class="col-form-label"><b>From :&nbsp;</b><span>{{tcItem.from_user_emailid}}&nbsp;({{tcItem.from_username}})</span></label><br>
                              <label class="col-form-label"><b>To :&nbsp;</b><span>{{tcItem.to_user_emailid}}&nbsp;({{tcItem.to_username}})</span></label><br>
                              <label class="col-form-label"><b>Date Time :&nbsp;</b><span>{{tcItem.start_time}}</span></label><br>
                              <label class="col-form-label"><b>Subject :&nbsp;</b><span>{{tcItem.subject}}</span></label><br>
                              <label class="col-form-label"><b>Text :&nbsp;</b><span>{{tcItem.text}}</span></label><br>

                          </p-accordionTab>
                      </p-accordion>
                  </div>
              </div>
              </div>
               
              <div *ngIf="transcriptTab == null">
                <br>
                Transcript not found!
              </div>
            </div>
             
            
        </div>
        

    </div>

    <div class="interaction-player-right">
        <div class="player-title mb-3">Topics detected</div>
      
        <!-- <div class="eval-container-center" style="overflow-y: scroll;overflow-x: hidden;height: 520px;">
            <table class="table">
                <thead>
                  <tr class ="fst-card-table">
                    <th scope="col">Time</th>
                    <th scope="col">Topic</th>
                  </tr>
                </thead>
                <tbody class="borderpx" *ngFor="let topicItem of topicsTitle;">
                    <tr *ngFor="let topicTime of topicItem.children;let i=index;">
                      
                        <td class="remove-border" > {{topicTime.element.name}}</td>
                        <td class="remove-border" *ngIf = "i == 0">{{topicItem.element.name}}</td>
                        
                    </tr>
                    
                </tbody>
                
                <div *ngIf="topic_report?.ReportData?.result?.data?.root == null" style="text-align: center;
                  margin-top: 5%;
                  font-weight: 500;">No topic detected found
                </div>
                
               
               
            </table>
        </div> -->
      
        <div class="topic-header-mstr">
          <div style="width: 40%;">
            <h4 style="font-size: 16px;">Time</h4>
          </div>
          <div style="width: 60%;">
            <h4 style="font-size: 16px;">Topic</h4>
          </div>
        </div>
        <div>
          <div class="eval-container-center scroll-topic"  *ngIf="topic_report?.ReportData?.result?.data?.root != null">
            <div class="borderpx" *ngFor="let topicItem of topicsTitle;">
              <div  class="loop-data-topics" *ngFor="let topicTime of topicItem.children;let i=index;">
                
                  <div class="remove-border" style="width: auto;cursor: pointer;" (click)="trancriptSF(topicTime.element.name)"> [{{topicTime.element.name | timeConvert}}]</div>
                  <div class="remove-border" style="width: 60%;" *ngIf = "i == 0"  >{{topicItem.element.name}}</div>
                  
              </div>
              
            </div> 
          </div>

          <div class="no-found-topic" *ngIf="topic_report?.ReportData?.result?.data?.root == null" >No topic found!</div>

        </div>

    </div>
    
   </div>

  

</div>
