<div class="wfm" #wfm>
    <p-toast [baseZIndex]="999999"></p-toast>
    <!-- Begin top header -->
    <div class="row top-header">
        <div class="col-md-6">
            <h2 class="title">{{ isAddMode ? 'Create New ' : 'Update '}}Forecast Definition</h2>
        </div>
        <div class="col-md-6 text-right">
            <button pRipple (click)="cancelForecast()" class="cust-btn-outlined">Cancel</button> 
            <button pRipple (click)="submitForecast('saveasdraft')" class="cust-btn" *ngIf="global.rolePermissions.work.forecasting.isViewEdit == true">Save As Draft</button>
            <!-- <button pRipple (click)="submitForecast('save')" class="cust-btn" *ngIf="global.rolePermissions.work.forecasting.isViewEdit == true">Generate Forecast</button> -->
        </div>
    </div>
    <!-- End top header -->

    <!-- Begin body content -->
    <form name="forecastForm" [formGroup]="forecastForm" novalidate>
        <div style="padding:0px 32px;">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Begin wfm config table -->
                    <div class="row" id="wfm_configs_table" *ngIf="wfmConfigs?.length > 0">
                        <div class="col-12 cust-table section-header">
                            <h5 id="wfm_config_header" *ngIf="isAddMode">{{wfmConfigs?.length > 1 ? '1. Choose your Configuration' : '1. Configuration'}}</h5>
                            <h5 id="wfm_config_header" *ngIf="!isAddMode">1. Selected Configuration</h5>
                            <!-- Begin config table -->
                            <table class="table wfm-table">
                                <thead>
                                    <tr>
                                        <th *ngIf="wfmConfigs?.length > 1"></th>
                                        <th>Platform</th>
                                        <th>CX Center</th>
                                        <th>Forecast Type</th>
                                        <th>Forecasting Interval</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let config of wfmConfigs" [id]="'table_row_'+config.wfmConfigId">
                                        <td *ngIf="wfmConfigs?.length > 1">
                                            <input type="radio" [id]="config.wfmConfigId" value="{{config.wfmConfigId}}" (change)="onChangeConfig(config)" name="configOptions" />
                                        </td>
                                        <td>{{config.platformName}}</td>
                                        <td>{{config.cxCenterName}}</td>
                                        <td>{{config.term}}</td>
                                        <td>{{config.interval}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End config table -->
                        </div>
                    </div>
                    <!--/.row-->
                    <hr class="solid" *ngIf="wfmConfigs?.length > 0"/>
                    <!-- End wfm config table -->
                    <div class="row">
                        <div class="col-12 section-header">
                            <h5>2. Name Your Forecast, Set Start Date and End Date</h5>
                            <p>First, name your forecast, pick which day the forecast should begin.</p>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row" id="forecast_traffic_group">
                        <div class="col-lg-3">
                            <div class="form-group required">
                                <label class="control-label">Forecast Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="staffingRequestName"
                                    placeholder="Name your forecast"
                                    [ngClass]="{'is-invalid': (isSubmitted || forecastForm.controls['staffingRequestName'].touched) && forecastForm.controls['staffingRequestName'].errors, 'disabled-input': (!isAddMode) }"
                                />
                                <div *ngIf="isSubmitted && forecastForm.controls['staffingRequestName'].invalid && forecastForm.controls['staffingRequestName'].dirty || forecastForm.controls['staffingRequestName'].errors">
                                    <small *ngIf="isSubmitted && forecastForm.controls['staffingRequestName'].errors?.required" class="errormsg-topic">This field is required. </small>
                                    <small *ngIf="isSubmitted && forecastForm.controls['staffingRequestName'].errors?.maxlength" class="errormsg-topic">Maximum 50 characters only allowed. </small>
                                    <small *ngIf="isSubmitted && forecastForm.controls['staffingRequestName'].errors?.pattern" class="errormsg-topic">Forecast name must contain only alphabets, numbers and the following special characters: hypen & underscore.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group required">
                                <label class="control-label">Start Date</label>
                                <img src="../assets/img/microinteraction/calendar.svg" class="cust-calendar-img" style="top: 38px;" />
                                <p-calendar
                                    dateFormat="mm/dd/yy"
                                    formControlName="startDate"
                                    [minDate]="startDate.minDate"
                                    [maxDate]="startDate.maxDate"
                                    [readonlyInput]="true"
                                    [showIcon]="false"
                                    class="cust-calendar"
                                    placeholder="MM/DD/YYYY"
                                    appendTo="body"
                                ></p-calendar>
                                <div *ngIf="isSubmitted && forecastForm.controls['startDate'].invalid && forecastForm.controls['startDate'].dirty || forecastForm.controls['startDate'].errors">
                                    <small *ngIf="isSubmitted && forecastForm.controls['startDate'].errors?.required" class="errormsg-topic">Please select start date </small>
                                </div>
                                <div *ngIf="forecastForm.controls.startDate.value">
                                    <small *ngIf="isSubmitted && forecastForm.hasError('startDateNotValid')" class="errormsg-topic">Start date should be greater than or equal to todays date</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>End Date</label>
                                <img src="../assets/img/microinteraction/calendar.svg" class="cust-calendar-img" style="top: 38px;" />
                                <p-calendar
                                    dateFormat="mm/dd/yy"
                                    formControlName="endDate"
                                    [minDate]="endDate.minDate"
                                    [maxDate]="endDate.maxDate"
                                    [readonlyInput]="true"
                                    [showIcon]="false"
                                    class="cust-calendar"
                                    placeholder="MM/DD/YYYY"
                                    appendTo="body"
                                >
                                </p-calendar>
                                <div *ngIf="isSubmitted && forecastForm.controls['endDate'].invalid && forecastForm.controls['endDate'].dirty || forecastForm.controls['endDate'].errors">
                                    <small *ngIf="isSubmitted && forecastForm.controls['endDate'].errors?.required" class="errormsg-topic">Please select end date </small>
                                </div>
                                <div *ngIf="forecastForm.controls.endDate.value">
                                    <small *ngIf="forecastForm.hasError('endDateNotValid')" class="errormsg-topic">End date should be greater than start date</small>
                                    <small *ngIf="forecastForm.hasError('daysDiffNotValid')" class="errormsg-topic">End date should not be more than 4 weeks</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea
                                    id="staffingRequestDescription"
                                    name="staffingRequestDescription"
                                    formControlName="staffingRequestDescription"
                                    [(ngModel)]="description"
                                    rows="4"
                                    maxlength="400"
                                    class="form-control"
                                    placeholder="Type your content here.."
                                    [ngClass]="{'is-invalid': (isSubmitted || forecastForm.controls['staffingRequestDescription'].touched) && forecastForm.controls['staffingRequestDescription'].errors}"
                                ></textarea>
                                <small class="form-text text-muted">characters remaining: <code>{{ (description) ? 400 - description.length : 400 - 0 }}</code>/<code>400</code></small>
                                <div
                                    *ngIf="isSubmitted && forecastForm.controls['staffingRequestDescription'].invalid && forecastForm.controls['staffingRequestDescription'].dirty || forecastForm.controls['staffingRequestDescription'].errors"
                                >
                                    <small *ngIf="isSubmitted && forecastForm.controls['staffingRequestDescription'].errors?.maxlength" class="errormsg-topic">Maximum 400 characters only allowed. </small>
                                    <small *ngIf="isSubmitted && forecastForm.controls['staffingRequestDescription'].errors?.pattern" class="errormsg-topic">Description must contain only alphabets, numbers and the following special characters: comma, dot, hypen & underscore.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-3">
                        <div class="form-group required">
                            <label class="control-label">Forecast Term</label>
                            <div class="col-form-label">
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input" type="radio" formControlName="term" id="inlineRadio1" value="short" />
                                    <label class="form-check-label" for="inlineRadio1">Short Term</label>
                                </div>
                                <div class="form-check form-check-inline mr-1">
                                    <input class="form-check-input disable-control" type="radio" id="inlineRadio2" value="lt" disabled />
                                    <label class="form-check-label" for="inlineRadio2">Long Term</label>
                                </div>
                                <div *ngIf="isSubmitted && forecastForm.controls['term'].invalid && forecastForm.controls['term'].dirty || forecastForm.controls['term'].errors">
                                    <small *ngIf="isSubmitted && forecastForm.controls['term'].errors?.required" class="errormsg-topic">Choose the forecast term option </small>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <!-- <div class="col-lg-3">
                        <div class="form-group required">
                            <label class="control-label">Granularity</label>
                            <select class="form-control form-select custom-disabled" formControlName="interval" aria-label="Default select example">
                                <option value="15m" selected>15m</option>
                                <option value="30m" disabled>30m</option>
                            </select>
                            <div *ngIf="isSubmitted && forecastForm.controls['interval'].invalid && forecastForm.controls['interval'].dirty || forecastForm.controls['interval'].errors">
                                <small *ngIf="isSubmitted && forecastForm.controls['interval'].errors?.required" class="errormsg-topic">Choose the option</small>
                            </div>
                        </div>
                    </div> -->
                    </div>
                    <!--/.row-->

                    <hr class="solid" />
                    <div class="row">
                        <div class="col-12 section-header">
                            <h5>3. Define Media type and Service Quality Objective</h5>
                            <p>Select media type you are interested in forecasting. We will use this information to generate your forecast by comparing it to your historical data.</p>
                        </div>
                    </div>
                    <!--/.row-->

                    <!-- Begin Media Type section -->
                    <div class="row" id="media_type_group" *ngIf="!mediaType">
                        <div class="col-md-12">
                            <label style="font-size: 0.8rem; font-weight: 600;">Media Type</label>
                            <div class="mt-placeholder">Add your media type</div>
                            <!-- <p-dropdown
                                    [(ngModel)]="mediaType"
                                    (ngModelChange)="onChangeMediaType()"
                                    [options]="mediaTypes"
                                    dataKey="value"
                                    optionValue="value"
                                    optionLabel="label"
                                    [filter]="false"
                                    filterBy="label"
                                    [showClear]="false"
                                    class="cust-p-dropdown mt-dropdown"
                                    placeholder="Add your media type"
                                    [ngModelOptions]="{standalone: true}"
                                    
                                ></p-dropdown> -->
                                <div *ngIf="isSubmitted && !mediaType">
                                    <small class="errormsg-topic" style="color:#1E50C6;">Click the button to add your media type </small>
                                </div>
                                <!-- <div *ngIf="isSubmitted && forecastForm.controls['channel'].invalid && forecastForm.controls['channel'].dirty || forecastForm.controls['channel'].errors">
                                <small *ngIf="isSubmitted && forecastForm.controls['channel'].errors?.required" class="errormsg-topic">Select a Media Type </small>
                            </div> -->
                        </div>
                    </div>
                    <!-- End Media Type section -->

                    <!-- Begin service level section -->
                    <div class="row mb-20" id="service_level_group" *ngIf="mediaType">
                        <div class="col-12">
                            <table class="sl-table">
                                <thead>
                                    <tr>
                                        <th style="width:135px;">Media Type</th>
                                        <th>Select Service Quality Objective</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding-left: 10px;">
                                            {{mediaType}}
                                        </td>
                                        <td>
                                            <div class="sl-dropdown-section">
                                                <p-dropdown
                                                    [(ngModel)]="serviceLevelOption"
                                                    [options]="serviceLevels"
                                                    dataKey="Key"
                                                    optionValue="Key"
                                                    optionLabel="Value"
                                                    [filter]="false"
                                                    filterBy="Value"
                                                    [showClear]="false"
                                                    class="cust-p-dropdown"
                                                    placeholder="Select Service Quality Objective"
                                                    [ngModelOptions]="{standalone: true}"
                                                    appendTo="body"
                                                >
                                                </p-dropdown>
                                                <div *ngIf="isSubmitted && !serviceLevelOption">
                                                    <small class="errormsg-topic">Select Service Quality Objective</small>
                                                </div>
                                            </div>
                                            <span style="margin-right:15px;padding: 8px 25px;" *ngIf="global.rolePermissions.work.forecasting.isViewEdit == true">OR</span>
                                            <button (click)="showServiceLevelDialog()" tooltip="Click this button to add a New Service Quality Objective" *ngIf="global.rolePermissions.work.forecasting.isViewEdit == true" class="cust-btn-sm" style="margin: 0; padding: 7px 20px;"><i class="fa fa-plus"></i></button>
                                        </td>
                                        <td class="text-right">
                                            <i class="fa fa-times-circle close-btn" (click)="removeServiceLevelSection()" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End service level section -->

                    <!-- Begin media type menu item-->
                    <div class="row mb-20" style="margin-top:10px;">
                        <div class="col-md-12 text-right">
                            <div>
                                <button pRipple (click)="op.toggle($event); setMenuItemTop();" class="cust-btn" style="margin-right:0;" tooltip="Click here to add a media type" placement="top">Add Media Type</button>
                                <!-- <ng-template #mediatypebox></ng-template> -->
                                <p-overlayPanel #op appendTo="body" styleClass="mt-overlaypanel">
                                    <div>
                                        <ul class="list-group">
                                            <li id="list_item_Voice" class="list-group-item" (click)="manageMediaType('Voice');" [ngClass]="{'list-item-highlight': mediaType=='Voice' }">Voice</li>
                                            <li id="list_item_Chat" class="list-group-item" (click)="manageMediaType('Chat')" [ngClass]="{'list-item-highlight': mediaType=='Chat' }">Chat</li>
                                            <li id="list_item_Email" class="list-group-item" (click)="manageMediaType('Email')" [ngClass]="{'list-item-highlight': mediaType=='Email' }">Email</li>
                                            <li id="list_item_Social" class="list-group-item" (click)="manageMediaType('Social')" [ngClass]="{'list-item-highlight': mediaType=='Social' }">Social</li>
                                          </ul>
                                    </div>
                                </p-overlayPanel>
                            </div>
                        </div>
                    </div>
                    <!-- End media type menu item-->

                    <hr class="solid" />

                    <div class="row">
                        <div class="col-12 section-header">
                            <h5>4. Define Staffing Parameters</h5>
                            <p>Optionally, enter your Shrinkage and Occupancy values</p>
                        </div>
                    </div>
                    <!--/.row-->

                    <div class="row" id="shrinkage_occupancy_section">
                        <div class="col-lg-3">
                            <div class="form-group required" style="position: relative;">
                                <label class="control-label">Shrinkage</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    pKeyFilter="num"
                                    formControlName="shrinkage"
                                    placeholder=""
                                    maxlength="5"
                                    (input)="checkIsValidInput($event.target.value, 'shrinkage')"
                                    [ngClass]="{'is-invalid': (isSubmitted || forecastForm.controls['shrinkage'].touched) && forecastForm.controls['shrinkage'].errors || forecastForm.get('shrinkage').value && forecastForm.get('shrinkage').value > 100 }"
                                />
                                <span class="percent-symbol">%</span>
                                <div *ngIf="isSubmitted && forecastForm.controls['shrinkage'].invalid && forecastForm.controls['shrinkage'].dirty || forecastForm.controls['shrinkage'].errors">
                                    <small *ngIf="isSubmitted && forecastForm.controls['shrinkage'].errors?.required" class="errormsg-topic">This field is required. </small>
                                    <small *ngIf="isSubmitted && forecastForm.controls['shrinkage'].errors?.maxlength" class="errormsg-topic">Maximum 5 characters only allowed</small>
                                </div>
                                <small *ngIf="isSubmitted && forecastForm.get('shrinkage').value && !isValidShrinkage" class="errormsg-topic">Percentage must be between 1 to 100 </small>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group required" style="position: relative;">
                                <label class="control-label">Occupancy</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    pKeyFilter="int"
                                    formControlName="occupancy"
                                    placeholder=""
                                    maxlength="3"
                                    (input)="checkIsValidInput($event.target.value, 'occupancy')"
                                    [ngClass]="{'is-invalid': (isSubmitted || forecastForm.controls['occupancy'].touched) && forecastForm.controls['occupancy'].errors || forecastForm.get('occupancy').value && forecastForm.get('occupancy').value > 100 }"
                                />
                                <span class="percent-symbol">%</span>
                                <div *ngIf="isSubmitted && forecastForm.controls['occupancy'].invalid && forecastForm.controls['occupancy'].dirty || forecastForm.controls['occupancy'].errors">
                                    <small *ngIf="isSubmitted && forecastForm.controls['occupancy'].errors?.required" class="errormsg-topic">This field is required. </small>
                                    <small *ngIf="isSubmitted && forecastForm.controls['occupancy'].errors?.maxlength" class="errormsg-topic">Maximum 3 characters only allowed</small>
                                </div>
                                <small *ngIf="isSubmitted && forecastForm.get('occupancy').value && !isValidOccupancy" class="errormsg-topic">Percentage must be between 1 to 100 </small>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                    <hr class="solid" />

                    <!-- Begin queue section -->
                    <div class="row" id="queue_set">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 section-header">
                                    <h5 id="queue_header">5. Choose your Queue Filters</h5>
                                    <p>Before you create a forecast, first you'll setup your queue filters to refine the forecasting process. Remember the more filters you select the longer it will take to generate the forecast.</p>
                                </div>
                            </div>
                            <!--/.row-->

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <!-- <label>Select your Queues</label> -->
                                        <input type="text" [(ngModel)]="searchKey" (keyup)="applyFilter();" class="form-control" placeholder="Search for Queues" [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <!-- <select class="form-control form-select" aria-label="Default select example">
                                            <option value="0">Filter by most frequent queues</option>
                                        </select> -->
                                        <p-multiSelect
                                            [options]="frequentQueues"
                                            [(ngModel)]="selectedFrequentQueues"
                                            optionLabel="queueName"
                                            (onChange)="onFrequentQueueChange($event)"
                                            defaultLabel="Filter by most frequent queues"
                                            selectedItemsLabel="{0} columns selected"
                                            placeholder="Filter by most frequent queues"
                                            styleClass="cust-multiselect-panel"
                                            [ngModelOptions]="{standalone: true}"
                                            maxSelectedLabels="2"
                                        ></p-multiSelect>
                                    </div>
                                </div>
                            </div>
                            <hr class="solid" />
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <button pRipple (click)="selectAllQueues()" class="cust-btn-outlined-sm">Select All</button>
                                        <button pRipple (click)="resetQueues()" class="cust-btn-outlined-sm">Clear All</button>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-8" style="padding-top:15px;">
                                    <strong style="float:left">Queues Added:</strong>
                                    <div id="selected_queues" *ngIf="selectedQueues" class="sel-q-list" style="padding: 0px; height: 35px; overflow: hidden;">
                                        <ul>
                                            <li *ngFor="let q of selectedQueues" [id]="q.queueId + '_' + q.queueName" class="chip chip-added">
                                                {{q.queueName}}
                                                <i class="icon-close icons" (click)="removeQueue(q)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div> -->
                                <div class="col-lg-7 text-right">
                                    <div class="form-group">
                                        <div class="alpha text-center">
                                            <a [id]="'alpha_'+alpha" *ngFor="let alpha of alphabets" (click)="getAlphabeticalQueues(alpha)">{{alpha}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 text-right">
                                    <button pRipple (click)="seeAllQueues()" class="cust-btn-x-sm">See All</button>
                                </div>
                            </div>
                            <!--/.row-->
                            <hr class="solid" style="margin-top: 0;" />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card-body selected-queue-section">
                                                <strong>Queues Added:</strong><br />
                                                <br />
                                                <div id="selected_queues" *ngIf="selectedQueues" class="col-lg-12 sel-q-list" style="padding: 0px;">
                                                    <ul>
                                                        <li *ngFor="let q of selectedQueues" [id]="q.queueId + '_' + q.queueName" class="chip chip-added">
                                                            {{q.queueName}}
                                                            <i class="icon-close icons" (click)="removeQueue(q)"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/.row-->

                            <hr class="solid" style="margin-top: 0;" />
                            <div class="row">
                                <div id="default_queues" class="col-lg-12 q-list" style="padding: 0;">
                                    <ul>
                                        <li [id]="'chip_'+ q.queueId" *ngFor="let q of queues" (click)="addQueues(q)" class="chip">
                                            {{q.queueName}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--/.row-->
                        </div>
                    </div>
                    <!-- End queue section -->

                    <hr class="solid" />
                    <div class="row">
                        <div class="col-lg-12 mb-20">
                            <div class="form-check checkbox">
                                <input class="form-check-input" type="checkbox" formControlName="isNotified" value="isNotified" id="chkNotifyMe" />
                                <label class="form-check-label" for="chkNotifyMe">Notify me if forecast generation fails.</label>
                                <div *ngIf="isSubmitted && forecastForm.controls['isNotified'].invalid && forecastForm.controls['isNotified'].dirty || forecastForm.controls['isNotified'].errors">
                                    <small *ngIf="isSubmitted && forecastForm.controls['isNotified'].errors?.required" class="errormsg-topic">Please accept notify me to get email</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.row-->
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
        <div class="row action-footer">
            <div class="col-12 text-right">
                <button pRipple (click)="cancelForecast()" class="cust-btn-outlined">Cancel</button>
                <button pRipple (click)="submitForecast('saveasdraft')" class="cust-btn" *ngIf="global.rolePermissions.work.forecasting.isViewEdit == true">Save As Draft</button>
                <!-- <button pRipple (click)="submitForecast('save')" class="cust-btn" *ngIf="global.rolePermissions.work.forecasting.isViewEdit == true">Generate Forecast</button> -->
            </div>
        </div>
    </form>
    <!-- End body content -->

    <!-- Begin create servel dialog -->
    <p-dialog header="Create New Service Quality Objective" class="cust-dialog" [(visible)]="display" [modal]="true" [baseZIndex]="10000">
        <!-- Begin body content -->
        <div class="row">
            <div class="col-lg-12" id="service_level_form_dialog">
                <form name="serviceLevelFormDialog" [formGroup]="serviceLevelFormDialog" novalidate>
                    <div class="card-body">
                        <!-- Begin fields of Name & Description -->
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group required">
                                    <label class="control-label">Name</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        formControlName="serviceLevelName"
                                        placeholder=""
                                        [ngClass]="{'is-invalid': (isServiceLevelDialogSubmitted || serviceLevelFormDialog.controls['serviceLevelName'].touched) && serviceLevelFormDialog.controls['serviceLevelName'].errors}"
                                    />
                                    <div
                                        *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevelName'].invalid && serviceLevelFormDialog.controls['serviceLevelName'].dirty || serviceLevelFormDialog.controls['serviceLevelName'].errors"
                                    >
                                        <small *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevelName'].errors?.required" class="errormsg-topic">This field is required. </small>
                                        <small *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevelName'].errors?.maxlength" class="errormsg-topic">Maximum 50 characters only allowed. </small>
                                        <small *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevelName'].errors?.pattern" class="errormsg-topic">Service level name must contain only alphabets, numbers and the following special characters: hypen & underscore.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea
                                        id="serviceLevelDescription"
                                        name="serviceLevelDescription"
                                        maxlength="400"
                                        formControlName="serviceLevelDescription"
                                        rows="4"
                                        class="form-control"
                                        placeholder="Type your content here.."
                                        [(ngModel)]="slDescription"
                                        [ngClass]="{'is-invalid': (isServiceLevelDialogSubmitted || serviceLevelFormDialog.controls['serviceLevelDescription'].touched) && serviceLevelFormDialog.controls['serviceLevelDescription'].errors}"
                                    ></textarea>
                                    <small class="form-text text-muted">characters remaining: <code>{{ 400 - serviceLevelFormDialog.get('serviceLevelDescription').value.length }}</code>/<code>400</code></small>
                                    <div
                                        *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevelDescription'].invalid && serviceLevelFormDialog.controls['serviceLevelDescription'].dirty || serviceLevelFormDialog.controls['serviceLevelDescription'].errors"
                                    >
                                        <small *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevelDescription'].errors?.maxlength" class="errormsg-topic">Maximum 400 characters only allowed. </small>
                                        <small *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevelDescription'].errors?.pattern" class="errormsg-topic">Description must contain only alphabets, numbers and the following special characters: comma, dot, hypen & underscore.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End fields of Name & Description -->

                        <!-- Begin media type and service levels -->
                        <div class="row">
                            <div class="col-12">
                                <h6 style="font-weight: 600;">Define Media Type, Service Levels and Average Speed of Answer</h6>
                            </div>
                        </div>
                        <div class="row mb-20">
                            <div class="col-12">
                                <table class="sl-table">
                                    <thead>
                                        <tr>
                                            <th *ngIf="mediaType" style="width: 120px; padding-left: 0px;">Media Type</th>
                                            <th>Set Service Level(s)</th>
                                            <th style="width: 215px;">
                                                <span class="time-header">Hours</span>
                                                <span class="time-header">Minutes</span>
                                                <span class="time-header">Seconds</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td *ngIf="mediaType" style="padding-left: 10px;">
                                                {{mediaType}}
                                            </td>
                                            <td>
                                                <div class="sl-input-section">
                                                    <input
                                                        type="text"
                                                        formControlName="serviceLevel"
                                                        pKeyFilter="int"
                                                        class="form-control"
                                                        maxlength="3"
                                                        [ngClass]="{'is-invalid': (isServiceLevelDialogSubmitted || serviceLevelFormDialog.controls['serviceLevel'].touched) && serviceLevelFormDialog.controls['serviceLevel'].errors || serviceLevelFormDialog.hasError('serviceLevel_invalid') || serviceLevelFormDialog.get('serviceLevel').value && serviceLevelFormDialog.get('serviceLevel').value < 1 }"
                                                    />
                                                    <!-- Begin error section -->
                                                    <div
                                                        *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevel'].invalid && serviceLevelFormDialog.controls['serviceLevel'].dirty || serviceLevelFormDialog.controls['serviceLevel'].errors"
                                                    >
                                                        <small *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevel'].errors?.required" class="errormsg-topic">Required </small>
                                                        <small *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.controls['serviceLevel'].errors?.maxlength" class="errormsg-topic">Maximum 3 characters only allowed</small>
                                                    </div>
                                                    <small *ngIf="isServiceLevelDialogSubmitted && serviceLevelFormDialog.hasError('serviceLevel_invalid')" class="errormsg-topic">Invalid</small>
                                                    <!-- End error section -->
                                                </div>
                                                <span>% of interactions will be answered within</span>
                                            </td>
                                            <td>
                                                <div class="sl-input-section">
                                                    <p-dropdown
                                                        [(ngModel)]="svcLvlHour"
                                                        [options]="svcLvlHours"
                                                        dataKey="value"
                                                        optionValue="value"
                                                        optionLabel="label"
                                                        [filter]="false"
                                                        filterBy="label"
                                                        [showClear]="false"
                                                        class="cust-p-dropdown"
                                                        placeholder="hh"
                                                        [ngModelOptions]="{standalone: true}"
                                                        appendTo="body"
                                                    >
                                                    </p-dropdown>
                                                </div>
                                                <div class="sl-input-section">
                                                    <p-dropdown
                                                        [(ngModel)]="svcLvlMinute"
                                                        [options]="svcLvlMinutes"
                                                        dataKey="value"
                                                        optionValue="value"
                                                        optionLabel="label"
                                                        [filter]="false"
                                                        filterBy="label"
                                                        [showClear]="false"
                                                        class="cust-p-dropdown"
                                                        placeholder="mm"
                                                        [ngModelOptions]="{standalone: true}"
                                                        appendTo="body"
                                                    >
                                                    </p-dropdown>
                                                </div>
                                                <div class="sl-input-section">
                                                    <p-dropdown
                                                        [(ngModel)]="svcLvlSecond"
                                                        [options]="svcLvlSeconds"
                                                        dataKey="value"
                                                        optionValue="value"
                                                        optionLabel="label"
                                                        [filter]="false"
                                                        filterBy="label"
                                                        [showClear]="false"
                                                        class="cust-p-dropdown"
                                                        placeholder="ss"
                                                        [ngModelOptions]="{standalone: true}"
                                                        appendTo="body"
                                                    >
                                                    </p-dropdown>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End media type and service levels -->

                        <!-- Begin avg speed of answer section -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="service-section-container">
                                        <!-- Begin field of avg speed of answer -->
                                        <div class="form-group row">
                                            <label class="col-md-4 col-form-label" style="max-width: 200px;">Average speed of Answer</label>
                                            <div style="padding-left: 0;">
                                                <div class="sl-input-section">
                                                    <p-dropdown
                                                        [(ngModel)]="avgSpeedHour"
                                                        [options]="avgSpeedHours"
                                                        dataKey="value"
                                                        optionValue="value"
                                                        optionLabel="label"
                                                        [filter]="false"
                                                        filterBy="label"
                                                        [showClear]="false"
                                                        class="cust-p-dropdown"
                                                        placeholder="hh"
                                                        [ngModelOptions]="{standalone: true}"
                                                        appendTo="body"
                                                    >
                                                    </p-dropdown>
                                                </div>
                                                <div class="sl-input-section">
                                                    <p-dropdown
                                                        [(ngModel)]="avgSpeedMinute"
                                                        [options]="avgSpeedMinutes"
                                                        dataKey="value"
                                                        optionValue="value"
                                                        optionLabel="label"
                                                        [filter]="false"
                                                        filterBy="label"
                                                        [showClear]="false"
                                                        class="cust-p-dropdown"
                                                        placeholder="mm"
                                                        [ngModelOptions]="{standalone: true}"
                                                        appendTo="body"
                                                    >
                                                    </p-dropdown>
                                                </div>
                                                <div class="sl-input-section">
                                                    <p-dropdown
                                                        [(ngModel)]="avgSpeedSecond"
                                                        [options]="avgSpeedSeconds"
                                                        dataKey="value"
                                                        optionValue="value"
                                                        optionLabel="label"
                                                        [filter]="false"
                                                        filterBy="label"
                                                        [showClear]="false"
                                                        class="cust-p-dropdown"
                                                        placeholder="ss"
                                                        [ngModelOptions]="{standalone: true}"
                                                        appendTo="body"
                                                    >
                                                    </p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End avg speed of answer section -->
                    </div>
                    <!--/.row-->
                    <p-footer>
                        <div class="dialog-action-footer">
                            <button type="button" pRipple (click)="cancelServiceLevelDialog()" class="cust-btn-outlined" style="width: 200px;">Cancel</button>&nbsp;
                            <button type="submit" pRipple (click)="submitServiceLevelDialog()" class="cust-btn" style="width: 200px;">Save</button>
                        </div>
                    </p-footer>
                </form>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        <!-- End body content -->
    </p-dialog>
    <!-- End create servel dialog -->
</div>
