.wfm h1,h2,h3,h4,h5,h6,li,p,a,button,label,textarea{
    font-family: sans-serif;
  }
  
  .wfm h1,h2,h3,h4,h5,h6, label{
      color:#303030;
      font-weight: 500;
  }
  
  .wfm a{
      color:#1E50C6;
      font-size: 14px;
      cursor: pointer;
  }

  .wfm table th,td{
    font-family: sans-serif;
}

.form-control{
    background-color: #FFFFFF;
    border: 1px solid #B3B6C7;
    border-radius: 4px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

h5,.h5{
    font-size: 1.09375rem;
}

.form-group label{
    /* margin-bottom: 0; */
    font-weight: 500;
}


a{
    color:#007ad9 !important;
    cursor: pointer;
}

a:hover{
    color:#012169 !important;
}