<!-- <p>sso-azure-login works!</p> -->
<div class="login-page">
    <div class="left-side-component">
      <div style="margin-bottom:64px">
        <img src="../assets/img/logo_login_register.png" style="width: 170px;">
      </div>
      <div class="login-title">
        <h4>Login with your Company’s SSO</h4>
      </div>
      <div class="login-forms">
        <form [formGroup]="ssoForm">
            <div style="display: flex;justify-content: space-between;">
            <div class="form-group" style="width: 90%;margin-bottom: 40px;">
                <label class="black-txt">Company Name</label>
                <input type="text" class="login-ipt form-control" placeholder="Company Name" autocomplete="off" [(ngModel)]="orgIdModel" formControlName="orgID" required
                [ngClass]="{ 'is-invalid':(isSubmit || ssoForm.controls['orgID'].touched ) && (ssoForm.controls['orgID'].errors)}">
                <div *ngIf="((!ssoForm.controls['orgID'].valid && ssoForm.controls['orgID'].touched)
                ||(ssoForm.controls['orgID'].errors?.required && isSubmit))" class="errormsg-topic">
                 Please enter a company name</div>
                 <div class="errormsg-topic" *ngIf="orgIdErrMsg != '' || orgIdErrMsg != null">{{orgIdErrMsg}}</div>
            </div>
            <div class="search-btn-align mt-4" style="width: 4%;">
                <button type="button" class="btn-login" (click)="searchOrgID(orgIdModel)" [ngClass]="disablesearchbtn == true ? 'loginbtn-disable' : false"  [disabled]="disablesearchbtn">
                    <i class="fa fa-search pr-2" aria-hidden="true"></i>Search</button>
            </div>
            </div>
          
          <div class="login-btn">
            <button type="button"  style="background: transparent;border: none;padding: 0" [ngClass]="disablebtn == true ? 'loginbtn-disable' : false" [disabled]="disablebtn">
                <a href="{{orgData.hostedUi}}" class="btn-login" style="color: #fff;text-decoration: none;padding: 7px 22px;" [ngClass]="disablebtn == true ? 'disabel-link' : false">Login</a></button>
          </div>
        </form>
        <div class="reset-footer-text">
          <a routerLink="/login">
            <img src="../assets/img/microinteraction/back.svg" style="margin-right: 8px;">
            Back to Log in
          </a>
        </div>
        <!-- <div [routerLink]="['/sso/redirect']" [queryParams]="{code: '16c60ff9-b86f-45a1-a972-2d76a8285aa7',orgcode: 'maximus'}">
            Redirect
        </div> -->
      </div>
    </div>
  
  
    <div class="right-side-component">
      <img src="../assets/img/login_register_assets/login_register_assets/img_login5.png" style="height: 100%;
          width: 100%;">
    </div>
</div>