<ng2-toasty [position]="'top-center'"></ng2-toasty>


<!-- <p>users works!</p> -->
<div style="margin: 0px 32px;" *ngIf="userDetails == 'tableDatas'">
    <div class="top-header" style="justify-content: space-between;">
        <!-- <div class="page-title">
          <h2>{{global.language?.settings?.users?.title}}</h2>
        </div> -->
          <h2 class="header-title">{{global.language?.settings?.users?.title}}</h2>
    
        <div style="display: flex;">
          <div style="margin-top: -20px;margin-right: 16px;">
            <i class="fa fa-search" aria-hidden="true" style="
                          position: relative;
                          left: 5px;
                          opacity: 0.6;
                          top: 29px;
                         "></i>
            <input type="text" class="inp-searchs form-control" [(ngModel)]="searchUserName" (ngModelChange)="searchUser()" placeholder="{{global.language?.settings?.users?.search}}">
          </div>
          <div  *ngIf="global.rolePermissions.settings.users.isViewEdit == true">
            <button type="button" class="btn-creates" (click)="addUser()">{{global.language?.settings?.users?.add}}</button>
          </div>
            <div style="margin: 0 16px;">
              <button type="button" class="btn-templates"  data-toggle="modal" data-target="#importModal" >Import users</button>
            </div>
          <div style="padding-top: 1%;margin-right: 16px;">
            <span (click)="exportUser()"><img src="../../../../assets/img/Icons_Settings/download_file.svg" style="margin-right: 12px;margin-top: -4px"><span class="card-link">Download users</span></span>
          </div>
          <div style="padding-top: 1%;">
            <span class="sync-border" tooltip="Sync" placement="top" (click)="syncUserDetails()"><i class="fa fa-refresh" aria-hidden="true" style="font-size: 18px;"></i></span>
          </div>
        </div>
    </div>

    <div style="margin: 10px 0px;"> 
          <!-- <table class="table table-striped table-bordered"   data-toggle="table">
              <thead>
                <tr>
                  <th scope="col" style="width: 276px;">{{global.language?.settings?.users?.tableHeader?.name}}</th>
                  <th scope="col" style="width: 352px;">{{global.language?.settings?.users?.tableHeader?.email}}</th>
                  <th scope="col" style="width: 200px;">{{global.language?.settings?.users?.tableHeader?.role}}</th>
                  <th scope="col" style="width: 200px;">Home dashboard report</th>
                </tr>
              </thead>
              <tbody>
               
                <tr *ngFor="let user of Users">
                  <td class="us-name" (click)="editUser(user , '')">{{user.customerName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.roleName}}</td>
                  <td>{{user.homeDashboardId}}</td>
                </tr>
              </tbody>
          </table> -->
           <!-- <tr>
                  <td class="us-name" (click)="editUser(customerPoolUser, 'poolUser')">{{customerPoolUser?.customerName}}</td>
                  <td>{{customerPoolUser?.email}}</td>
                  <td>{{customerPoolUser?.role}}</td>
                </tr> -->
          <p-table [value]="Users" [resizableColumns]="true" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="20">
                  <ng-template pTemplate="header">
                      <tr>
                          <th pResizableColumn class="table-header-style">{{global.language?.settings?.users?.tableHeader?.name}}</th>
                          <th pResizableColumn class="table-header-style">{{global.language?.settings?.users?.tableHeader?.email}}</th>
                          <th pResizableColumn class="table-header-style">{{global.language?.settings?.users?.tableHeader?.role}}</th>
                          <th pResizableColumn class="table-header-style">Data partition</th>
                          <th pResizableColumn class="table-header-style" style="width: 280px;">Home dashboard report</th>
                          <th pResizableColumn class="table-header-style">Status</th>
                          <th pResizableColumn class="table-header-style" style="width: 80px;">Actions</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-user>
                      <tr class="row-data-user">
                          <td class="user-name" (click)="editUser(user , '')">{{user.customerName}}</td>
                          <td>{{user.email}}</td>
                          <td>{{user.roleName}}</td>
                          <td>{{user.partitionName != undefined ? user.partitionName : 'All'}}</td>
                          <td>{{user.homeDashboardId}}</td>
                          <td style="text-transform: capitalize;font-weight: 600;">
                            <div *ngIf="user.UserStatus != undefined">
                              <span [ngStyle]="{'color': user.UserStatus.toLowerCase() == 'confirmed' ? '#0b44ad' : user.UserStatus.toLowerCase() == 'unconfirmed' ? '#75b6f9' : '#7c7c7c'}">{{user.UserStatus != undefined ? user.UserStatus.toLowerCase() : 'N/A'}}</span>
                            </div>
                            <div *ngIf="user.UserStatus == undefined">
                              <span style="color: #7c7c7c;">N/A</span>
                            </div>
                          </td>
                          <td class="text-center">
                            <div *ngIf="user.UserStatus != undefined">
                              <span id="modalopen" data-toggle="modal" data-target="#confirmModal"></span>
                              <!-- <span tooltip="Reset Password" placement="top" *ngIf="user.UserStatus.toLowerCase() == 'confirmed'" (click)="openConfirmation('confirmed',user)"><i class="fa fa-repeat" aria-hidden="true" style="font-size: 18px;color: #8b7aed;cursor: pointer;"></i></span> -->
                              <span tooltip="Resend Confirmation" placement="top" *ngIf="user.UserStatus.toLowerCase() == 'unconfirmed'" (click)="openConfirmation('unconfirmed',user)"><i class="fa fa-share-square-o" aria-hidden="true" style="font-size: 18px;color: #75b6f9;cursor: pointer;"></i></span>
                              <span *ngIf="user.UserStatus.toLowerCase() != 'unconfirmed'">N/A</span>
                            </div>
                            <div *ngIf="user.UserStatus == undefined">
                              <span>N/A</span>
                            </div>
                          </td>
                      </tr>
                  </ng-template>
         </p-table>
    </div>
</div>

<!-- (Update & Edit)User data when user edit click -->
<div style="margin: 32px 320px 50px 32px;" *ngIf="userDetails == 'userData'">
  <form [formGroup]="updateUser">
    <div>
    <img src="../../../../assets/img/back.svg">
    <ul class="breadcrumb">
      <li><label class="bread-crumb-label1" (click)="breadCrumbBack()">{{global.language?.settings?.users?.editUser?.breadCrumb}}</label></li>
    </ul>
    </div>
    <div class="edit-header">
        <div class="row" style="justify-content:space-between;margin-bottom: 18px !important;">
          <div class="page-title col-sm-8">
              <div class="row">
                <h2 style="margin-left: 13px;" class="platform-name-ellipsis">{{userUpdateModel.customerName}}</h2>
                <!-- <div class="playbook-template" *ngIf="deactivebtn" style="width: 85px;height: 24px;margin-top: 1%;margin-bottom: 0;margin-left: 16px;">
                  Deactivated
                </div> -->
              </div>
           
          </div>
          <div class="col-sm-4"style="display: flex;justify-content: flex-end;">
            <div *ngIf="!UserPool &&  global.rolePermissions.settings.users.isViewEdit == true">
               <button type="button" class="btn-templates" data-toggle="modal" data-target="#userModal" style="width: 104px;">{{global.language?.settings?.users?.editUser?.delete}}</button>
             </div>
             <!-- <div style="margin:0 0 0 16px" *ngIf="!deactivebtn">
               <button type="button" class="btn-creates" style="width: 145px;" (click)="deactiveUser()">Deactivate user</button>
             </div>
             <div style="margin:0 0 0 16px" *ngIf="deactivebtn">
                <button type="button" class="btn-creates" style="width: 145px;" (click)="deactiveUser()">Activate user</button>
              </div> -->
           </div>
        </div>
    </div>
    
    <div style="max-width: 50%;">
        <div class="form-group" style="margin: 24px 0;">
            <label class="users-label">{{global.language?.settings?.users?.addUser?.name}}</label>
            <input type="text" id="usernameid" class="form-control platform-ipt-box" formControlName="userName" [(ngModel)]="userUpdateModel.customerName" (keypress)="omit_special_char($event)"  (ngModelChange)="onPaste($event)"
            [ngClass]="{ 'is-invalid ': (submittedEditUser || validationUpdateUser.userName.touched) &&  validationUpdateUser.userName.errors }" placeholder="{{global.language?.settings?.users?.addUser?.name}}"> 
            <div *ngIf="(submittedEditUser || validationUpdateUser.userName.touched) && validationUpdateUser.userName.errors" class="is-invalid  ">
              <div class="errormsg-topic is-invalid" *ngIf="((submittedEditUser ||validationUpdateUser.userName.touched) && validationUpdateUser.userName.errors.required)==null?false:true">
                {{global.language?.settings?.users?.addUser?.nameErr}}
              </div>     
            </div> 
        </div>
        <div class="form-group" style="margin: 24px 0;">
            <label class="users-label">{{global.language?.settings?.users?.addUser?.email}}</label>
            <input type="email" class="form-control platform-ipt-box disable-email" formControlName="email"  [(ngModel)]="userUpdateModel.email" 
            [ngClass]="{ 'is-invalid ': (submittedEditUser || validationUpdateUser.email.touched) &&  validationUpdateUser.email.errors }" placeholder="{{global.language?.settings?.users?.addUser?.email}}" disabled>
            <div *ngIf="(submittedEditUser || validationUpdateUser.email.touched) && validationUpdateUser.email.errors" class="is-invalid  ">
              <div class="errormsg-topic is-invalid" *ngIf="((submittedEditUser ||validationUpdateUser.email.touched) && validationUpdateUser.email.errors.required)==null?false:true">
                {{global.language?.settings?.users?.addUser?.emailErr}}
              </div>     
            </div>   
        </div>
        <div class="form-group" style="margin-bottom: 24px;">
            <label class="users-label">{{global.language?.settings?.users?.addUser?.phone}}</label>
            <input type="text" class="form-control platform-ipt-box" formControlName="phone" minlength="12" maxlength="12" [(ngModel)]="userUpdateModel.customerPhone" 
            [ngClass]="{ 'is-invalid ': (submittedEditUser || validationUpdateUser.phone.touched) &&  validationUpdateUser.phone.errors }" placeholder="{{global.language?.settings?.users?.addUser?.phone}}"> 
            <div *ngIf="(submittedEditUser || validationUpdateUser.phone.touched) && validationUpdateUser.phone.errors" class="is-invalid  ">
              <div class="errormsg-topic is-invalid" *ngIf="((submittedEditUser ||validationUpdateUser.phone.touched) && validationUpdateUser.phone.errors.required)==null?false:true">
                {{global.language?.settings?.users?.addUser?.PhErr}}
              </div>     
            </div>  
            <div class="errormsg-topic" *ngIf="((submittedEditUser ||validationUpdateUser.phone.dirty) && validationUpdateUser.phone.invalid)">Invalid phone number format</div>
        </div>
        <div class="form-group platform-group" style="margin-bottom:32px" *ngIf="!UserPool">
            <label class="users-label" style="margin-bottom: 4px;">{{global.language?.settings?.users?.addUser?.role}}</label>
            <p-dropdown class="user-dropwn-setting dplable" [options]="roles" 
            [(ngModel)]="userUpdateModel.role" [ngModelOptions]="{standalone: true}" placeholder="{{global.language?.settings?.users?.addUser?.select}}"></p-dropdown>
        </div>

        <div class="form-group platform-group" style="margin-bottom:28px">
          <label class="users-label" style="margin-bottom: 4px;">Data partitions</label>
          <p-dropdown class="user-dropwn-setting dplable" [options]="patitionList"  
          [(ngModel)]="userUpdateModel.datapartition" [ngModelOptions]="{standalone: true}" placeholder="select partition"></p-dropdown>
        </div>
        <!-- <div class="form-group platform-group" style="margin-bottom:32px" *ngIf="UserPool">
          <label class="users-label" style="margin-bottom: 4px;" >Role</label>
          <p-dropdown class="user-dropwn-setting" [options]="roles" 
          [(ngModel)]="userUpdateModel.role" [ngModelOptions]="{standalone: true}" placeholder="Select a role"  [disabled]='true'></p-dropdown>
        </div> -->
        <div class="save-cancel common-bottom">
          <div class="row" style="margin-bottom: inherit;">
            <div class="col-sm-5"  *ngIf="!UserPool && global.rolePermissions.settings.users.isViewEdit == true ">
                <div class="form-group">
                <button type="button" class="btn-save" (click)="updateUserdata()">{{global.language?.settings?.users?.addUser?.save}}</button>
                </div>
            </div>
            <!-- <div class="col-sm-5" *ngIf="UserPool">
              <div class="form-group">
              <button type="button" class="btn-save" (click)="updatePoolUser()">Save</button>
              </div>
            </div> -->
            <div class="col-sm-5">
                 <div class="form-group">
                <button type="button" class="btn-cancel" (click)="updateCancel()">{{global.language?.settings?.users?.addUser?.cancel}}</button>
                </div>
            </div>
      
          </div>
        </div>
    </div>
  </form>
</div>

<!-- Add user when add user button clicks -->
<div style="margin: 32px 280px 50px 32px;"  *ngIf="userDetails == 'addUserData'">
  <div>
    <img src="../../../../assets/img/back.svg">
    <ul class="breadcrumb">
      <li><label class="bread-crumb-label1" (click)="breadCrumbBack()">All users</label></li>
    </ul>
  </div>
  <div class="edit-header">
    <div class="row" style="justify-content:space-between;margin-bottom: 18px !important;">
      <div class="page-title col-sm-8">
            <h2>{{global.language?.settings?.users?.addUser?.title}}</h2> 
      </div>
    </div>
  </div>
  <form [formGroup]="createUser" >
    <div class="add-user-details">
    <div class="form-group" style="margin-bottom: 28px;margin-top: 24px;">
      <label class="platform-label">{{global.language?.settings?.users?.addUser?.name}}</label>
      <input type="text" id="usernameid" class="form-control platform-ipt-box" formControlName="userName" [(ngModel)]="userCreateModel.CustomerName" (keypress)="omit_special_char($event)" (ngModelChange)="onPaste($event)"
      [ngClass]="{ 'is-invalid ': (submittedCreateUser || validationCreateUser.userName.touched) &&  validationCreateUser.userName.errors }" placeholder="{{global.language?.settings?.users?.addUser?.name}}" autocomplete="off">
      <div *ngIf="(submittedCreateUser || validationCreateUser.userName.touched) && validationCreateUser.userName.errors" class="is-invalid  ">
        <div class="errormsg-topic is-invalid" *ngIf="((submittedCreateUser || validationCreateUser.userName.touched) && validationCreateUser.userName.errors.required)==null?false:true">{{global.language?.settings?.users?.addUser?.nameErr}}
        </div>     
      </div> 
    </div>
    <div class="form-group" style="margin-bottom: 28px;">
      <label class="platform-label">{{global.language?.settings?.users?.addUser?.email}}</label>
      <input type="text" class="form-control platform-ipt-box" formControlName="email" [(ngModel)]="userCreateModel.Username" 
      [ngClass]="{'is-invalid': (submittedCreateUser || createUser.controls['email'].touched) && createUser.controls['email'].errors}" placeholder="{{global.language?.settings?.users?.addUser?.email}}" autocomplete="off">
      <div *ngIf="(createUser.controls['email'].errors?.required && (submittedCreateUser ||  createUser.controls['email'].touched)) || createUser.controls['email'].errors?.email  && createUser.controls['email'].touched">
        <div *ngIf="(createUser.controls['email'].errors?.required && (submittedCreateUser ||  createUser.controls['email'].touched) )"class="errormsg-topic">
           {{global.language?.settings?.users?.addUser?.emailErr}}</div>
        <div *ngIf="createUser.controls['email'].errors?.email  && createUser.controls['email'].touched" class="errormsg-topic">{{global.language?.settings?.users?.addUser?.validEmail}} </div>
      </div>
    </div>
    <div class="form-group" style="margin-bottom: 28px;">
      <label class="platform-label">{{global.language?.settings?.users?.addUser?.pwd}}</label>
      <input type="password" class="form-control platform-ipt-box" formControlName="passwd" [(ngModel)]="userCreateModel.Password" 
      [ngClass]="{ 'is-invalid':(!createUser.controls['passwd'].valid && ( submittedCreateUser || createUser.controls['passwd'].touched ))|| (createUser.controls['passwd'].errors?.required && submittedCreateUser )}" placeholder="{{global.language?.settings?.users?.addUser?.pwd}}" autocomplete="off">
      <div *ngIf="(!createUser.controls['passwd'].valid &&( createUser.controls['passwd'].touched || submittedCreateUser) )||(createUser.controls['passwd'].errors?.required &&( submittedCreateUser || createUser.controls['passwd'].touched) ) "
         class="errormsg-topic">
         <div *ngIf="createUser.controls['passwd'].errors?.required && ( submittedCreateUser || createUser.controls['passwd'].touched)">{{global.language?.settings?.users?.addUser?.passErr}}</div>
        <div *ngIf="(createUser.controls['passwd'].errors?.minlength && (createUser.controls['passwd'].touched || submittedCreateUser)) ">
            {{global.language?.settings?.users?.addUser?.validPass}}
        </div>
      </div>
    </div>
    <div class="form-group" style="margin-bottom: 28px;">
      <label class="platform-label">{{global.language?.settings?.users?.addUser?.phone}}</label>
      <input type="text" class="form-control platform-ipt-box" (keypress)="keyPress($event)" formControlName="phone" minlength="12" maxlength="12" [(ngModel)]="userCreateModel.phoneNumber" 
      [ngClass]="{ 'is-invalid ': (submittedCreateUser || validationCreateUser.phone.touched) &&  validationCreateUser.phone.errors }" placeholder="{{global.language?.settings.users.addUser.phone}}" autocomplete="off">
      <div *ngIf="(submittedCreateUser || validationCreateUser.phone.touched) && validationCreateUser.phone.errors" class="is-invalid  ">
        <div class="errormsg-topic is-invalid" *ngIf="((submittedCreateUser || validationCreateUser.phone.touched) && validationCreateUser.phone.errors.required)==null?false:true">{{global.language?.settings?.users?.addUser?.PhErr}}
        </div>
      </div>  
      <div class="errormsg-topic" *ngIf="((submittedCreateUser ||validationCreateUser.phone.dirty) && validationCreateUser.phone.invalid)">Invalid phone number format</div>
    </div>
    <div class="form-group platform-group" style="margin-bottom:28px">
      <label class="users-label" style="margin-bottom: 4px;">{{global.language?.settings?.users?.addUser?.role}}</label>
      <p-dropdown class="user-dropwn-setting" [ngClass]="rolesError == true ? 'is-invalid' : false " [options]="roles"  
      [(ngModel)]="userCreateModel.Role"  [ngModelOptions]="{standalone: true}" placeholder="{{global.language?.settings?.users?.addUser?.select}}"></p-dropdown>
      <div class="errormsg-topic" *ngIf="rolesError==true">{{global.language?.settings?.users?.addUser?.roleErr}}</div>
    </div>
    <div class="form-group platform-group" style="margin-bottom:28px">
      <label class="users-label" style="margin-bottom: 4px;">Data partitions</label>
      <p-dropdown class="user-dropwn-setting dplable" [options]="patitionList"  
      [(ngModel)]="userCreateModel.datapartition" [ngModelOptions]="{standalone: true}" placeholder="select partition"></p-dropdown>
      <div class="errormsg-topic" *ngIf="partitionErr==true">Please select a data partition</div>
    </div>
    </div>
    <div class="save-cancel common-bottom">
     <div class="row">
       <div class="col-sm-5">
           <div class="form-group">
           <button type="button" class="btn-save"  (click)="saveUser()">{{global.language?.settings?.users?.addUser?.save}}</button>
           </div>
       </div>
       <div class="col-sm-5">
            <div class="form-group">
           <button type="button" class="btn-cancel" (click)="createCancel()">{{global.language?.settings?.users?.addUser?.cancel}}</button>
           </div>
       </div>
 
     </div>
    </div>
  </form>
</div>

<!-- Delete popup box -->
<div class="modal" id="userModal" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content delete-popup">
  
        <!-- Modal Header -->
        <div class="modal-header" style="border-bottom: 0;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="delete-popup-content" style="margin-left: -8%;">
            <img src="../assets/img/glyphs_messaging/glyph_danger.svg" style="margin-top: -10px;
                margin-right: 20px;">
            <h5>{{global.language?.settings?.users?.deleteUser?.title}}</h5>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer " style="border-top: 0px;">
          <div style="margin-left: 8.6%;">
            <button type="button" class="btn-pop-del" data-dismiss="modal" (click)="deleteUser()">{{global.language?.settings?.users?.deleteUser?.deleteBtn}}</button>
            <button type="submit" class="btn-pop-cancel" data-dismiss="modal">{{global.language?.settings?.users?.deleteUser?.cancel}}</button>
          </div>
        </div>
  
      </div>
    </div>
</div>

<!-- import user popup when click import btn -->
<div class="modal" id="importModal" data-backdrop="static">
  <div class="modal-dialog" style="margin-top: 6%;">
    <div class="modal-content import-popup">
    
      <!-- Modal Header -->
      <div class="modal-header" style="border-bottom: 0;">
        <h4 class="modal-title title-popup">Import users</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="CancelFile()">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body" style="padding: 0.5rem 41px 10px;">
          <div style="color: #7c94ed;font-size: 13px;font-weight: 500;">Allow 200 maximum user</div>
          <div class="form-group import-detail-box mb-0">
            <img src="../../../../assets/img/microinteraction/upload_file.svg" style="padding-right: 14px;margin-top: -4px;">
            <label for="upload-file" class="upload-id mb-0"> Import .csv file</label>
            <input  #importfile id="upload-file" type="file" accept='.csv,text/csv' style="display: none;" (change)="handleFileSelect($event)">
          </div>
          <label class="mb-0 file-clr">{{fileName == null ? "" : fileName}}</label>
      </div>
      
      <!-- Modal footer -->
      <div class="modal-footer footer-modal-btns" style="padding: 0px 41px 0;">
          <div class="save-cancel" style="margin:0;">
              <button type="button" data-dismiss="modal" class="btn-save" (click)="importUsers()">Import</button>
              <button type="button" class="btn-cancel" data-dismiss="modal"  (click)="CancelFile()">Cancel</button>
          </div>
      </div>
      
    </div>
  </div>
</div>

<!-- Confirmation Reset / Resend -->
<div class="modal" id="confirmModal" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content delete-popup" style="width: 100%;">

      <!-- Modal Header -->
      <div class="modal-header" style="border-bottom: 0;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="delete-popup-content">
          <img src="../assets/img/glyphs_messaging/glyph_danger.svg" style="margin-top: -10px;margin-right: 8px;">
          <!-- <h5>{{confirmationMSG}}</h5> -->
          <h5 *ngIf="statusValue == 'unconfirmed'">Are you sure you want to resend confirmation to <strong>{{userNameValue}}</strong> ?</h5>
          <h5 *ngIf="statusValue == 'confirmed'">Are you sure you want to reset password to <strong>{{userNameValue}}</strong> ?</h5>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer " style="border-top: 0px;">
        <div style="margin-left: 8.6%;">
          <button type="button" class="btn-pop-del" data-dismiss="modal" *ngIf="statusValue == 'unconfirmed'" (click)="resendConfirmation()">Resend</button>
          <button type="button" class="btn-pop-del" data-dismiss="modal" *ngIf="statusValue == 'confirmed'">Reset</button>
          <button type="submit" class="btn-pop-cancel" data-dismiss="modal">{{global.language?.settings?.users?.deleteUser?.cancel}}</button>
        </div>
      </div>

    </div>
  </div>
</div>