.wfm h1,h2,h3,h4,h5,h6,li,p,a,button,label,textarea{
    font-family: sans-serif;
}
  
.wfm h1,h2,h3,h4,h5,h6, label{
    color:#303030;
    font-weight: 500;
}

.schedule-container{
    width:800px;
    margin: 0 auto;
}

.schedule-container h2{
    font-size: 2.1rem;
    font-weight: 400;
    padding-bottom: 15px;
}

.schedule-container h6{
    font-weight: 600;
}

.schedule-container .cust-btn{
    width:175px;
}

.schedule-container p{
    color: #303030;
    font-size: 16px;
    letter-spacing: 0.3px;
}

.schedule-desc{
    padding-left: 2.5rem;
    padding-right: 6rem;
}