<div class="wfm" #wfm>
    <p-toast [baseZIndex]="999999"></p-toast>
    <!-- Begin top header -->
    <div class="row top-header">
        <div class="col-md-6">
            <h2 class="title">Workgroup Rules</h2>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="cust-btn" (click)="redirectToCreate()">Add Workgroup Rules</button>
        </div>
    </div>
    <!-- End top header -->

    <!-- Begin content header -->
    <div class="row content-header">
        <div class="col-12">
            <h4>Manage Your Workgroup Rules</h4>
            <span>Select, Add or Remove Rules.</span>
            <!-- <span>{{global.language?.wfm?.rule?.list?.subTitle}}</span> -->
        </div>
    </div>
    <!-- End content header -->

    <div class="row custom-row">
        <div class="col-md-6">
            <button
                type="button"
                class="cust-btn-x-sm cust-btn-danger"
                (click)="manageSelectedWorkgroupRules('delete')"
                [disabled]="!selectedWorkgroupRules || !selectedWorkgroupRules.length"
                *ngIf="global.rolePermissions.work.schedule.isViewEdit == true"
            >
                <i class="fa fa-trash-o"></i> {{global.language?.wfm?.deleteBtn}}
            </button>
        </div>
        <div class="col-md-3 text-right">
            <button type="button" (click)="clearFilters(dt)" class="cust-btn-x-sm"><i class="fa fa-filter"></i> {{global.language?.wfm?.clearFilters}}</button>
        </div>
        <div class="col-md-3">
            <div class="has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" (input)="dt.filterGlobal($event.target.value, 'startsWith')" class="form-control" placeholder="Search for Rules" />
                <span class="text-muted" style="position: absolute;">To search date, the format should be MM/DD/YYYY</span>
            </div>
        </div>
    </div>

    <div style="padding: 32px;">
        <!-- Begin body content -->
        <div class="row">
            <div class="col-lg-12 cust-table">
                <!-- Begin PrimeNG datatable -->
                <p-table
                    #dt
                    dataKey="ruleId"
                    [value]="workgroupRules"
                    [lazy]="true" (onLazyLoad)="loadWorkGroupRules($event)"
                    styleClass="p-datatable-customers"
                    [rowHover]="true"
                    [showCurrentPageReport]="true"
                    [filterDelay]="1200"
                    [globalFilterFields]="['rule', 'startDate', 'endDate', 'status', 'updatedTimestamp', 'updatedBy']"
                    [(selection)]="selectedWorkgroupRules"
                    [loading]="loading"
                >
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3rem;">
                                <p-tableHeaderCheckbox id="frcst_select_all_chkbox" class="cust-chkbox select-all-chkbox"></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="ruleName" style="width:285px;">Rule Name<p-sortIcon field="ruleName"> </p-sortIcon></th>
                            <th pSortableColumn="ruleUnit" *ngIf="col.ruleUnit">Unit<p-sortIcon field="ruleUnit"></p-sortIcon></th>
                            <th pSortableColumn="ruleValue" *ngIf="col.ruleValue">Value <p-sortIcon field="ruleValue"> </p-sortIcon></th>
                            <th pSortableColumn="ruleBoundary" *ngIf="col.ruleBoundary">Boundary <p-sortIcon field="ruleBoundary"> </p-sortIcon></th>
                            <th pSortableColumn="isMandatory" *ngIf="col.isMandatory">Is Mandatory <p-sortIcon field="isMandatory"> </p-sortIcon></th>
                            <th pSortableColumn="updatedTimestamp" *ngIf="col.updatedTimestamp">Updated On <p-sortIcon field="updatedTimestamp"> </p-sortIcon></th>
                            <th pSortableColumn="updatedBy" *ngIf="col.updatedBy">Updated By <p-sortIcon field="updatedBy"> </p-sortIcon></th>
                            <th class="text-center">
                                <i (click)="op.toggle($event)" class="pi pi-ellipsis-h font-1xl"></i>
                                <p-overlayPanel #op appendTo="body" styleClass="cust-overlay-panel" [style]="{width: 'auto'}">
                                    <div>
                                        <ul class="list-group">
                                            <li *ngFor="let col of cols" class="list-group-item" (click)="onChangeColumn(col.field, col.enabled)">
                                                <div class="row">
                                                    <div class="col-9" [ngStyle]="{'color': col.enabled ? '#98DFAF' : '#ffffff' }" style="padding-right:2px;">{{col.header}}</div>
                                                    <div class="col-2" [ngStyle]="{'color': col.enabled ? '#98DFAF' : '#ffffff' }" style="padding-left:2px;"><i *ngIf="col.enabled" class="fa fa-check"></i></div>
                                                </div>
                                            </li>
                                          </ul>
                                    </div>
                                </p-overlayPanel>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th style="width:285px;">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'ruleName', 'startsWith')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th *ngIf="col.ruleUnit">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'ruleUnit', 'contains')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th *ngIf="col.ruleValue">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'ruleValue', 'contains')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th *ngIf="col.ruleBoundary">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'ruleBoundary', 'contains')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th *ngIf="col.isMandatory">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'isMandatory', 'contains')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th *ngIf="col.updatedTimestamp">
                                <p-calendar
                                    (onSelect)="onDateSelect($event,'updatedTimestamp')"
                                    (onClearClick)="dt.filter('', 'updatedTimestamp', 'equals')"
                                    [showButtonBar]="true"
                                    styleClass="p-column-filter"
                                    placeholder="Search"
                                    [readonlyInput]="true"
                                    dateFormat="mm/dd/yy"
                                    appendTo="body"
                                ></p-calendar>
                            </th>
                            <th *ngIf="col.updatedBy">
                                <input
                                    pInputText
                                    type="text"
                                    (input)="dt.filter($event.target.value, 'updatedBy', 'startsWith')"
                                    placeholder="Search"
                                    class="p-column-filter ui-inputtext ui-corner-all ui-state-default ui-widget"
                                />
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rule let-i="rowIndex">
                        <tr [pSelectableRow]="rule">
                            <td>
                                <p-tableCheckbox [value]="rule" class="cust-chkbox"></p-tableCheckbox>
                            </td>
                            <td style="text-transform: capitalize;" style="width:285px;">
                                <a (click)="manageWorkgroupRule(rule,'edit');" tooltip="Click here to edit your Workgroup" class="col-link">{{rule.ruleName}}</a>
                            </td>
                            <td *ngIf="col.ruleUnit">
                                {{rule.ruleUnit}}
                            </td>
                            <td *ngIf="col.ruleValue">
                                {{(rule.ruleValue) ? rule.ruleValue : '--'}}
                            </td>
                            <td *ngIf="col.ruleBoundary">
                                {{rule.ruleBoundary}}
                            </td>
                            <td *ngIf="col.isMandatory">
                                {{rule.isMandatory}}
                            </td>
                            <td *ngIf="col.updatedTimestamp">
                                {{rule.updatedTimestamp}}
                            </td>
                            <td *ngIf="col.updatedBy">
                                {{rule.updatedBy}}
                            </td>
                            <td class="text-center">
                                <i (click)="opOptions.toggle($event)" class="pi pi-ellipsis-h font-1xl"></i>
                                <p-overlayPanel #opOptions appendTo="body" styleClass="cust-overlay-panel" [dismissable]="true" [style]="{width: 'auto'}">
                                    <div>
                                        <ul class="list-group">
                                            <!-- <li class="list-group-item" (click)="manageWorkgroupRule(rule,'view');" (click)="opOptions.hide();"><i class="icon-eye icons"></i>View</li> -->
                                            <li class="list-group-item" (click)="manageWorkgroupRule(rule,'edit');" (click)="opOptions.hide();"><i class="fa fa-pencil"></i>Edit</li>
                                            <li class="list-group-item" (click)="manageWorkgroupRule(rule,'delete')" (click)="opOptions.hide();" style="color: #FC5130 !important"><i class="fa fa-trash-o" style="color: #FC5130 !important"></i>Delete</li>
                                          </ul>
                                    </div>
                                </p-overlayPanel>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td *ngIf="!isLoading" colspan="8" style="text-align: center;">No Record(s) found!</td>
                        </tr>
                    </ng-template>
                </p-table>
                <!-- End PrimeNG datatable -->
                <p-paginator #p (onPageChange)="paginate($event)" [pageLinkSize]="5" [rows]="pageSize" [showCurrentPageReport] = "true" currentPageReportTemplate="Showing {{first}} to {{last}} of {{totalRecords}} entries" [rowsPerPageOptions]="[10,25,50,100]" [totalRecords]="totalRecords" dropdownAppendTo="body"></p-paginator>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        <!-- End body content -->
    </div>

    <!-- Begin rule detail dialog -->
    <p-dialog class="cust-dialog" [(visible)]="display" [modal]="true" styleClass="cust-dialog" [baseZIndex]="10000">
        <p-header>
            {{ isViewDetail ? 'Workgroup Details' : (isDeleteConfirm || isDeleteAllConfirm) ? 'Confirm' : ''}}
        </p-header>

        <!-- Begin rule detail content -->
        <div *ngIf="workgroupRule && isViewDetail">
            <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
                <div class="col-lg-6">
                    <div class="card-body">
                        <div class="view-content">
                            <div><span class="text-key capitalize">Name: </span><span
                                    class="text-val capitalize">{{workgroupRule.ruleName}}</span></div>
                            <div><span class="text-key">Type: </span><span
                                    class="text-val capitalize">{{workgroupRule.ruleType }}</span></div>
                            <div><span class="text-key">Unit: </span><span
                                        class="text-val capitalize">{{workgroupRule.ruleUnit}}</span></div>
                            <div><span class="text-key">Value: </span><span
                                    class="text-val">{{workgroupRule.ruleValue}}</span></div>
                            <div><span class="text-key">Boundary: </span><span
                                    class="text-val capitalize">{{workgroupRule.ruleBoundary}}</span></div>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
        </div>
        <!-- End rule detail content -->

        <!-- Begin delete confirmation content -->
        <div *ngIf="isDeleteConfirm || isDeleteAllConfirm">
            <!-- Begin body content -->
            <div class="row">
                <div class="col-12">
                    <div class="dialog-body-content confirm-text" *ngIf="isDeleteConfirm">
                        Do you really want to delete the record: {{workgroupRuleName}}?
                    </div>
                    <div class="dialog-body-content confirm-text" *ngIf="isDeleteAllConfirm">
                        Do you really want to delete {{selectedWorkgroupRules.length > 1 ? 'these ' + selectedWorkgroupRules.length + ' records?' : 'this record?'}}
                    </div>
                </div>
            </div>
            <!-- End body content -->

            <!-- Begin action footer content -->
            <div class="row">
                <div class="col-12">
                    <div class="dialog-action-footer">
                        <button type="button" (click)="closeDialog()" pRipple class="cust-btn-outlined" style="width: 200px;">Cancel</button>
                        <button type="submit" (click)="deleteRecord()" *ngIf="isDeleteConfirm" pRipple class="cust-btn" style="width: 200px;">Delete</button>
                        <button type="submit" (click)="deleteAllRecords()" *ngIf="isDeleteAllConfirm" pRipple class="cust-btn" style="width: 200px;">Delete</button>
                    </div>
                </div>
            </div>

            <!-- End action footer content -->
        </div>
        <!-- End delete confirmation content -->
    </p-dialog>
    <!-- End rule detail dialog -->
</div>
