.wfm h1,h2,h3,h4,h5,h6,li,span,p,a,button,label,input,textarea{
  font-family: sans-serif;
}

.wfm table th,td{
    font-family: sans-serif;
}

.pi-sort:before{
    content:"\e99e";
  }
  
  p-calendar{
    width:100%;
    display: flex;
  }
  
  .pt-25{
    padding-top: 25px;
  }
  
  .form-check{
      padding-left: 0.4rem;
      padding-top: 12px;
  }
  
  .card-body h5,h6{
      font-weight: 600;
  }
  
    .dropdown-menu-right{
      min-width: 100px;
    }
  
    a{
      cursor: pointer;
    }
  
    .c-info label{
      width:100px;
      font-weight: 600 !important;
    }
  
    .cust-a {
      display: inline-block;
    }
  
    .success{
      color:#34A835;
    }
  
    .failure{
      color:#c01120;
    }
  
    .sub-cont{
      font-size: 0.80rem;
      letter-spacing: 0.2px;
    }
  
  