<div style="padding: 32px 32px;">
    <!-- Begin title header -->
    <div class="playbook-header" style="margin-bottom: 24px;">
        <div class="page-title">
            <h2>December Forecast</h2>
            <!-- <h2>{{global.language?.settings?.users?.title}}</h2> -->
        </div>
        <div style="display: flex;">
            <div class="btn-group" dropdown placement="bottom right">
                <button dropdownToggle type="button" pRipple class="btn-creates">Export</button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="exportData('csv');"> <i class="fa fa-file-o"></i>CSV</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="exportData('pdf');"> <i class="fa fa-file-pdf-o"></i>PDF</a>
                    </li>
                </ul>
            </div>&nbsp;
            <button type="button" routerLink="/wfm/forecast/list" class="btn-creates">See All Service Levels</button>
        </div>
    </div>
    <!-- End title header -->

    <!-- Begin body content -->
    <div class="row">
        <div class="col-lg-12 cust-table">
            <!-- Begin PrimeNG datatable -->
            <p-table [value]="forecastData" dataKey="id" editMode="row" styleClass="p-datatable-customers"
                [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]"
                [paginator]="true" [filterDelay]="0" [globalFilterFields]="['interval','offered','aht']">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="interval" style="width:30%">interval <p-sortIcon field="interval">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="offered">offered <p-sortIcon field="offered"></p-sortIcon>
                        </th>
                        <th pSortableColumn="aht" style="width:18%">AHT (seconds) <p-sortIcon field="aht"></p-sortIcon>
                        </th>
                        <th>Queue</th>
                        <th class="text-center" style="width:18%">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="rowData">
                        <td>
                            {{rowData.interval}}
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.offered" style="width:100%" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.offered}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.aht" style="width:100%" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.aht}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData.queue" style="width:100%" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData.queue}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td class="text-center">
                            <a pInitEditableRow *ngIf="!editing" (click)="onRowEditInit(rowData, ri)" class="cust-a"><i
                                    class="icon-pencil icons font-2xl"></i></a>
                            <a pSaveEditableRow *ngIf="editing" (click)="onRowEditSave(rowData, ri)" class="cust-a"><i
                                    class="icon-check icons font-2xl success"></i></a>&nbsp;&nbsp;
                            <a pCancelEditableRow *ngIf="editing" (click)="onRowEditCancel(rowData, ri)"
                                class="cust-a"><i class="icon-close icons font-2xl failure"></i></a>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" style="text-align: center;">No forecasts found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{forecastData ? forecastData.length : 0 }} records.
                    </div>
                </ng-template>
            </p-table>
            <!-- End PrimeNG datatable -->
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <!-- End body content -->
</div>