<!-- <p>sso-azure-redirect works!</p> -->

<div class="login-page">
    <div class="left-side-component">
      <div style="margin-bottom:64px">
        <img src="../assets/img/logo_login_register.png" style="width: 170px;">
      </div>
      <div class="login-title">
        <h4>Login with your Company’s SSO</h4>
      </div>
      <div class="login-forms">
        <form >
            <div class="login-footer-text">
                <p style="font-size: 16px;" *ngIf="queryParams.orgcode != undefined"> Company name : <span style="font-size: 16px;">{{queryParams.orgcode}}</span></p> 
                <p style="font-size: 16px;" *ngIf="queryParams.error != undefined"> Error     : <span style="font-size: 16px;color: #D10606;">{{queryParams.error}}</span></p>
            </div>
          
        </form>
        <!-- <div class="reset-footer-text">
          <a routerLink="/login">
            <img src="../assets/img/microinteraction/back.svg" style="margin-right: 8px;">
            Back to Log in
          </a>
        </div> -->
      </div>
    </div>
  
  
    <div class="right-side-component">
      <img src="../assets/img/login_register_assets/login_register_assets/img_login3.png" style="height: 100%;
          width: 100%;">
    </div>
</div>
