// Variable overrides
.sidebar .sidebar-minimizer {
    position: static !important;
}
//Header CSS
.app-header{
    background-color: #012169;
    // box-shadow: 0 1px 3px 0 #B3B6C7;
    /* width: 1440px; */
    height: 76px;
    border-bottom: 0px;
}
.navbar-nav .nav-link {
    color: #FFFFFF;
//   font-family: SFProDisplay;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: left;
}
.app-header .nav-item {
 display: flex;
}

.app-header .nav-item .nav-link {
    padding-left: 12px;
}
.navbar-brand-full{
    margin-left: 1.2pc;
}
.navbar-nav{
   // margin-left: 8%;
}
.navbar-nav .nav-link:hover {
    color: #fff !important;
    // font-weight: 700;
    // letter-spacing: 0;
}


.login-name{
    color: #FFFFFF !important;
    // font-family: SFProDisplay;
    font-size: 14px !important;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    // width: 158px !important;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    // padding-top: 18px;
    padding-left: 8px;
    cursor: pointer;
}
.ml-auto{
    margin-right: 2%;
}
// *************** Side bar -home **************

.nav-title{
    font-size: 12px !important;
    color: #fff !important;
    letter-spacing: 1.5px !important;
}
// .sidebar .sidebar-minimizer::before {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E") !important;
// }
// .header-fixed .app-body {
//     margin-top: 75px !important;
// }
// .sidebar-fixed .sidebar{
//     width: 228px !important;
// }
// .sidebar{
//     background-color: #727588 !important ;
//     width: 228px !important;
// }
// .sidebar-fixed .sidebar {
//     width: 228px;
// }
// .sidebar .nav-link:hover {
//     color: #fff;
//     background: none !important;
// }
// .sidebar .nav-link.active {
//     color: #fff;
//     background: none !important;
// }
// .sidebar .nav{
//     width: 228px !important;
//     margin: 40px 0px !important;
//     padding-left: 24px !important;
// }
// .sidebar .sidebar-nav {
//     width: 228px !important;
// }

// .ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y {
//     width: 5px;
// }
// .ps__rail-y:hover, .ps__rail-x:focus, .ps__rail-y:focus {
//     background-color: transparent !important; 
//     display: none;
//     opacity: 0 !important;
// }
// .ps--active-y > .ps__rail-y{
//     display: none !important;
// }