<div class="wfm">
    <p-toast [baseZIndex]="1021"></p-toast>
    <!-- Begin top header -->
    <div class="row top-header">
        <div class="col-md-6">
            <h2 class="title">{{ isAddMode ? 'Create New ' : 'Update '}} Service Quality Objective</h2>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" pRipple (click)="cancelServiceLevel()" class="cust-btn-outlined">Cancel</button>
            <button type="submit" pRipple (click)="submitServiceLevel()" class="cust-btn" *ngIf="global.rolePermissions.work.serviceQuality.isViewEdit == true">
                {{ isAddMode ? 'Save Service Quality Objective' : 'Update Service Quality Objective'}}
            </button>
        </div>
    </div>
    <!-- End top header -->

    <!-- Begin body content -->
    <form name="serviceLevelForm" [formGroup]="serviceLevelForm" novalidate>
        <div style="padding: 0px 32px;">
            <!-- Begin wfm config table -->
            <!-- <div class="row" id="wfm_configs_table" *ngIf="wfmConfigs?.length > 1" style="padding-top: 15px;">
                <div class="col-12 cust-table">
                    <h5 id="wfm_config_header" *ngIf="isAddMode" style="font-weight: 600; padding-bottom: 5px;">{{wfmConfigs?.length > 1 ? 'Choose your Configuration' : 'Configuration'}}</h5>
                    <h5 id="wfm_config_header" *ngIf="!isAddMode" style="font-weight: 600; padding-bottom: 5px;">Selected Configuration</h5>
                    <table class="table wfm-table">
                        <thead>
                            <tr>
                                <th *ngIf="wfmConfigs?.length > 1"></th>
                                <th>Platform</th>
                                <th>CX Center</th>
                                <th>Forecast Type</th>
                                <th>Forecasting Interval</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let config of wfmConfigs">
                                <td *ngIf="wfmConfigs?.length > 1">
                                    <input type="radio" [id]="config.wfmConfigId" value="{{config.wfmConfigId}}" (change)="onChangeConfig(config)" name="configOptions" />
                                </td>
                                <td>{{config.platformName}}</td>
                                <td>{{config.cxCenterName}}</td>
                                <td>{{config.term}}</td>
                                <td>{{config.interval}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
            <!-- End wfm config table -->
            <!-- <hr class="solid" *ngIf="wfmConfigs?.length > 1" /> -->
            <div class="row" id="service_level_form_group">
                <div class="col-lg-12">
                    <!-- Begin name and description section -->
                    <div class="row">
                        <div class="col-12 section-header">
                            <h5>1. Name Your Service Quality Objective and Description</h5>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-12">
                            <div class="form-group required">
                                <label class="control-label">Name</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="serviceLevelName"
                                    [ngClass]="{'is-invalid': (isSubmitted || serviceLevelForm.controls['serviceLevelName'].touched) && serviceLevelForm.controls['serviceLevelName'].errors}"
                                />
                                <div *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevelName'].invalid && serviceLevelForm.controls['serviceLevelName'].dirty || serviceLevelForm.controls['serviceLevelName'].errors">
                                    <small *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevelName'].errors?.required" class="errormsg-topic">This field is required. </small>
                                    <small *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevelName'].errors?.maxlength" class="errormsg-topic">Maximum 50 characters only allowed. </small>
                                    <small *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevelName'].errors?.pattern" class="errormsg-topic">
                                        Service level name must contain only alphabets, numbers and the following special characters: hypen & underscore.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea
                                    id="serviceLevelDescription"
                                    name="serviceLevelDescription"
                                    formControlName="serviceLevelDescription"
                                    [(ngModel)]="description"
                                    maxlength="400"
                                    rows="4"
                                    class="form-control"
                                    placeholder="Type your content here.."
                                    [ngClass]="{'is-invalid': (isSubmitted || serviceLevelForm.controls['serviceLevelDescription'].touched) && serviceLevelForm.controls['serviceLevelDescription'].errors}"
                                ></textarea>
                                <small class="form-text text-muted">characters remaining: <code>{{ (description) ? 400 - description.length : 400 - 0 }}</code>/<code>400</code></small>
                                <div
                                    *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevelDescription'].invalid && serviceLevelForm.controls['serviceLevelDescription'].dirty || serviceLevelForm.controls['serviceLevelDescription'].errors"
                                >
                                    <small *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevelDescription'].errors?.maxlength" class="errormsg-topic">Maximum 400 characters only allowed. </small>
                                    <small *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevelDescription'].errors?.pattern" class="errormsg-topic">
                                        Description must contain only alphabets, numbers and the following special characters: comma, dot, hypen & underscore.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End name and description section -->

                    <!-- Begin media type and service level section -->
                    <div class="row">
                        <div class="col-12 section-header">
                            <h5>2. Define Media Type, Service Levels and Average Speed of Answer</h5>
                            <p>Select media type you are interested in forecasting. We will use this information to generate your forecast by comparing it to your historical data.</p>
                        </div>
                    </div>
                    <!--/.row-->
                    <div class="row mb-20" id="media_type_group" *ngIf="!mediaType">
                        <div class="col-12">
                            <label style="font-size: 0.8rem; font-weight: 600;">Media Type</label>
                            <div class="mt-placeholder">Add your media type</div>
                            <!-- <p-dropdown
                                [(ngModel)]="mediaType"
                                [options]="mediaTypes"
                                dataKey="value"
                                optionValue="value"
                                optionLabel="label"
                                [filter]="false"
                                filterBy="label"
                                [showClear]="false"
                                class="cust-p-dropdown mt-dropdown"
                                placeholder="Add your media type"
                                [ngModelOptions]="{standalone: true}"
                            >
                            </p-dropdown> -->
                            <div *ngIf="isSubmitted && !mediaType">
                                <small class="errormsg-topic" style="color:#1E50C6;">Click the button to add your media type </small>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-20" id="service_level_group" *ngIf="mediaType">
                        <div class="col-12">
                            <table class="sl-table">
                                <thead>
                                    <tr>
                                        <th style="width: 145px;">Media Type</th>
                                        <th style="width: 350px;">Set Service Level(s)</th>
                                        <th style="width: 215px;">
                                            <span class="time-header">Hours</span>
                                            <span class="time-header">Minutes</span>
                                            <span class="time-header">Seconds</span>
                                        </th>
                                        <th>Set Average Speed of Answer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding-left: 10px;">
                                            {{mediaType}}
                                        </td>
                                        <td>
                                            <div class="sl-input-section">
                                                <input
                                                    type="text"
                                                    formControlName="serviceLevel"
                                                    pKeyFilter="int"
                                                    class="form-control"
                                                    maxlength="3"
                                                    [ngClass]="{'is-invalid': (isSubmitted || serviceLevelForm.controls['serviceLevel'].touched) && serviceLevelForm.controls['serviceLevel'].errors || serviceLevelForm.hasError('serviceLevel_invalid') || serviceLevelForm.get('serviceLevel').value && serviceLevelForm.get('serviceLevel').value < 1 }"
                                                />
                                                <!-- Begin error section -->
                                                <div *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevel'].invalid && serviceLevelForm.controls['serviceLevel'].dirty || serviceLevelForm.controls['serviceLevel'].errors">
                                                    <small *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevel'].errors?.required" class="errormsg-topic">Required </small>
                                                    <small *ngIf="isSubmitted && serviceLevelForm.controls['serviceLevel'].errors?.maxlength" class="errormsg-topic">Maximum 3 characters only allowed</small>
                                                </div>
                                                <small *ngIf="isSubmitted && serviceLevelForm.hasError('serviceLevel_invalid')" class="errormsg-topic">Invalid</small>

                                                <!-- End error section -->
                                            </div>
                                            <span>% of interactions will be answered within</span>
                                        </td>
                                        <td>
                                            <div class="sl-input-section">
                                                <p-dropdown
                                                    [(ngModel)]="svcLvlHour"
                                                    [options]="svcLvlHours"
                                                    dataKey="value"
                                                    optionValue="value"
                                                    optionLabel="label"
                                                    [filter]="false"
                                                    filterBy="label"
                                                    [showClear]="false"
                                                    class="cust-p-dropdown"
                                                    placeholder="hh"
                                                    [ngModelOptions]="{standalone: true}"
                                                    appendTo="body"
                                                >
                                                </p-dropdown>
                                            </div>
                                            <div class="sl-input-section">
                                                <p-dropdown
                                                    [(ngModel)]="svcLvlMinute"
                                                    [options]="svcLvlMinutes"
                                                    dataKey="value"
                                                    optionValue="value"
                                                    optionLabel="label"
                                                    [filter]="false"
                                                    filterBy="label"
                                                    [showClear]="false"
                                                    class="cust-p-dropdown"
                                                    placeholder="mm"
                                                    [ngModelOptions]="{standalone: true}"
                                                    appendTo="body"
                                                >
                                                </p-dropdown>
                                            </div>
                                            <div class="sl-input-section">
                                                <p-dropdown
                                                    [(ngModel)]="svcLvlSecond"
                                                    [options]="svcLvlSeconds"
                                                    dataKey="value"
                                                    optionValue="value"
                                                    optionLabel="label"
                                                    [filter]="false"
                                                    filterBy="label"
                                                    [showClear]="false"
                                                    class="cust-p-dropdown"
                                                    placeholder="ss"
                                                    [ngModelOptions]="{standalone: true}"
                                                    appendTo="body"
                                                >
                                                </p-dropdown>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="sl-input-section">
                                                <p-dropdown
                                                    [(ngModel)]="avgSpeedHour"
                                                    [options]="avgSpeedHours"
                                                    dataKey="value"
                                                    optionValue="value"
                                                    optionLabel="label"
                                                    [filter]="false"
                                                    filterBy="label"
                                                    [showClear]="false"
                                                    class="cust-p-dropdown"
                                                    placeholder="hh"
                                                    [ngModelOptions]="{standalone: true}"
                                                    appendTo="body"
                                                >
                                                </p-dropdown>
                                            </div>
                                            <div class="sl-input-section">
                                                <p-dropdown
                                                    [(ngModel)]="avgSpeedMinute"
                                                    [options]="avgSpeedMinutes"
                                                    dataKey="value"
                                                    optionValue="value"
                                                    optionLabel="label"
                                                    [filter]="false"
                                                    filterBy="label"
                                                    [showClear]="false"
                                                    class="cust-p-dropdown"
                                                    placeholder="mm"
                                                    [ngModelOptions]="{standalone: true}"
                                                    appendTo="body"
                                                >
                                                </p-dropdown>
                                            </div>
                                            <div class="sl-input-section">
                                                <p-dropdown
                                                    [(ngModel)]="avgSpeedSecond"
                                                    [options]="avgSpeedSeconds"
                                                    dataKey="value"
                                                    optionValue="value"
                                                    optionLabel="label"
                                                    [filter]="false"
                                                    filterBy="label"
                                                    [showClear]="false"
                                                    class="cust-p-dropdown"
                                                    placeholder="ss"
                                                    [ngModelOptions]="{standalone: true}"
                                                    appendTo="body"
                                                >
                                                </p-dropdown>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End  and service level section -->

                     <!-- Begin media type menu item-->
                     <div class="row mb-20" style="margin-top:10px;">
                        <div class="col-md-12 text-right">
                            <div>
                                <button pRipple (click)="op.toggle($event); setMenuItemTop();" class="cust-btn" style="margin-right:0;" tooltip="Click here to add a media type" placement="top">Add Media Type</button>
                                <!-- <ng-template #mediatypebox></ng-template> -->
                                <p-overlayPanel #op appendTo="body" styleClass="mt-overlaypanel">
                                    <div>
                                        <ul class="list-group">
                                            <li id="list_item_Voice" class="list-group-item" (click)="manageMediaType('Voice');" [ngClass]="{'list-item-highlight': mediaType=='Voice' }">Voice</li>
                                            <li id="list_item_Chat" class="list-group-item" (click)="manageMediaType('Chat')" [ngClass]="{'list-item-highlight': mediaType=='Chat' }">Chat</li>
                                            <li id="list_item_Email" class="list-group-item" (click)="manageMediaType('Email')" [ngClass]="{'list-item-highlight': mediaType=='Email' }">Email</li>
                                            <li id="list_item_Social" class="list-group-item" (click)="manageMediaType('Social')" [ngClass]="{'list-item-highlight': mediaType=='Social' }">Social</li>
                                          </ul>
                                    </div>
                                </p-overlayPanel>
                            </div>
                        </div>
                    </div>
                    <!-- End media type menu item-->

                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
        <div class="row action-footer">
            <div class="col-12 text-right">
                <button type="button" pRipple (click)="cancelServiceLevel()" class="cust-btn-outlined">Cancel</button>
                <button type="submit" pRipple (click)="submitServiceLevel()" class="cust-btn" *ngIf="global.rolePermissions.work.serviceQuality.isViewEdit == true">
                    {{ isAddMode ? 'Save Service Quality Objective' : 'Update Service Quality Objective'}}
                </button>
            </div>
        </div>
    </form>
    <!-- End body content -->
</div>
