.player-left{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 #B3B6C7;
    /* width: 520px; */
    /* height: 600px; */
    width: 50%;
    padding: 24px 24px;
}
.player-right{
    /* background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 #B3B6C7; */
    /* width: 520px; */
    /* height: 600px; */
    width: 50%;
    /* height: 600px; */
    
    /* padding: 24px 24px; */
}

div#controls {
    color: white;
    display: table;
    /* margin: 10px auto 25px; */
    text-align: center;
    width: 100%;
    background-color: #3b454d;
}
.plspan {
    margin-right: 50px;
    font-size: 15px;
    vertical-align: middle;
}

#play-btn {
    font-size: 20px;
}

#mute {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

#refresh-btn {
    font-size: 20px;
    margin-left: 10px;
}

.pagination {
    display: flex;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
    cursor: pointer;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #0D4DCE;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    z-index: 2;
    color: #0D4DCE;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #012169;
    border-color: #012169;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.highlight {
    background-color: #D6E3FD !important;
    border-left: 4px solid #4A82F1;
    color: #000 !important;
    font-weight: 500;
  }
.hover-conversation:hover{
    background-color: #D6E3FD !important;
    border-left: 18px solid #4A82F1 !important;
    cursor: pointer;
}
.hover-conversation:hover .hover-data1{
    left: 0 !important;
    padding-left: 10px;
    cursor: pointer;
}
.hover-conversation:hover .hover-data2{
    right: 63px !important;
    /* cursor: pointer; */
}
.hover-conversation:hover .hover-notes-data1{
    left: 0 !important;
    padding-left: 6px;
    cursor: pointer;
}
.hover-conversation:hover .hover-notes-data2{
    right: 35px !important;
    /* cursor: pointer; */
}
.hover-conversation:hover .hover-data3{
    margin-left: -2px !important;
}
.hover-topic:hover{
    padding: 0px !important;
    background-color: #D6E3FD !important;
    border-left: 18px solid #4A82F1 !important;
    /* cursor: pointer; */
    font-weight: 600;
}
.hover-topic:hover .numberCircle{
    margin-left: 2.3% !important;
}
.hover-topic:hover .numberCircle{
    margin-left: 2.3% !important;
}
.hover-topic:hover .numberCircle{
    margin-left: 2.3% !important;
}
.hover-topic,.hover-conversation{
    cursor: pointer;
}
.hover-topic:hover .hover-topic-report1, .hover-topic:hover .hover-topic-report2{
    margin-left: -3px !important;
}
.ques-ev-forms{
    /* white-space: nowrap;  */
  /* width: 60%;  */
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* position: relative; */
  pointer-events:none;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  color: #3A3E50;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 20px;
    position: relative;
}

.ques-ev-forms:after {
    content:"";
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    /* bottom: 14px; */
    width: 33px;
    height: 20px;
    z-index: 1;
    pointer-events:initial;
  }
  
  .ques-ev-forms:hover:after{
    cursor: pointer;
  }
  
  .tooltips {
    /* visibility: hidden; */
    display: none;
    opacity: 0;
    /* max-width: 200px; */
    padding: 0.25rem 0.5rem;
    color: #000;
    /* text-align: center; */
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 4px 0 rgba(117, 121, 140, 0.5);
    margin: 5px 15px;
    position: absolute;
    z-index: 99;
  }
  
  .tooltips:before{
    position: absolute;
    content: '';
    left: 30px;
    top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
  }
  .ques-ev-forms:hover + .tooltips {
    /* visibility: visible; */
    display: block;
    transition: opacity 0.5s ease;
    opacity: 1;
  }

  .notes-style{
    font-size: 15px;
    vertical-align: middle;
  }

  .notes-popup{
    border: 1px solid #bbb1b1a6;
    height: auto;
    width: 44%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 1px 4px 0 rgba(117, 121, 140, 0.5);
    /* display: none; */
    z-index: 99;
  }
  .card-postion{
    position: absolute;
    top: 40px;
    left: 22%;
    padding: 0 8px 8px;
  }

  .save-note-btn{
    height: 22px;
    padding: 0 7px;
    font-size: 13px;
    float: right;
    background-color: #0D4DCE;
    color: #fff;
    border-radius: 4px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 20px;
    border: 1px solid #0D4DCE;
    outline: 0 !important;
  }
  .ipt-notes-box{
    height: 28px;
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  .notes-hover:hover{
      font-weight: 700;
  }

  .info-icon-style .tooltip-arrow{
      display: none;
  }

  .score-card{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px 0 #B3B6C7;
  }
  .score-card-data{
    font-size: 15px;
    font-weight: 600;
    color: gray;
    display: flex;
    justify-content: space-between;
    padding: 5px 24px;
  }
  .savebtn-disable{
      background-color: #aaadb3;
      cursor: not-allowed;
      border: 0;
  }
  .evaluate-sub-title{
    display: flex;
    justify-content: space-between;
  }
  .evalform-card{
      height: 52px;
      /* margin: 0 32px */
  }

  .copy-clone-style{
    font-size: 10px;
    font-weight: 600;
  }

  /* .cpy-txt{
    background: #fff;
    padding: 5px;
    position: absolute;
    top: -34px;
    right: -68px;
    z-index: 99;
    border-radius: 4px;
    width: 160px;
    border: 1px solid lightgrey;
    color: #3A3E50;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 1px 1px 3px 0 #B3B6C7
  } 
  .cpy-txt::after{
    content: " ";
    position: absolute;
    left: 82px;
    top: 29px;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #B3B6C7 transparent transparent transparent;
  } */

  .copy-tick-ico{
    /* color: #0D7744; */
    color: #5b81ed;
    font-size: 18px;
    vertical-align: bottom;
    cursor: pointer;
  }

  .copy-coss-ico{
    /* color: #D10606; */
    color: #a3a3a3;
    font-size: 18px;
    vertical-align: bottom;
    cursor: pointer;
  }

  .copy-tick-ico:hover{
    color: #0D7744;
    font-weight: 600 !important;
  }
  .copy-coss-ico:hover{
    color: #D10606;
  }

  .confirm-box-style{
    background: #fff;
    padding: 5px 5px;
    position: absolute;
    top: -52px;
    right: -100px;
    z-index: 99;
    border-radius: 4px;
    width: 215px;
    border: 1px solid lightgrey;
    color: #3A3E50;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 1px 1px 3px 0 #b3b6c7;
  }

  .confirm-box-style::after{
    content: " ";
    position: absolute;
    right: 96px;
    top: 48px;
    margin-left: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: #B3B6C7 transparent transparent transparent;
  }



 