.wfm h1,h2,h3,h4,h5,h6,li,p,a,button,label,textarea{
    font-family: sans-serif;
  }
  
  .wfm table th,td{
      font-family: sans-serif;
  }

  .wfm h1,h2,h3,h4,h5,h6, label{
    color:#303030;
    font-weight: 500;
}
  
.form-control{
    background-color: #FFFFFF;
    border: 1px solid #B3B6C7;
    border-radius: 4px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.1rem;
    /* line-height: 2.375rem; */
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

a{
    color:#007ad9 !important;
    cursor: pointer;
}

a:hover{
    color:#012169 !important;
}

.dropdown-item, .dropdown-item i{
    color:#303030 !important;
}

body .ui-dialog .ui-dialog-footer{
    border:none;
}

button:disabled {
    background-color: #97929248;
    cursor: not-allowed;
}

.cust-dialog-info .ui-dialog{
    width:600px;
}

.media-type-header,.media-type-body{
    width:105px;
    padding-left: 15px;
    padding-right: 15px;
}

.cust-input-field{
    float: left;
    width: 70px;
    margin-right:5px;
}

/* .cust-input-field input{
    height: 30px;
} */

.percent-symbol-outer{
    float: left;
    padding: 5px;
    font-weight: 700;
}

.interation-text{
    max-width: fit-content;
    text-align: left;
    padding-top: 5px;
    margin-left:35px;
}

.interation-field-group{
    max-width: fit-content;
    flex: auto;
}

.service-level-header,.service-level-body{
    max-width: 610px;
    flex: auto;
}

.shrinkage-header,.shrinkage-body{
    max-width: fit-content;
    flex: auto;
}

.media-type-body{
    display: block;
}

.mediatype-label{
    white-space: nowrap;
}

.mediatype-label,.service-level-label,.shrinkage-label{
    display: none;
}

.service-section-container{
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin-top:15px;
}

.service-section-header{
    margin-bottom: 5px;
}

.service-section-header h6{
    font-weight: 600;
}

.service-section-container hr{
    margin-top:0;
    margin-bottom: 0;
}

@media screen and (max-width:1404px){
    .service-section-container{
        width:100%;
    }
}

@media screen and (max-width:1136px){
    .cust-input-field{
        width: 70px;
    }

    .cust-input-field input{
        font-size: 12px;
    } 

    .interation-text{
        font-size: 12px;
        padding-right:0px;
    }
}

@media screen and (max-width:1110px){
    .service-level-header,.service-level-body{
        max-width: 540px;
    }
}

@media screen and (max-width:1048px){

    .service-level-header,.service-level-body{
        max-width: 506px;
    }

    .cust-input-field{
        width: 60px;
    }
}

@media screen and (max-width:991px){

    .service-level-header,.service-level-body{
        max-width: 600px;
    }

    .cust-input-field{
        width: 80px;
    }

    .cust-input-field input{
        font-size: 14px;
    } 

    .interation-text{
        font-size: 12px;
        padding-right:10px;
        margin-left: 50px;
    }
}

@media screen and (max-width:900px){
    .service-section-header{
        display: none;
    }

    /* .media-type-body{
        display: none;
    } */
    
    .mediatype-label,.service-level-label,.shrinkage-label{
        display: block;
        padding-top: 15px;
        white-space: nowrap;
    }

    .interation-text{
        font-size: 14px;
        margin-left: 0;
        max-width: 100%;
        flex: auto;
    }

    .service-level-body,.shrinkage-body{
        max-width: 100%;
        flex: auto;
    }
   
    .shrinkage-percent-symbol{
        top:47px;
    }
}

#avg_speed_of_answer_fieldset input{
    width:70px;
    padding-right: 0;
}

/****** Dialog - Forecasting detail **********/
.view-content div{
    line-height: 2rem;
}

.view-content span{
    font-size: 1em;
}

.view-content .text-key{
    color:#575757;
    padding-right: 10px;
}

.view-content .text-val{
    color:#111111;
    padding-right: 10px;
    font-weight: 600;
}

.card-body{
    padding-top: 0;
    padding-bottom: 0;
}


